[2017-04-06 22:40] nunomaduro opened #3 "The build feature is broken"
**Version:** 1.1.4
**PHP Version:** 7.1.2

**Description:**

After adding the feature "Adds compatibility with Laravel Services Providers" the build feature is broken. The main cause is the new following line on the Application.php:

[code]

Since now there is a require on the code, the following error appears on the usage of the Phar:

_PHP Warning:  require(phar:///Users/nunomaduro/Projects/lara

[2017-04-07 06:31] ilesinge commented on #3
Try to add 'config/' in Build::$structure ? This should do the trick.

[2017-04-08 00:40] #3 closed

[2017-06-07 15:09] StyxOfDynamite opened #5 "composer create fails at post-install"
[code]

[2017-06-08 14:47] nunomaduro commented on #5
@StyxOfDynamite Checking the issue. What is the php version that you are using?

[2017-06-08 14:51] StyxOfDynamite commented on #5
Opps. Sorry

[code]

[2017-06-08 14:51] #5 closed

[2017-06-08 14:51] StyxOfDynamite commented on #5
Missed the requirement for PHP >= 7.1. Apologies for the interuption.

[2017-06-26 05:15] jagroop opened #15 "Build Error"
when i run this command
[code]

getting below fatal error

#### system config
- PHP 7.0
- OS Ubuntu
- Webserver : APACHE 2

[code]

[2017-06-26 05:16] jagroop commented on #15
:man_facepalming: PHP 7.1 !!
sorry for the false alarm :unamused:

[2017-06-26 05:16] #15 closed

[2017-07-02 13:54] angelside opened #18 "Builded file not work (search for init.php)"
**➜ php zonda build zonda**
[code]
**➜ php builds\zonda**
[code]
**➜ php -v**
[code]

---

I find a reference for init.php in [Build.php](https://github.com/nunomaduro/laravel-zero/blob/stable/app/Console/Commands/Build.php#L106) but no idea how fix it.

[2017-07-02 21:44] nunomaduro commented on #18
Thank you so much for reporting that issue. 👍

The issue is now **fixed** on the v2.0.13. ✅

[2017-07-02 21:44] #18 closed

[2017-08-14 07:35] sarfraznawaz2005 opened #23 "Any chance to support PHP 5.6 ?"
Any chance to support PHP 5.6 as it is still widespread ?

Thanks

[2017-08-14 22:12] GrahamCampbell commented on #23
For what it's worth. 👎

Mainly because Laravel 5.5 no longer supports PHP 5.6. :)

[2017-08-14 22:54] nunomaduro commented on #23
Sorry @sarfraznawaz2005, but I agree with @GrahamCampbell.

[2017-08-14 22:54] #23 closed

[2017-08-25 03:11] allanfreitas opened #25 "Laravel-Zero + Eloquent And Other current Laravel Stuff"
Hi,

We can add to the dependencies and use things like Eloquent?
Will be needed something extra or only add the dependency and de config/database.php file?

[2017-08-25 17:58] nunomaduro commented on #25
Hey @allanfreitas,

I would like to use this issue in order to start a discussion with developers that like Laravel Zero. I hope you don't mind. 😏

Your question is actually a question that surrounds Laravel Zero and it will directly effect next releases of this project. 🤔

Laravel Zero was build to be the most **simple and minimalist** as possible, and that's why he includes only 3 main **Laravel

[2017-08-25 18:36] allanfreitas commented on #25
@nunomaduro I think the same way.

The console with Database Support it's very helpful, If not included on the core, but with a easy *extra package* to do this integration like **laravel-zero/eloquent**.

I work with many clients, and I'm using the [climate](http://climate.thephpleague.com/) from phpleague :)And setup the connection by hand its a waste of my time :).

A Laravel Standalone Cli with

[2017-08-25 19:18] deleugpn commented on #25
I know next-to-nothing about Laravel Zero, but I came from Twitter to give my 2 cents.

Have you considered making a database:install command? When issuing it on a clean installation, you throw an exception saying `composer require `illuminate/database` (Eloquent) by identifying that the package is not installed (perhaps trying to instantiate Capsule?).

After the user has manually required the de

[2017-08-25 19:27] nunomaduro commented on #25
@deleugpn Actually I find your idea super interesting! 😏

[2017-08-25 19:44] ivanPrunier commented on #25
@deleugn That would actually be super cool!

[2017-08-26 03:59] introwit commented on #25
So it would work with a file based database, or the config file would have the credentials and we would setup a PDO connection between a MySQL, etc. database and work with it? @allanfreitas how do you see it?

[2017-08-26 04:21] allanfreitas commented on #25
@introwit , today I need to create a basic connection and execute my queries :)
With the proposal of @deleugpn , I think it's a good start point.

Something like this will be great too:

#The **component** command
`php application component:install `

- with no Args List the components current avaliable for install
- with arg like database|cache|queue *(some packages will not be easy, but these 3

[2017-08-26 04:31] introwit commented on #25
Database component makes sense for now. Not sure about others though. Thank you for putting the time into it @allanfreitas & @deleugpn , much appreciated ❤️

[2017-08-26 08:36] nunomaduro commented on #25
Thank you all for putting time/cents 😂 into this discussing. I really appreciate your help.

Preparing a release for this #LaraconEU easy install of database component as main feature.

The release of the new version will also close the thread. ✅

[2017-08-26 13:25] allanfreitas commented on #25
I'm avaliable to help with coding to :) Or other cents if you want, you can reach me on twitter, or by email, I've already sent you a email from my email right now :)

https://twitter.com/allanfreitas

[2017-08-27 21:01] nunomaduro opened #44 "[3.3] Rename command don't update application name in configuration"

[2017-08-27 22:00] nunomaduro commented on #25
Hey @allanfreitas, I just made a silence release of Laravel Zero 3.3.

Normally php application component:install should response to your problem. Can you check ?

[2017-08-28 02:54] allanfreitas commented on #25
@nunomaduro , Sure, I will check it tomorrow, I need to parse some client data :),
And after I will give the feedback here.

[2017-08-28 21:51] allanfreitas commented on #25
@nunomaduro , how I can use this **silence release**, I've not found the Tag 3.3 :)

[2017-08-28 22:04] nunomaduro commented on #25
@allanfreitas Please perform:

1. `composer clear`
2. `composer create-project --prefer-dist nunomaduro/laravel-zero your-app-name`

[2017-08-28 22:50] allanfreitas commented on #25
![image](https://user-images.githubusercontent.com/304086/29796824-b802c8e2-8c29-11e7-99ee-935620b7618b.png)
Working Awesome!!!!!

Just Used:
[code]

[2017-08-29 10:20] introwit commented on #25
@allanfreitas thank you so much Allan :)

[2017-08-29 10:24] nunomaduro commented on #25
@allanfreitas Thank you so much for that beautiful feedback! Really glad that you like it ☺️

[2017-09-03 20:16] nunomaduro commented on #44
Moved to project todolist.

[2017-09-03 20:16] #44 closed

[2017-09-04 21:54] vyuldashev opened #53 "[3.5 - Proposal] Scheduled Tasks"
Hello,

A very missing thing in this awesome framework is Scheduler. The only thing which stops me from using Laravel Zero for my console applications is that it misses scheduler.

Any plans for this feature?

[2017-09-04 22:01] nunomaduro commented on #53
@vyuldashev Yes. Is in our Roadmap for release 3.5. I will leave this issue open was proposal.

[2017-09-05 02:06] rookie0 opened #54 "Remove unnecessary files when build"
It's size is 8M after build(empty project).
Although storage space is negligible in this day and age.
But i still think the smaller the better, and what do u think?

[2017-09-05 05:59] nunomaduro commented on #54
I totally understand your point of you view @rookie0. Today the build command is taking the following structure:

[code]

The problem is the vendor folder, that after a `composer install` he becomes quite full. Do you have any sugestion?

[2017-09-05 06:16] rookie0 commented on #54
I am think about based on composer autoload(classmap files psr4 etc.) to add necessary files and dirs to phar archive.

Is it feasible?

[2017-09-05 07:52] jkniest opened #55 "[4.0 Proposal] Auto Detecting commands"
Hello everyone,

I would like to implement the "auto registering commands" feature that is also in laravel 5.5. (See [Docs](https://laravel.com/docs/5.5/artisan#registering-commands)).

That means, all commands in the `app/Commands` directory (the file path would be configurable) would be registered automatically without the need to register them manually in the config file.

This just increases w

[2017-09-05 08:03] rookie0 commented on #55
WANTED :smile:

[2017-09-05 08:07] introwit commented on #55
Makes sense for me. 👍 @nunomaduro your thoughts?

[2017-09-05 11:29] nunomaduro commented on #55
@jkniest I am definitely interested in that.

This should be an array of directories on the config. Any none, the framework will automatically assign `app/Commands`.

I will leave this issue open while we wait for the development. Thanks for the help!

[2017-09-05 11:30] nunomaduro commented on #54
@rookie0 Thanks for the suggestion! I will investigate this proposal and give you feedback after!

[2017-09-05 11:36] jkniest commented on #55
Ok, cool.. I will start this evening with the development :)

[2017-09-05 13:58] ashleyhood commented on #54
It would be better to create a list of common directories to exclude from each vendor directory (e.g. vendor/laravel-zero/framework/tests/).  The composer classmap will not tell you how to include things like binary files, images or text files etc.

It could help to look at [box2](https://github.com/box-project/box2) and how they do it.  They have an array of directories and files to include and a

[2017-09-05 19:39] GrahamCampbell commented on #55
Auto detecting commands is easy. Here's some code lifted from from kernel of an app I have:

[code]

[2017-09-05 19:40] GrahamCampbell commented on #55
Note that this is not exactly high performance, but fast enough if you don't have many commands, and if you don't care about bootstrapping time, compared to with http where you might.

The performant way to do this would be to have a command that cached the classes to register, similar to how route caching works in the core framework.

[2017-09-06 06:39] jkniest commented on #55
I agree with the performance part but the caching commands would add new documentation and explanation, because many users will be confused (at first) why there old commands are still running, even if their not in the $command array anymore (because their cached).

As an alternative, we could make the auto detection optional. For example a bool value in the config file, wether they want to use it.

[2017-09-06 07:51] ashleyhood commented on #55
I would of thought this would be similar to Laravel 5.5 package autoload that parses the composer/installed.php so when you add a new package through composer the post update script will trigger a command to rebuild the cache.

This would be additional to the  current way of adding commands.

[2017-09-06 08:27] jkniest commented on #55
@ashleyhood Yeah.. but in the current state laravel loads all commands when the application starts, not when composer is updating / dumping the autoload.

I think you are mixing here two different features: Package autoloading & Command autoloading :)

[2017-09-06 08:32] ashleyhood commented on #55
@jkniest your right, I did mix the two up 😄

Should really read and understand before posting 😆

[2017-09-06 19:05] nunomaduro commented on #53
The feature development is on progress. Concerning the API anyone have suggestions? I was thinking about two options.

1. On the command class:

[code]

2. On the config.php:

[code]

What do you guys think? 😏

[2017-09-06 19:08] vyuldashev commented on #53
The first approach looks great. Big configuration files will look dirty.

[2017-09-06 19:12] introwit commented on #53
As @vyuldashev said, the first option looks neat :+1:

[2017-09-08 18:49] nunomaduro commented on #54
Thanks! I will take a look!

[2017-09-20 10:03] antfig opened #63 "Cache example"
I'm with problems to use cache component. I already installed the component but can't configure and use properly. Can you give some example :)

Thanks for this great tool :)

[2017-09-20 21:21] nunomaduro commented on #53
For those that are interested on testing this feature:

`composer create-project --prefer-dist laravel-zero/laravel-zero:dev-release-3.6.0`

[2017-09-20 23:01] nunomaduro commented on #63
First you should include the facade:

`use Illuminate\Support\Facades\Cache`

Usage:

[code]

[2017-09-20 23:02] nunomaduro commented on #63
@antfig Please don't forget to use the version 3.6. 👍

[2017-09-20 23:03] nunomaduro commented on #53
This feature is now merged on stable! Enjoy! 👍

[2017-09-20 23:03] #53 closed

[2017-09-21 14:41] antfig commented on #63
with update to 3.6 I have this error:

[code]

I created the configuration file for cache like this:
`config/cache.php`
[code]

[2017-09-21 15:07] antfig commented on #63
It's working now :D
I need to update and add this settings to config.php file.

thanks

[2017-09-21 15:29] antfig commented on #63
Now i'm with problems to use filesystem cache :p

[code]

[2017-09-21 19:31] nunomaduro commented on #63
Please perform an `composer update` and then:

`php your-app-name component:install illuminate/filesystem`

[2017-09-24 15:36] nunomaduro commented on #63
@antfig Do you have news? Otherwise I will close this issue.

[2017-09-24 15:37] nunomaduro commented on #55
@jkniest Do you have news on this? Otherwise I don't mind of implementing this. 😊

[2017-09-25 07:56] jkniest commented on #55
Oh sorry.. I haven't much time in the last days.. Feel free to implement this feature.. :-)

[2017-09-25 11:04] antfig commented on #63
@nunomaduro sory for the delay, works like a charm ;)
Thanks :D

[2017-09-25 11:29] #63 closed

[2017-09-25 11:29] nunomaduro commented on #55
@jkniest I will see! Thanks for the feedback!

[2017-10-09 08:16] Razmatez commented on #25
Is there a way to run the `migrate` command after the illuminate\database package is installed?

e.g `php todo migrate`

[2017-10-09 09:16] nunomaduro commented on #25
@Razmatez I will check it tonight 😎

[2017-10-09 22:19] nunomaduro commented on #25
@Razmatez Hey buddy. No time today for checking your issue. Tomorrow night I will take a look.

[2017-10-10 08:44] Razmatez commented on #25
Thanks. Whenever you have time 😊

[2017-10-19 23:09] nunomaduro commented on #25
Hey @Razmatez. I made a small POC today. Do you mind of validate it? Instructions:

This should list all `migrate` related commands of Laravel.

If all is good, I will perform a small refacto and than include this on the next version.

[2017-10-20 03:52] Razmatez commented on #25
I have tested, it is working as expected ☺

[image: Inline image 1]

On Fri, Oct 20, 2017 at 1:09 AM, Nuno Maduro <notifications@github.com>
wrote:

[2017-10-20 19:30] nunomaduro commented on #25
@Razmatez The next release of Laravel Version have now migrations! Check the changelog & enjoy!

[2017-10-20 19:30] #25 closed

[2017-10-24 21:36] clarkeash opened #77 "[4.0] Disable scheduler"
Hi, Is it possible to disable the schedule commands as my application has no use for them?

[2017-10-24 23:02] nunomaduro commented on #77
Hummm. I may add that feature this week. 👍

[2017-10-26 21:48] nunomaduro commented on #55
Just feature just got implemented in: https://github.com/laravel-zero/framework/commit/dec0346e086d48a2bcf343ad2541a86eb8616edc 👍

[2017-10-26 21:48] #55 closed

[2017-11-02 23:45] nunomaduro commented on #77
@clarkeash For info this feature will be available on the major release 4.0.

[2017-11-03 08:28] clarkeash commented on #77
Thats great 😄

[2017-11-05 04:19] edbizarro opened #78 "Class 'NunoMaduro\Collision\Provider' not found"
Hi Nuno!,

I'm working again on my project after a while and after I update my dependencies I start getting this error

![screenshot2017-11-0502 14 12](https://user-images.githubusercontent.com/84926/32411915-0e28b6ca-c1cf-11e7-8405-72825ccd8058.png)

All versions after `3.6.12` throw this error, the `3.6.12` seems fine.

Tks!

[2017-11-05 12:27] nunomaduro commented on #78
Looks like you are using an old Laravel Zero version.

Anyway, I have submitted a PR to fix that issue: https://github.com/edbizarro/changelogger/pull/1 👍

[2017-11-05 12:27] #78 closed

[2017-11-05 13:34] edbizarro commented on #78
Tks man!, It's weird because collision already is a zero dependency, right?

[2017-11-05 13:39] nunomaduro commented on #78
@edbizarro You are right. Anyway we will not have that problem on the version 4.0. I am preparing a new major version 😊

[2017-11-05 13:41] edbizarro commented on #78
Nice!

[2017-11-08 22:52] nunomaduro commented on #77
@clarkeash Laravel Zero 4 released. The feature that you requested is on it!

Checkout the documentation: http://laravel-zero.com/#/?id=scheduler

[2017-11-08 22:52] #77 closed

[2017-11-14 02:32] MelonSmasher opened #79 "Build fails when `app.production` => true"
When I attempt to build my cli app with the `production` property set to `true` the build is not able to run and I get an error saying that the `app` namespace has no commands registered.

[code]

Am I doing something wrong?

[2017-11-14 06:50] nunomaduro commented on #79
Apparently the build feature is broken since last release. I will try to check this issue as soon as possible. Thanks for reporting!

[2017-11-14 18:49] mprandot opened #80 "Command not defined"
Hello!
i can't run the "Hello" command in a fresh package instalation.

[Symfony\Component\Console\Exception\CommandNotFoundException]
Command "hello" is not defined.

I've created a new command and happens the same thing.

Somebody can help me?

[2017-11-14 18:50] mprandot commented on #80
My app name = `fatura-online`
I'm running this `php fatura-online hello`

[2017-11-14 18:56] mprandot commented on #80
Updating:
The hello works only if is the `default-command` in `config/app.php`
'default-command' => App\Commands\HelloCommand::class,

[2017-11-14 19:14] nunomaduro commented on #80
I guess the feature that auto detects commands is failing on your environment. Can you give me more details? What is your OS?

[2017-11-14 19:38] mprandot commented on #80
Yes! I'm using Ubuntu 17.10, PHP 7.1 and Apache2.

[2017-11-14 19:46] nunomaduro commented on #80
@mprandot Ok! There is actually a problem with the auto detection of commands on Ubuntu. I will fix it on the new few hours 👍

[2017-11-14 20:01] mprandot commented on #80
Ok! No problems! I will be waiting... Thanks for the package, is very helpfull

[2017-11-14 22:04] MelonSmasher commented on #80
I am experiencing this on OSX 10.13.1 with php7.1 via brew. Though when the app is not compiled I do see my own commands.

Uncompiled Output:

[code]

Compiled Output:

[code]

[2017-11-14 22:15] MelonSmasher opened #81 "Remove `app`, `make`, & `install` commands from compiled phar"
The `app`, `make`, and `install` command sets seem unneeded for a production ready bin. Is it possible to have them removed or hidden when the app is compiled?

[2017-11-14 22:19] MelonSmasher commented on #79
I looked at `config/app.php` in the compiled phar and `production` is set to true. So this does seem to get set automatically, so it's probably not a huge deal if the build fails when this is set manually. However the compiled version does not behave in the same way as the uncompiled version. The app command set shows up on a compiled phar. See #81.

[2017-11-14 22:21] MelonSmasher opened #82 "app.name and app.version not displaying with compiled phar"
The application name and version seem to revert to the default when the application is compiled. From the outside it looks like the compiled version is ignoring `config/app.php`. Not sure if this is related to #81?

[2017-11-14 22:23] MelonSmasher commented on #80
cc6f323 seemed to fix this for me.

[2017-11-14 23:04] nunomaduro commented on #79
Hey @MelonSmasher! I miss understood the issue. That is a normal behaviour of Laravel Zero. You can't perform a build if you are in production mode.

One feature of the command `app:build` is that it will put your application on production. You don't have to worry about that. 🙂

[2017-11-14 23:05] nunomaduro commented on #80
@MelonSmasher @mprandot Both issues should be fixed on the v4.0.6.

Please perform a `composer update laravel-zero/framework` and tell me the results.

[2017-11-14 23:06] nunomaduro commented on #81
That was a regression introduction recently. The issue should be fixed on the v4.0.6.

Please perform a composer update laravel-zero/framework and tell me the results.

[2017-11-14 23:06] nunomaduro commented on #82
That was a regression introduction recently. The issue should be fixed on the v4.0.6.

Please perform a composer update laravel-zero/framework and tell me the results.

Thanks for reporting that issue! ❤️

[2017-11-14 23:27] MelonSmasher commented on #82
Looks good! Thanks for the quick support!

[2017-11-14 23:27] #82 closed

[2017-11-14 23:28] MelonSmasher commented on #79
Makes sense now that I think about it lol, anyway thanks!

[2017-11-14 23:28] #79 closed

[2017-11-14 23:28] MelonSmasher commented on #81
Looks good!

[2017-11-14 23:28] #81 closed

[2017-11-14 23:29] MelonSmasher commented on #80
It's working for me., thanks.

[2017-11-15 03:06] jaredchu opened #83 "Standalone build succeeded but no command"
As the title, the output of command `app:build` has no command that I put in `App\Commands` .

[2017-11-15 06:56] nunomaduro commented on #83
@jaredchu what version of Laravel Zer are you using? 👍

[2017-11-15 07:06] jaredchu commented on #83
I'm using version v4.0.2, it's the latest version of yesterday.

[2017-11-15 07:08] jaredchu commented on #83
It's also doesn't autoload my commands that I put in `App\Commands`, so I need to declare them manually in `config/app.php`, example:
[code]

[2017-11-15 07:12] nunomaduro commented on #83
@jaredchu Please perform a “composer update laravel-zero/framework” and tell me the results.

[2017-11-15 07:12] nunomaduro commented on #83
The issue should be fixed after the update 😊

[2017-11-15 07:38] jaredchu commented on #83
It's fixed. Thanks a lot.

[2017-11-15 07:38] #83 closed

[2017-11-15 21:18] nunomaduro commented on #80
@mprandot Any feedback? 🙂

[2017-11-22 12:05] mprandot opened #85 ".env not working?"
Hello!

I set a APP_ENV in my .env created in project root, and this always returns null.

`dd(env('APP_ENV'));`

Someone can reproduce this?

[2017-11-22 20:09] nunomaduro commented on #85
@mprandot The DotEnv PHP library is not included on Laravel Zero. Give me some minutes to think about this.

[2017-11-23 00:52] mprandot commented on #85
Ah, no problem! I've found in a illuminate Helper class that has a `env` method, then i thinked "i can use it" :smile:

[2017-11-23 07:20] dimitricappelle opened #86 "Using database and storage in build not working"
I wrote a small local console app that uses a database and storage (downloads).
The app runs perfect except as a standalone build, then the database and storage are not found.

[code]
Is it possible to create a standalone build with database and storage?

[2017-11-23 16:49] TNovalis commented on #85
I don't think we should be using a `.env` for Laravel-Zero. I would recommend just doing something like the following:
`config/filesystems.php`
[code]
This way you can just use the `Storage` facade to put files where you need them. This is similar to how composer handles user configuration (albeit without the fancy facade of course.)

[2017-11-23 16:52] #85 closed

[2017-11-23 17:06] TNovalis commented on #86
You are actually able to override where the sqlite database is.
For a build (or any for that matter), I would recommend putting it into the user's directory like this:
`config/database.php`
[code]
This will set it so your database is in the user's home directory, Ex: `/home/novalis/.your-project/database.sqlite`

You will need to create this file or instruct the user to create it. The reason I rec

[2017-11-23 23:54] nunomaduro commented on #86
@dimitricappelle try the @TNovalis solution and give us feedback 👍

[2017-11-24 05:24] TNovalis commented on #86
@dimitricappelle Also noticed that you said storage as well, I have recently provided an example for this as well in #85 so you can check that out as well.

[2017-11-24 13:40] dimitricappelle commented on #86
Referring to $_SERVER['HOME'] works for both issues.
Thanks!

[2017-11-24 13:40] #86 closed

[2017-11-24 13:56] nunomaduro commented on #86
I may need to specify this on the docs...

[2017-11-25 03:41] MelonSmasher opened #87 "Laravel Cache Facade"
Not sure if this is possible, but is there a way to utilize the Laravel cache facade?

[2017-11-25 08:22] ilesinge commented on #87
Yes it is !

- Require Illuminate/Cache in your project : "composer require illuminate/cache"
- Put a cache.php file in the config folder with the following code (other config options are possible if you want to use another driver or change the cache location for instance):
[code]
- In your command, add the following use statement:
[code]
- And I guess, go cache all the things !
[code]

[2017-11-25 08:34] ilesinge commented on #87
In fact it seems that Illuminate/Cache is already included, so you can skip the first step (composer require)

[2017-11-25 10:05] nunomaduro commented on #87
Hey @MelonSmasher! Check @ilesinge solution and give us feedback! 👍

Thanks @ilesinge for the solution ❤️

[2017-11-25 22:50] MelonSmasher commented on #87
@ilesinge @nunomaduro Thanks guys, works perfectly!

[2017-11-25 22:50] #87 closed

[2017-11-26 03:35] philip opened #89 "laravel-zero/installer fails to install"
The following command fails:
[code]

Output includes:
[code]

However, installing a new project with composer works fine, such as:
[code]

[2017-11-26 16:20] nunomaduro commented on #89
Hey @Philip, seems like you have an old version installed.

Please perform:
`composer global laravel-zero/installer`
`composer global clear`
`composer global require laravel-zero/installer`

And tell me the results. 👍

[2017-11-26 17:28] philip commented on #89
Hi @nunomaduro , attached is the output.

$ composer global remove laravel-zero/installer
Changed current directory to /Users/philip/.composer
laravel-zero/installer is not required in your composer.json and has not been removed
Package "laravel-zero/installer" listed for update is not installed. Ignoring.
Loading composer repositories with package information
Updating dependencies (including requ

[2017-11-26 17:35] nunomaduro commented on #89
There is clearly something weird on this. Please perform:

`composer global remove "laravel-zero/framework"`

`composer global remove "nunomaduro/laravel-desktop-notifier"`

Then try again.

[2017-11-26 17:51] philip commented on #89
I barely understand/speak composer but I get the same result as those aren't installed. Here's my ~/.composer file:
[code]

[2017-11-26 18:18] nunomaduro commented on #89
Sorry @philip. I have no ideia. Let's leave this issue open to understand if someone is having the same problem as you.

[2017-11-26 22:40] TNovalis commented on #89
@nunomaduro Do you happen to **not** have valet?

[2017-11-26 22:41] nunomaduro commented on #89
@TNovalis I have Valet. Do you have this issue?

[2017-11-26 22:47] TNovalis commented on #89
@nunomaduro Did you install valet before or after *laravel-zero/installer*

[2017-11-26 22:51] nunomaduro commented on #89
@TNovalis Valet before. Why?

[2017-11-26 22:54] TNovalis commented on #89
Hmm... since here's how I fixed it.
`composer global remove laravel/valet`
`composer global update`
`composer global require laravel-zero/installer`
`composer global require laravel/valet`
(Technically since it was *cpriego/linux-valet* but they have nearly the same dependencies)

[2017-11-26 22:59] nunomaduro commented on #89
@Philip Try this:

`composer global update`
`composer global remove laravel-zero/installer`
`composer global clear`
`composer global require laravel-zero/installer`

[2017-11-27 02:47] philip commented on #89
@nunomaduro That alone did not fix it but following @TNovalis's steps did. In other words, uninstalling `laravel/valet` first allowed `laravel-zero/installer` to install.

Unrelated, sorry for filing this issue against `laravel-zero/laravel-zero` instead of `laravel-zero/installer` :flushed:

[2017-11-27 07:11] TNovalis commented on #89
It was a dependency issue since `laravel/valet` depends on `illuminate/container` which depends on `illuminate/contracts` which `laravel-zero/installer` depends on.

Running `composer global require laravel-zero/installer --update-with-dependencies` *should* fix the issue without all the steps, I *think*.

[2017-11-27 08:05] nunomaduro commented on #89
@TNovalis @philip Thanks a lot for this info. I will update the docs tonight with some kind of `troubleshooting` section.

[2017-11-27 20:16] svenluijten opened #90 "Distributing built project via composer"
Hi 🙂 I'm intrigued by this project, but I have a question. Can I distribute my built project via composer/packagist? So people could do `composer global require vendor/my-zero-project`?

I couldn't find anything about this in the docs, and AFAIK the `bin` option in a `composer.json` doesn't support `.phar` files, so I won't be able to use that.

Thanks in advance!

[2017-11-27 20:29] nunomaduro commented on #90
@svenluijten Good question! Give me some minutes to perform some tests.

[2017-11-27 20:45] nunomaduro commented on #90
@svenluijten It's working ❤️

You can distribute your project like the following example: https://github.com/laravel-zero/installer/tree/composer-with-build

[2017-11-27 20:53] svenluijten commented on #90
Oh sweet! Thanks for the quick response, and I'm glad this (admittedly inadvertently) solved another issue you were having 🎉

[2017-11-27 20:53] #90 closed

[2017-11-28 09:10] martylamoureux opened #91 "[4.0.9] Built application seems corrupted"
Hi !

I've just updated to the last framework version (4.0.9) and the built binary doesn't work.

Here's what I have when I launch it:

[code]

I've just tested out with a fresh install, got the same :

[code]

Thanks for the great work you made for this project 👍

[2017-11-28 13:11] nunomaduro commented on #91
hey @martylamoureux! Looks like your issue comes from https://github.com/laravel-zero/framework/pull/102.

I will take a look tonight.

[2017-11-28 19:28] nunomaduro commented on #91
@martylamoureux Your issue should be fixed on the version `v4.0.10`.

[2017-12-03 15:52] #89 closed

[2017-12-03 18:47] mikeerickson opened #93 "Execute artisan migration etc commands"
Is it possible to execute standard artisan commands (in my base, need to execute `artisan migrate` and `artisan db:seed`

[2017-12-03 23:05] nunomaduro commented on #93
@mikeerickson The artisan migrate yes. Just install the database component: http://laravel-zero.com/#/?id=database

The db:seed I have to the check. I will tell you during this week.

[2017-12-04 03:18] mikeerickson commented on #93
@nunomaduro Curious if call the `artisan migrate --seed` would work as well (see above).  Please let me know your findings before I get too deep.  i am going to rewrite one of our CLI tools (which is now a "big" Lumen project) and would love to make it a slim CLI

[2017-12-04 10:04] nunomaduro commented on #93
@mikeerickson I will check it tonight! 👍

[2017-12-04 11:04] lesstif opened #94 "How can i use Laravel Log Facade."
when i used laravel log facade, i got the BindingResolutionException.

[code]

[code]

how can i instantiation Log facade.?

[2017-12-04 21:47] nunomaduro commented on #91
@martylamoureux Like I said. This is now ok!

[2017-12-04 21:47] #91 closed

[2017-12-04 22:34] nunomaduro commented on #93
@mikeerickson For information, your feature is a work in progress on the release `v4.0.12`.

[2017-12-04 22:35] mikeerickson commented on #93
@nunomaduro Cool, thanks for the update!

[2017-12-04 22:38] nunomaduro commented on #94
The `illuminate/log` component is not included on the Laravel Framework. If you want, I can develop during this week a feature like: `php <your-application-name> install:log`.

[2017-12-05 02:15] philip opened #95 "[Proposal] Add tool to launch a browser"
RFC: tool to launch a browser window. It might look like one of:

    $browser->open($url);
    $lz->openBrowser($url);

In its simplest form it'd call the likes of:

    // Linux
    xdg-open "$url"

    // macOS
    open "$url"

    // Windows
    start "$url"

A few potential features:

* Allow defining full paths to browsers on the system (e.g., `'firefox' => '/usr/bin/firefox'`)
* Implement b

[2017-12-05 02:27] philip opened #96 "[Proposal] Helper for platform detection"
An action's definition may depend on the platform. For example, issue #95 launches a browser window and must know the platform / operating system.

Laravel Zero might require a package for this or offer something simpler as, in theory, this is not overly complicated.

Native Laravel has a `windows_os()` helper but nothing for Darwin or Linux detection. Some actions must differentiate macOS and Lin

[2017-12-05 09:27] martylamoureux commented on #91
Just checked, working great! Thank you! 👍

[2017-12-06 18:32] glopez620 commented on #94
yes that would be great, I am also trying to use illuminate/log with my app

[2017-12-06 22:57] nunomaduro commented on #93
@mikeerickson The database seeds feature of Laravel is now available. Please create a new fresh application of Laravel Zero to test it.

If you have already an application with Laravel Zero please perform `composer update laravel-zero/framework` and check the https://github.com/laravel-zero/laravel-zero/blob/stable/CHANGELOG.md.

[2017-12-06 22:58] nunomaduro commented on #94
@lesstif @glopez620 The illuminate/log component of Laravel is now available. Please perform `php <your-application-name> install:log`.

Usage:

[code]

[2017-12-07 15:53] lesstif commented on #94
it works fine. thanks!

[2017-12-07 15:53] #94 closed

[2017-12-07 17:54] mikeerickson commented on #93
Awesome Sauce, Thank You!

[2017-12-07 20:43] nunomaduro commented on #93
Can I close the issue? @mikeerickson

[2017-12-07 20:50] mfour-merickson commented on #93
By all means :)

On Thu, Dec 7, 2017 at 12:43 PM Nuno Maduro <notifications@github.com>
wrote:

--
*Mike Erickson*

*Team Lead Ongoing Support & Platform OptimizationMFour Mobile
Research(714) 754-1234 <javascript:void(0);>MFour Blog
<https://mfour.com/blog/> <https://mfour.com/>*

[2017-12-07 21:04] #93 closed

[2017-12-08 17:32] philip commented on #96
A similar implementation is this patch:
  https://github.com/sebastianbergmann/environment/commit/eb6dd721cfaca04c27ac61c7201493a8f62f7f1d

It shows one way to implement PHP 7.2's new `PHP_OS_FAMILY` constant. In this sense, it might make sense to only use that class (or one like it) or add the following as a dependency:

https://github.com/sebastianbergmann/environment

[2017-12-09 21:43] mikeerickson opened #97 "What db credentials are used"
Assuming I have installed the database connector, what db credentials are used when DB commands are executed?

[2017-12-10 21:47] nunomaduro commented on #97
Sorry @mikeerickson. But I am not understanding your question. Laravel Zero creates an SQLite database by default and all db commands are working with that database.

If you want to change the db credentials you must edit the `config/database.php` file.

[2017-12-10 22:18] nunomaduro commented on #95
@Philip That is definitely a good idea. I will investigate this during the week. Probably a good idea is making a side package with an adapter for Laravel and Laravel Zero.

[2017-12-10 22:19] nunomaduro commented on #96
Hum, interesting. We could make a package called `laravel-environment` that is only a service provider of `https://github.com/sebastianbergmann/environment`.

[2017-12-11 17:45] ashleyhood opened #98 "Task Scheduling not working for built application"
**Laravel-zero:** 4.0.12

When running `myapp schedule:run` it works as expected but when the project is built into an app, it fails.

The scheduled task is using the full phar url which doesn't work.

    '/usr/bin/php7.1' 'phar:///path/to/builds/myapp/myapp' test:scheduler > '/dev/null' 2>&1

When I run the above command manually I get the following output;

    Could not open input file: phar:/

[2017-12-11 20:33] svenluijten opened #99 "Replacing IOC bindings in tests doesn't work"
I'm having some issues while trying to replace IOC bindings with my own (mocked) versions in tests. This is my situation:

I have a `TestService.php` with one method in it (`someMethod`) that just returns a string to signify it's coming from the actual (non-mocked) version of the class: https://github.com/svenluijten/laravel-zero-ioc-test/blob/master/app/TestService.php.

This service is injected

[2017-12-11 21:12] svenluijten commented on #99
After a bit of debugging by @rickbolton and myself, we found [this line](https://github.com/laravel-zero/framework/blob/c4d9fb74c370d14f4e00cadbb8530325a346f011/src/Application.php#L58), which we thought was the perpetrator. We thought changing that to `Container::getInstance()` instead of manually newing up the container (like it is now) would fix the issue, but it didn't.

Will do some more digg

[2017-12-11 21:54] svenluijten commented on #99
After our discussion in Slack, Nuno found the issue:

The command is instantiated while bootstrapping everything (eg. building the application, etc.), so adding a mock into the container will not register with the command. To temporarily fix this, I've added the following method to my `TestCase` class to resolve the command out of the container again (with the right dependencies), and add it back

[2017-12-11 21:54] #99 closed

[2017-12-12 10:01] ashleyhood commented on #98
I solved this by modifying `laravel-zero/framework/src/Bootstappers/Constants.php` as follows:

    public function bootstrap(): void
    {
        if (!empty($pharPath = \Phar::running(false))) {
            $basePath = dirname($pharPath);
        } else {
            $basePath = defined('BASE_PATH') ? BASE_PATH : '';
        }

        if (! defined('ARTISAN_BINARY')) {
            define('ARTIS

[2017-12-12 10:10] nunomaduro commented on #98
@ashleyhood Thanks! I will check that tonight!

[2017-12-12 21:38] nunomaduro commented on #98
@ashleyhood Can you do a PR please ? :)

[2017-12-13 19:29] nunomaduro commented on #97
@mikeerickson Is this ok?

[2017-12-13 19:43] nunomaduro commented on #98
@ashleyhood Your issue should be fixed on the version v4.0.14. Can you perform `composer update laravel-zero/framework` and test it please?

[2017-12-13 22:09] mikeerickson commented on #97
@nunomaduro

I dont see any `config/database.php` code?  I know how it works in Laravel apps, but I dont see it used in this project?

![image](https://user-images.githubusercontent.com/183153/33964972-2719c7c4-e00f-11e7-801d-700af337ce58.png)

[2017-12-13 22:21] nunomaduro commented on #97
The `database.php` will be created after you install the database component. Please perform:

`php <application-name> install:dabatase`

[2017-12-13 22:26] mikeerickson commented on #97
@nunomaduro Ah, I must have missed that import tidbit.  I am doing a POC and have not done the database integration yet (making sure tool will suffice before I go down the road of writing the CLI app)

[2017-12-13 22:27] nunomaduro commented on #97
@mikeerickson Ok! Perfect! 👍

[2017-12-13 22:27] #97 closed

[2017-12-14 11:56] ashleyhood commented on #98
@nunomaduro version v4.0.14 fixed this.

[2017-12-14 11:56] #98 closed

[2017-12-18 16:25] mikeerickson opened #100 "Unable to get optional parameters working"
I am trying to get alternate parameters working, but not having much luck

Here is the desired signature

[code]

And the snippet from handle method

[code]
Produces following error

[code]

[2017-12-18 16:32] mikeerickson commented on #100
Ahhh, my bad.  I was trying to access the optional option using

[code]

instead of

[code]

[2017-12-18 16:32] #100 closed

[2017-12-20 05:37] mfour-merickson opened #101 "How to hide all artisan commands except the ones created with this tool"
I am looking for a way to hide all the commands (see screenshot, those outlined with red) and only show the commands I have created for our CLI (again, see screenshot, those outlined in green)

![image](https://user-images.githubusercontent.com/31225533/34192742-ca390ede-e504-11e7-93ea-3ff6c5585403.png)

[2017-12-20 11:26] eddiriarte commented on #101
just set: `'production' => false,` in `config/app.php`

[2017-12-20 12:37] nunomaduro commented on #101
@mfour-merickson Check if the @eddiriarte solution works for you.

[2017-12-20 12:58] ashleyhood commented on #54
I have reduced the built phar by about 1/3 the size by excluding *tests* directories and only including files ending with *.php* within the vendors directory.

In my `config/app.php`:

    'structure' => [
        'app'.DIRECTORY_SEPARATOR,
        'bootstrap'.DIRECTORY_SEPARATOR,
        'vendor'.DIRECTORY_SEPARATOR.'(?!(.*tests)).*\.php$',
        'config'.DIRECTORY_SEPARATOR,
        'composer.

[2017-12-20 16:08] mfour-merickson commented on #101
@nunomaduro No, that does not help (I have already done that part) Either it does not work (as documented) or it doesn't take into consideration the installation of the database module `install:database`

[2017-12-20 16:09] mfour-merickson commented on #101
@eddiriarte I have already done that, and while it removes some items, it does not remove the database stuff.  I knew I should have posted this as well (would have wasted this back and forth)

![image](https://user-images.githubusercontent.com/31225533/34216395-05196654-e55d-11e7-87ab-857a3a41a3c2.png)

[2017-12-20 16:12] nunomaduro commented on #101
@mfour-merickson I will check it tonight.

[2017-12-20 16:28] eddiriarte commented on #101
they seem like some eloquent commands... you could try to set
[code]
in your config....

i found that these commands are been registered here: `LaravelZero\Framework\Commands\Component\Illuminate\Database\ComponentProvider`

[code]
didnt tried but maybe a check for "production" before `$this->registerDatabaseService() ... ` do the fix

[2017-12-20 21:44] nunomaduro commented on #101
@mfour-merickson You must set the following configuration on `database.php`:

[code]

[2017-12-20 21:51] mikeerickson commented on #101
OK, this sort of gives me what I want, however, not quite.

I have added these flags to `database.php` and now they dont appear in the menu

However, my custom commands actually call these artisan commands under the hood.  Thus, apply these changes makes the commands unavailable.

What I am trying to accomplish is to create a CLI which custom migrate and seed commands, and prevent the user from ac

[2017-12-20 21:55] nunomaduro commented on #101
@mikeerickson I see multiple solutions to your problem only using Laravel Zero. But first, the project you are working is open sourced?

[2017-12-20 21:57] mfour-merickson commented on #101
Not really open sourced, it is an internal admin CLI (to manage some docker databases).  We use laravel migrations as our source of truth for our databases.

Mike Erickson
Engineering Manager
MFour Mobile Research
(714) 754-1234 <tel:(714)%20754-1234>

MFour Blog <https://mfour.com/blog/>

[2017-12-20 22:27] nunomaduro commented on #101
@mfour-merickson One solution: **Resolve commands on runtime**.

On your `DatabaseBuildCommand.php`:

[code]

[2017-12-20 22:31] nunomaduro commented on #101
@mfour-merickson @mikeerickson There are other solutions, if you don't like the first one.

[2017-12-20 23:05] mikeerickson commented on #101
@nunomaduro I will give it a whirl and see how it goes.... If this simple approach works, that is fine by me.

[2017-12-20 23:07] mikeerickson commented on #101
@nunomaduro Actually, I don't need to create migrations, I just need to execute migration:refresh and db:seed, but I am sure the same approach will apply.

[2017-12-20 23:10] mikeerickson commented on #101
@nunomaduro Which class should be loaded at runtime to allow use of `migrate:refresh`

[2017-12-20 23:26] nunomaduro commented on #101
@mikeerickson To have 0 problems:

[code]

[2017-12-21 00:53] mikeerickson commented on #101
@nunomaduro  I see the point here, I am just going to go the safe route, but if it becomes "too much" then I can clearly see what needs to be used.   Thanks a bunch, I have a working solution (and I learned something new along the way)

[2017-12-21 00:54] nunomaduro commented on #101
No problem! 👊

[2017-12-21 00:54] #101 closed

[2017-12-21 00:56] mikeerickson commented on #101
Thanks for your quick response, greatly appreciated.  And thanks for this nifty tool, I am growing to like it more and more.  It will surely come in handy with our future efforts

[2017-12-22 22:06] nunomaduro commented on #54
Concerning the `exclude non .php` thing, I believe that is super risky, since some packages may depend of some .json or .ini files.

Concerning the `composer install --no-dev`, could be interesting, but currently the build is based on the current installation of the application.

To be completely honest with you - I am waiting the some package, like `box2`, to re-make this build feature.

[2017-12-25 02:10] mfour-merickson opened #103 "How to test that proper parameters have been passed"
When creating tests which call the various commands, how do I supply 'mock' arguments or options to make sure they are valid

[code]

This will not contain the name argument (for obvious reasons, it is not passed)

[2017-12-29 13:12] bloggervista opened #104 "Cannot install"
Whenever i try to install

[code]

[2018-01-01 12:47] nunomaduro commented on #103
@mfour-merickson You wanna call your command with arguments? The method call accept the following args:

`public function call($command, array $parameters = [], $outputBuffer = null)`

So, you are able to call your DatabaseInfoCommand on the following way:

`$this->app->call((new DatabaseInfoCommand())->getName(), ['name' => 'database-name']);`

[2018-01-01 13:47] nunomaduro commented on #104
@bloggervista Please try this: `composer global require laravel-zero/installer --update-with-dependencies`.

If doesn't work please take a look on this issue: https://github.com/laravel-zero/laravel-zero/issues/89

[2018-01-01 15:17] bloggervista commented on #104
no it says like this . I don't know what is happening :(
[code]

[2018-01-01 15:20] nunomaduro commented on #104
Please show me what you have installed globally with composer.

[2018-01-01 15:22] bloggervista commented on #104
[code]

[2018-01-01 15:24] bloggervista commented on #104
tried updating and clear caching also

[code]

it was problem with valet also don't know what is happening here.

[2018-01-01 15:28] nunomaduro commented on #104
@bloggervista Laravel Zero installer is not compatible with symfony/console `v4.0.2`. What are you using that requires that version?

[2018-01-01 15:52] bloggervista commented on #104
i don't know. May be laravel valet etc is using it? How do i fix it?

[2018-01-01 15:53] bloggervista commented on #104
I guess i only installed phpunit, laravel installer and laravel valet i don't know what is creating prblem.

[2018-01-01 16:29] nunomaduro commented on #104
@bloggervista No problem. We will find the issue.

What is the OS that you are using?

[2018-01-01 16:40] bloggervista commented on #104
Macbook Seirra

[2018-01-01 16:55] nunomaduro commented on #104
@bloggervista Please show me that output of this command:

`cat ~/.composer/composer.json`

[2018-01-01 17:05] bloggervista commented on #104
[code]

[2018-01-01 17:13] nunomaduro commented on #104
Type:

1. `composer global remove laravel/installer`
2. `composer global remove laravel/valet `

3. `composer global require laravel-zero/installer `
4. `composer global require laravel/installer `
5. `composer global require laravel/valet `

[2018-01-01 17:20] bloggervista commented on #104
so there is collision due to laravel valet. I removed laravel installer it didn't work and after removing valet it works. i don't if other version of valet will cause this problem

[2018-01-01 17:28] nunomaduro commented on #104
@bloggervista Everything good now ? 🙂

[2018-01-01 17:31] bloggervista commented on #104
@nunomaduro  yea its working perfectly thanks. I will now start working on console app . Thanks again

[2018-01-01 17:33] #104 closed

[2018-01-02 16:38] drbyte commented on #104
Valet doesn't "need" symfony 4 components, but it doesn't reject installation if they are found.
So, something else that was installed before valet may have pulled in the symfony 4 console component. Maybe because it's allowing "the most recent", and not prefer-oldest.

It's a matter of time before many other projects will update to be compatible with symfony 4 components. Hopefully laravel-zero w

[2018-01-02 20:19] nunomaduro commented on #104
@drbyte @bloggervista Just made a small addition to the Laravel Zero documentation where we recommend use tools like `cgr` to avoid this issue:

https://github.com/laravel-zero/website/commit/98759be23049f60690280e8631969fb64628cc0d

[2018-01-09 22:11] MelonSmasher opened #105 "[Proposal] git tag as app version"
It would be great if we could have the git tag or the commit hash or both as the application version. This would alleviate the need to update `config/app.php` when we have a new version.

[2018-01-09 22:19] MelonSmasher opened #106 "Option to disable `make:migration` in phar"
It would be nice to be able to hide the `make:migration` command from the available commands in the compiled phar.

[2018-01-09 22:40] nunomaduro commented on #105
I see. I will take a look tomorrow!

[2018-01-09 23:04] nunomaduro commented on #106
Just confirmed. That's a bug. It will be fixed tomorrow!

[2018-01-09 23:05] nunomaduro commented on #103
@mfour-merickson Got news on this?

[2018-01-09 23:22] nunomaduro commented on #106
@MelonSmasher That issue should be fixed on the `v4.0.23`. Please perform:

`composer update laravel-zero/framework` and perform a new `app:build`.

[2018-01-10 00:13] MelonSmasher commented on #106
Looks good!

[2018-01-10 00:13] #106 closed

[2018-01-10 12:08] ashleyhood opened #107 "Update to version 4.0.22/4.0.23 breaks app"
When I run:

    composer update laravel-zero/framework

and then try to run my app, I get the following error:

    ReflectionException  : Class LaravelZero\Framework\Commands\Component\Vlucas\Phpdotenv\Installer does not exist

I have cleared the `composer` cache, and ran `composer du`. I even deleted my `vendor` directory and `composer.lock` file before running `composer update` but still get t

[2018-01-10 19:49] nunomaduro commented on #107
@ashleyhood Your problem should be fixed on the version `v4.0.24`. Do you mind of performing a `composer update laravel-zero/framework`?

[2018-01-11 09:06] #107 closed

[2018-01-11 17:10] mikeerickson commented on #103
@nunomaduro Yes, all is good, thanks :-)

[2018-01-11 19:38] #103 closed

[2018-01-13 02:07] philip opened #108 "[Proposal] Modify output behavior; optional newlines and icons"
Applications are finding different ways to insert newlines into messages. The two ways I've seen thus far in real-world Laravel Zero apps:

[code]

[code]

Neither approach seems ideal. Could there be a better way? The following feels right:

[code]

Related and while we're here, what if we could also (optionally) enable icons for these? For example, maybe `info()` could be configured to prepend `

[2018-01-14 15:23] nunomaduro commented on #108
Thanks @Philip for this proposal. We can introduce the following features on Laravel Zero:

- Add blank line: I have proposed that modification on the laravel is core: https://github.com/laravel/framework/pull/22783

- Add icons to methods error(), info(), etc: I will think about this.

- Process: Would be useful add a new method called `$this->process(..)` ?

[2018-01-15 16:12] mikeerickson opened #109 "[Question] How to pass all command line parameters"
Assuming I have the following

[code]

How can I setup the command to pass along the command line options

[code]

[2018-01-15 16:27] mikeerickson opened #110 "[Question] How to pass short options (ie -d)"
I am able to use normal options `--name` just fine, however, trying to configure how to use short options `-d` but it throws

[code]

Using the following signature

[code]

[code]

[2018-01-15 19:57] nunomaduro commented on #109
Hey @mikeerickson!

You should use the following signature:

[code]

Usage:

[code]

➜ **php application hello -d -i** or **php application hello -di**
[code]

Is this what you wanted? 🙂

[2018-01-15 20:00] nunomaduro commented on #110
@mikeerickson You should configure your signature on the following way:

[code]

[2018-01-15 20:16] mikeerickson commented on #109
@nunomaduro sounds complete, I will give it a whirl after lunch and see how it works out :-)

[2018-01-15 22:41] mikeerickson commented on #109
@nunomaduro I think to be clearer here, what i am looking to is grab ALL the parameters and options and pass them along to another routine.

[code]

Internally, I am going to pass the parameters/options onto docker, will be come

So I need to get everything after `app:start`

[2018-01-16 22:04] nunomaduro commented on #109
@mikeerickson I am not getting your question. I am sorry. Can you try to explain in other words? Or code a small example on GitHub?

[2018-01-17 00:34] mikeerickson commented on #109
I will give you more precise question tomorrow (out sick today). Sorry for confusion.

[2018-01-17 16:56] mikeerickson commented on #109
OK, assuming I supply the following

[code]

all arguments are optional, and can vary.  So how can I define signature to allow ANYTHING beyond command name, thus the optional params are

[code]

or it could be

[code]

[2018-01-17 16:57] mikeerickson commented on #109
Further, if I *must* define all the possible arguments, how can I mark each of them as optional, the following does not work (typical optional parameters using `=` symbol

[code]

[2018-01-17 20:22] nunomaduro commented on #109
@mikeerickson I have coded an example for you: https://github.com/nunomaduro/example-issue-110

[2018-01-17 21:49] mikeerickson commented on #109
That all makes sense, but does this mean I have to know about (and define) all possible parameters before they are even able to be passed.  Lets say the underlying command supports a new option, I must update my CLI tool to accommodate that update?

[2018-01-17 22:29] nunomaduro commented on #109
@mikeerickson Yes. I am sorry.

I have tried and is too much hacking to make it work.

[2018-01-17 22:38] mikeerickson commented on #109
Ahhhh gotcha!  Sorry it so long to get here :-)

[2018-01-17 22:39] nunomaduro commented on #109
@mikeerickson No problem! Can I close this issue and the issue https://github.com/laravel-zero/laravel-zero/issues/110 ?

[2018-01-17 22:42] mikeerickson commented on #109
One other question, is it possible to associate a value (ie as value to a key -w) ONLY if the option is supplied

[code]

The value for -w should only be necessary if -w is supplied

[2018-01-17 22:46] nunomaduro commented on #109
@mikeerickson You mean: Make the option `-w` non required, but if provided it can not be empty?

[2018-01-17 22:54] mikeerickson commented on #109
@nunomaduro Exactly!

[2018-01-17 23:00] nunomaduro commented on #109
@mikeerickson We don't have that functionally. You can always something like:

[code]

[2018-01-17 23:02] mfour-merickson commented on #109
But there is pre validation occurring before it gets to handle method. If I could disable validation, I could do that!?

Mike Erickson
Engineering Manager
Mfour Mobile Research
www.mfourdiy.com

On Jan 17, 2018, 3:00 PM -0800, Nuno Maduro <notifications@github.com>, wrote:

[2018-01-17 23:11] nunomaduro commented on #109
Ok. There is a option. It may be to heavy.

First. Create a new class that is a copy from **\Symfony\Component\Console\Input\ArgvInput**.

From that new class, remove the lines "throw new RuntimeException(sprintf('The "-%s" option does not exist.', $name[$i]));" and add lines to verify if the input is **not empty**.

Inject that new input on the app/bootstrap: (new LaravelZero\Framework\Applicatio

[2018-01-18 00:01] mikeerickson commented on #109
Awesome, now I see how you are thinking!  I will give it a whirl and let you know how i get on this.  I am going to close this puppy out as it is really quite the edge case (and special conditions)

[2018-01-18 00:01] #109 closed

[2018-01-18 00:11] nunomaduro commented on #110
@mikeerickson Can I close this issue?

[2018-01-18 00:13] #110 closed

[2018-01-18 00:14] mikeerickson commented on #110
Done :-)

[2018-01-18 04:07] MelonSmasher opened #111 "[Bug] Compiled binary does not migrate"
When running the migration command from the compile command only the migration table is created:

[code]

However if I run the command from source my migration does happen.

[code]

[2018-01-19 16:41] MelonSmasher commented on #111
@nunomaduro Hey, I was wondering if I could help out on this bug. I need to deploy my app, but cannot until this is resolved. If I can help let me know where to look in the framework's source.

[2018-01-19 17:14] nunomaduro commented on #111
Still working. I will take a look tonight! 👍

[2018-01-19 17:14] MelonSmasher commented on #111
Thanks man, let me know if there is anything I can do.

[2018-01-19 19:19] nunomaduro commented on #111
Please go to: laravel-zero.slack.com. I am available to help you from there.

[2018-01-19 19:41] philip commented on #108
I see that PR references `newLine()` although I still think it feels wrong to write this:

[code]

Instead of:
[code]
This request was hoping we could optionally automagically wrap output for these commands with newlines without having to add the extra clutter.

[2018-01-19 19:45] nunomaduro commented on #108
@Philip What do you mean exactly about that? Because if I type:

[code]

I will get:
<img width="100%" alt="screenshot 2018-01-19 20 45 14" src="https://user-images.githubusercontent.com/5457236/35168564-ac3f65b4-fd59-11e7-9166-0f795b53a7f1.png">

[2018-01-19 20:18] philip commented on #108
@nunomaduro Some people want more whitespace. Here are two Laravel Zero applications in the wild that indicate this:

This wraps with `line('')`:
https://github.com/jeffochoa/twitter-cli/blob/master/app/Commands/Tweet.php#L63

This wraps with `\n`:
https://github.com/tightenco/lambo/blob/lampho/app/Commands/NewCommand.php#L96

[2018-01-19 20:21] nunomaduro commented on #108
@Philip I understand your point of view. I am ok with the ->newLine option. Thanks anyway! 👍

[2018-01-19 20:21] #108 closed

[2018-01-21 22:04] nunomaduro commented on #111
@MelonSmasher There the glob function used with Laravel's Migrator class. Glob don't work on phar. Please create own migrator class using the following code:

[code]

Then register that singleton on your app using Laravel Service Providers:

[code]

[2018-01-28 00:20] mikeerickson opened #115 "Issue with `BASE_PATH` when running tests inside PHPStorm"
Hey

I am running into the following error when attempting to run my tests while inside PHPStorm (all works fine from CLI)  Any chance you know of how I can get around this issue

![image](https://user-images.githubusercontent.com/183153/35477692-04f937fa-037e-11e8-9203-6443b0e29747.png)

[2018-01-28 02:49] nunomaduro commented on #115
@mikeerickson Seems like of you have changed your `phpunit.xml`. Please show me your `phpunit.xml`.

[2018-01-28 03:09] mikeerickson commented on #115
Here you go, the only thing added was the printer for my `PHPUnitPrettyResultPrinter` project.

[code]

[2018-01-28 23:48] mikeerickson commented on #115
@nunomaduro I will share it later this evening or tomorrow morning (not w/ computer). Remember, it is ONLY an issue when using PHPStorm test runner, all is fine when running on CLI

[2018-01-28 23:49] nunomaduro commented on #115
@mikeerickson I believe you didn't specify the correct autoload on your phpstorm configuration.

[2018-01-28 23:52] mikeerickson commented on #115
peut-être! Je vais jeter un coup d'oeil ce soir

[2018-01-29 02:48] mikeerickson commented on #115
@nunomaduro Nope, that was not the issue.  I have confirmed the correct `autoload.php` file is used AND I have recreated it for good measure

[code]
![image](https://user-images.githubusercontent.com/183153/35491506-bea63152-045b-11e8-90a7-e4898e10ac81.png)

[2018-01-29 02:49] mikeerickson commented on #115
@nunomaduro And, as per your request from earlier, here is the contents of the `autoload.php` file

[code]

[2018-01-29 02:52] mikeerickson commented on #115
@nunomaduro Well, for argument sake, I decided to assign the alternate items (see screenshot) and now it is working as expected

FWIW, I have not had to assign these objects in other projects, but not going to fret that now that things are working

![image](https://user-images.githubusercontent.com/183153/35491617-5eaedcee-045c-11e8-9e26-4c35e709f5b2.png)

[2018-01-29 02:52] #115 closed

[2018-01-29 07:12] arall opened #116 "Scheduler commands order"
Is there any way of defining the cron command order? For example, having two commands running every minute, define which one is going to be executed first.

[2018-01-30 22:55] nunomaduro commented on #116
@arall Sure. Removed the schedule method from your commands. Then on your AppServiceProvider just put:

[code]

Normally the InspiringCommand runs first.

[2018-01-31 20:52] nunomaduro commented on #105
@MelonSmasher This will be included on Laravel Zero 5.6. 👍

[2018-02-02 10:07] ghunti opened #122 "Filesystem path on documentation seems to be wrong"
Hey.
In the official docs, its stated: ```Note: The root directory is your-app-name/storage/local```
With a fresh install, actually the path that is being used is ```your-app-name/storage/app```.
Cheers, and thanks for the great work

[2018-02-04 11:50] nunomaduro commented on #122
@ghunti Thanks! It's fixed now! 👌

[2018-02-04 11:50] #122 closed

[2018-02-04 11:51] nunomaduro commented on #116
@arall Have news on this?

[2018-02-04 15:12] Tamasneedhelp commented on #104
I have the same problem and I can't fix it

[2018-02-04 15:17] bloggervista commented on #104
@Tamasneedhelp use cgr

[2018-02-04 15:19] Tamasneedhelp commented on #104
not even that works

[2018-02-04 15:24] nunomaduro commented on #104
@Tamasneedhelp Use: `composer create-project --prefer-dist laravel-zero/laravel-zero <your-app-name>`

[2018-02-04 15:25] Tamasneedhelp commented on #104
what do you mean with your-app-name

[2018-02-04 15:34] bloggervista commented on #104
replace <your...name> with whatever u want

[2018-02-04 15:37] Tamasneedhelp commented on #104
if I type in: composer create-project --prefer-dist laravel-zero/laravel-zero <valet>
it says : -bash: syntax error near unexpected token `newline'

[2018-02-04 15:48] Tamasneedhelp commented on #104
ok , I made it ,whats now

[2018-02-04 15:48] Tamasneedhelp commented on #104
Could't rename: Folder or file already exists.

[2018-02-04 15:48] Tamasneedhelp commented on #104
that is the last line after I typed in

[2018-02-04 15:49] Tamasneedhelp commented on #104
should I rename it?

[2018-02-04 15:50] Tamasneedhelp commented on #104
can it help me by larval/valet

[2018-02-04 16:44] bloggervista commented on #104
bro what exactly is your problem?

On Sun, Feb 4, 2018 at 9:35 PM, Tamasneedhelp <notifications@github.com>
wrote:

[2018-02-04 16:45] Tamasneedhelp commented on #104
composer global require laravel-zero/installer
Changed current directory to /Users/shirshak/.composer
Using version ^1.1 for laravel-zero/installer
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't instal

[2018-02-04 16:52] bloggervista commented on #104
have u added /usr/bin to your path. You can add it by editing .~/.bashrc

On Sun, Feb 4, 2018 at 10:31 PM, Tamasneedhelp <notifications@github.com>
wrote:

[2018-02-04 16:54] Tamasneedhelp commented on #104
export PATH="$PATH:$HOME/.composer/vendor/bin"

[2018-02-04 16:54] Tamasneedhelp commented on #104
thats what is in it

[2018-02-04 16:57] bloggervista commented on #104
try `sudo valet`

and what is output of `which valet`

[2018-02-04 16:58] Tamasneedhelp commented on #104
sudo: valet: command not found

[2018-02-04 16:58] bloggervista commented on #104
my one will look like this
`export PATH=$HOME/bin:/usr/local/bin:~/.composer/vendor/bin:/usr/local/sbin:$PATH`

[2018-02-04 16:59] bloggervista commented on #104
try with that path and please reopen terminal are you from windows or osx or linux?

[2018-02-04 16:59] Tamasneedhelp commented on #104
should I make
open .bashrc
the put this in .bashrc
:export PATH=$HOME/bin:/usr/local/bin:~/.composer/vendor/bin:/usr/local/sbin:$PATH

[2018-02-04 16:59] Tamasneedhelp commented on #104
OSX

[2018-02-04 17:01] bloggervista commented on #104
yea
type `vim ~/.bashrc` and add it there

`export PATH=$HOME/bin:/usr/local/bin:~/.composer/vendor/bin:/usr/local/sbin:$PATH`

After that restart terminal and try `valet install`

[2018-02-04 17:02] Tamasneedhelp commented on #104
still not

[2018-02-04 17:03] bloggervista commented on #104
ok then instead of chatting it here lets talk in email `bloggervista@gmail.com`

[2018-02-04 17:03] Tamasneedhelp commented on #104
ok

[2018-02-04 17:04] mfour-merickson commented on #104
Thank you!!!! My phone is going beserk with notifications and I can’t figure out how to mute this thread.

On Feb 4, 2018, 9:03 AM -0800, Shirshak Bajgain <notifications@github.com>, wrote:

[2018-02-14 15:12] jhoff opened #124 "[5.7] Models and factories just work"
First, thanks for making Laravel Zero. It's been incredibly useful so far.

I feel like it's worth pointing out that when you install Eloquent, you get all of the functionality of models and factories that come with it. Maybe this is something worth mentioning in the docs.

Based on the docs, I assumed that when you installed eloquent you would only be able to use the DB facade, but was surprised

[2018-02-14 15:34] nunomaduro commented on #124
@jhoff I am glad that you enjoyed! 🏄‍♂️

Maybe you can make a PR modifying the `DatabaseInstallerCommand` on the branch `release-5.6.0`. Or just make me a todo list telling me what folders/class/modifications the `DatabaseInstallerCommand` need to make.

[2018-02-17 11:20] eklundkristoffer opened #128 "[Question] Any recommended way to deal with user configs?"
Hi, I was just wondering if there is any recommended way to deal with user configs for the user to store mysql credentials etc.

edit: I was trying to use `.env` but it seems like the application cant find the file once builded.

Great project so far!

Kind regards,
Kristoffer

[2018-02-17 21:39] nunomaduro commented on #111
Fixed on Laravel Zero 5.6.

[2018-02-17 21:40] nunomaduro commented on #128
@eklundkristoffer Fixed on Laravel 5.6.

Can you wait a few days?

[2018-02-17 21:40] #116 closed

[2018-02-18 15:33] eklundkristoffer commented on #128
@nunomaduro Oh nice. Yeah take your time, looking forward to it. Thanks.

[2018-02-18 18:11] jhoff commented on #99
Thanks for this. I just spent a day fighting with this issue.

[2018-02-18 21:39] nunomaduro commented on #105
Available on Laravel Zero 5.6. 🎉

[2018-02-18 21:39] #105 closed

[2018-02-18 21:40] nunomaduro commented on #95
Thanks! But I think this should be a side package!

[2018-02-18 21:40] #95 closed

[2018-02-18 21:40] nunomaduro commented on #54
I am going to close this issue, the conversation seems dead.

[2018-02-18 21:40] #54 closed

[2018-02-18 21:41] nunomaduro commented on #96
This should be a side package. I am not interested in putting this on the core. Thanks tho!

[2018-02-18 21:41] #96 closed

[2018-02-18 21:41] nunomaduro commented on #111
This is available on Laravel Zero 5.6. 🎉

Please migrate your application to Laravel Zero 5.6.

[2018-02-18 21:41] #111 closed

[2018-02-18 21:41] nunomaduro commented on #124
@jhoff Got news on this?

[2018-02-18 21:42] MelonSmasher commented on #111
Thanks for fixing this. Is there an upgrade guide?

[2018-02-18 21:42] nunomaduro commented on #128
@eklundkristoffer Available on Laravel Zero 5.6. Test and tell me if everything is ok please.

[2018-02-18 21:43] nunomaduro commented on #111
@MelonSmasher The upgrade guide will be provided during the week.

[2018-02-19 00:39] eklundkristoffer commented on #128
@nunomaduro now the content of `.env` is included in the bin file, but, how can the user set own env variables without having to build the app? I know you can do like `DB_DATABASE=123 php myapp` but just wondering if there is a easier/cleaner way to let the user set own config.

Thanks!

[2018-02-19 00:42] nunomaduro commented on #128
@eklundkristoffer Not that I am aware, sorry.

[2018-02-19 00:46] eklundkristoffer commented on #128
I see! If I ever figure out how to solve it I will make sure to post it here.

Thanks :)

[2018-02-19 00:46] #128 closed

[2018-02-19 16:41] Neoscopia opened #129 "Add option to remove own development commands"
Hi,
Thanks for your amazing job on LZ. I use your app to automate everything on my servers. I use to use bash but it's so much better with the addition of PHP.
I wanted to know if you can add an option to commands config file to hide my custom dev commands only on production.
Like the 'hidden' field but which remove commands on production.
Thanks you.

[2018-02-19 18:51] nunomaduro commented on #129
The config files are php. So you can always do something like this:

[code]

[2018-02-19 20:46] zorca opened #130 "[5.7] Make some core packages optional"
Good day! First I want to say thank you very much for the excellent framework, I use it now to create a console application. Is it possible to move all noncritical dependencies from the framework to the application skeleton? Like: "nunomaduro/laravel-console-menu":"1.0.*" . Console menu not working on Windows due to the fact that POSIX will not install on Windows. And it would be nice to make the

[2018-02-19 22:26] nunomaduro commented on #130
@zorca Did you tried using the bash thing on windows?

[2018-02-20 01:19] makapaka23 opened #131 "database setup"
Hi I'm sorry if this is documented somewhere but I can't see it - I've only just started playing with laravel-zero, I installed database components, however the database config file is quite bare - is there any direction as to where/what connection details (user/pass etc) are required to connect to a mysql db ?

[2018-02-20 02:42] #131 closed

[2018-02-20 02:42] makapaka23 commented on #131
sorry I just used standard laravel config and it seems to work well :)

[2018-02-20 06:25] zorca commented on #130
The problem is not in bash. I can't even install a framework without errors on Windows.
[code]

[2018-02-20 06:28] zorca commented on #130
But this is not the main problem. I would like the framework to be modular. If all non-critical extensions are in the kernel, it will pull a lot of unnecessary into the final package.

[2018-02-20 10:35] Neoscopia commented on #129
I'm so stupid, I did not even think about that. I was doing a PR to add another filter in **LaravelZero\Framework\Kernel.php** but your way work like a charm, thanks you !

I post the code I use, if other people meet the same need as me
[code]

[2018-02-20 10:53] #129 closed

[2018-02-20 19:30] nunomaduro commented on #130
I understand your point of view. But: **The framework is modular**. That's why I made the `app:install` command.

With the `app:install` command you can install optional stuff. Concerning the all the `nunomaduro/laravel*` related packages, we are talking about single file packages. They are literally  super small. They are **not** "lot of unnecessary" stuff.

Please take a look into the `composer.

[2018-02-20 19:52] nunomaduro commented on #130
Anyway, I will take in consideration your issue for the next major version! Thanks!

[2018-02-22 07:34] rohithmeethal opened #132 "[Tip] Using IDE Helper package with Laravel Zero"
I think most of us are spoiled by the [Laravel ide-helper](https://github.com/barryvdh/laravel-ide-helper) package auto completions :smile:
I was able to get it working with Laravel Zero by following this method,

Note: I had already enabled database package

[code]

Save this file to config directory https://raw.githubusercontent.com/laravel/laravel/master/config/view.php

On `config/app.php` pro

[2018-02-22 20:06] nunomaduro commented on #132
Give me a few weeks to think about this 👍

[2018-02-26 21:16] mikeerickson commented on #132
Weeks, that is an eternity!  How about days :-)

[2018-02-27 02:15] mfour-merickson opened #133 "Missing Laravel Zero 5.6 Upgrade Guide"
Does a document exist outlining what is required to upgrade to Laravel Zero 5.6

I can surely go through the process and figure things out, just curious if a document already exists?  If not, I will forge forward and get it working (and document the process for those who may need in the future)

[2018-02-27 02:24] mfour-merickson commented on #133
So, that was just too easy 👍

1 . update `composer.json`

[code]

2. rm -rf vendor

3. composer install

[2018-02-27 02:40] mfour-merickson commented on #133
Well, I guess I forgot to remove the `composer.lock` file so it was just doing the old stuff

So, after removing the `composer.lock` it throws all sorts of errors?

Is this package still used (I dont see it in the composer.json file in the current repo)

[code]

[2018-02-28 14:18] wouter2203 commented on #130
It is possible to install on Windows using the composer `--ignore-platform-reqs` flag, but I think it should be possible to install it without that (ugly) flag.

I had to do some debugging and googling to even get it installed and that shouldn't be the case for such a cool project :)

[2018-02-28 14:25] wouter2203 opened #134 "Build command fails (on Windows)"
The build command currently throws an exception (on Windows):

![image](https://user-images.githubusercontent.com/8761962/36792532-1cd7de4a-1c9b-11e8-8ca7-52cacceca8c8.png)

(`-v` did not give any info)

~~I'm not sure if this is only happening on Windows~~ It is only happening on Windows, and it's consistently broken for multiple projects.

The build itself is working fine after manually renaming

[2018-02-28 14:38] zorca commented on #130
I agree. Not all work only on Mac and Ubuntu. I used to work in the Windows console and I love it. I want to build the app in the Windows console. At the moment I had to give up Laravel Zero for this reason. I just did the same structure, it's not that complicated. It took half a day.

[2018-02-28 16:49] mikeerickson commented on #133
@nunomaduro Seeing as you have changed the title, does this mean you have an upgrade guide, or is still under development.  I had to abort my conversion the other night as I needed to continue working on the actual tool (it works with older version, but really want to stay current)

[2018-02-28 23:24] nunomaduro commented on #133
This means that the upgrade guide is under development 👍

[2018-02-28 23:25] nunomaduro commented on #130
@wouter2203 @zorca I will take a look on this issue this weekend! 👍

[2018-03-03 22:15] nunomaduro commented on #54
The `build` feature just got a big improvement. The compiled file takes up 50% less space than before! https://github.com/laravel-zero/framework/pull/211

[2018-03-04 15:41] nunomaduro commented on #133
@mfour-merickson @mikeerickson Laravel Zero 5.6 Upgrade Guide is now available. Please ping me if you find any issues!

Link: http://laravel-zero.com/#/upgrade

[2018-03-04 15:43] nunomaduro commented on #134
@wouter2203 Found something?

[2018-03-04 17:02] wouter2203 commented on #134
Yup, the compiler was keeping the file locked. I've opened up a pull request that fixes this probleem: https://github.com/laravel-zero/framework/pull/222

[2018-03-04 17:06] #134 closed

[2018-03-04 17:10] nunomaduro commented on #134
Thanks!

[2018-03-04 19:33] wouter2203 commented on #130
The problem is that "php-school/cli-menu" does not support Windows.

I don't know how exactly this can be solved, as "laravel-console-menu" (understandable) requires this package.

Composer, as far as I know, has no possibility to install a package if it is supported and otherwise skip it (without using the `--ignore-plateform-reqs` flag).

If you know a solution to this, you could check if the pa

[2018-03-04 19:57] nunomaduro commented on #130
That would be a breaking change, since the $this->menu() returns an instance of `NunoMaduro\LaravelConsoleMenu::class`.

Laravel Zero's versioning scheme maintains the following convention: `paradigm.minor.patch`.

I am trying not to release a minor release just because of this.

[2018-03-06 19:25] wouter2203 commented on #130
That could still be the case, this is just an idea (haven't made it, so not sure if this is practical, could do some testing this weekend):

Make an interface and have `Menu::class` implement it.

This way we can create multiple implementations of the interface. One for Windows and one for Mac/Linux.

As far as I can see most of the functions do not need editing, they just set variables containing

[2018-03-07 21:48] nunomaduro commented on #133
@mfour-merickson @mikeerickson If you have any problems please ping me! Enjoy!

[2018-03-07 21:48] #133 closed

[2018-03-07 21:49] nunomaduro commented on #130
@zorca @wouter2203  Just made a patch on Laravel Zero to make it work on Windows. Do you mind of creating a fresh project and test it?

[2018-03-07 22:14] mikeerickson commented on #133
@nunomaduro I will be trying the upgrade again this weekend, I will let you know.

[2018-03-07 22:20] wouter2203 commented on #130
Sure, will do tomorrow!

[2018-03-11 15:15] jorenvh opened #135 "Unzipping a zip file doesn't work once the app is build"
Hi

In my app I'm downloading a zip file to the storage directory, later on I have to unzip it. This works when I run the command in my dev app. But once I build the app to a phar using the build command it throws an exception.

<img width="1233" alt="screen shot 2018-03-11 at 16 12 46" src="https://user-images.githubusercontent.com/8791625/37255062-25b43c52-2547-11e8-9381-e0c881f053f7.png">

Runn

[2018-03-12 07:03] wouter2203 commented on #130
I'm sorry 'tomorrow' took me so long :-(!

I was able to run `composer install` without any issues!

[2018-03-12 07:08] zorca commented on #130
`composer install`  works well

[2018-03-12 09:45] ashleyhood commented on #135
Nothing in the storage directory will work with out modification because the file path will begin with phar://
You will need to store any files you want to read/write to in a separate directory, or you could try passing in the full URL including _phar://_ to **chumper/zipper** methods.

[2018-03-13 20:34] jorenvh commented on #135
@ashleyhood in which directory would you store these files?

[2018-03-14 09:47] pdifeo commented on #132
+1

[2018-03-14 13:56] ashleyhood commented on #135
@jorenvh it depends on how you use your app.  I have a helper that defines the directory my app is in and then I store and additional files in the same directory as my app.

Add the file `app/helpers.php`:

    if (! function_exists('install_path')) {
        /**
         * Get the path to the base of the install.
         *
         * @return string
         */
        function install_path()

[2018-03-14 14:01] jorenvh commented on #135
Genius! I have some time over the weekend to test this, but thanks in advance for this.

I will keep you updated on this.

[2018-03-17 20:06] jorenvh commented on #135
@ashleyhood I tweaked it a little bit but I got it working now 👍

[code]

[2018-03-17 20:06] #135 closed

[2018-03-19 05:08] makapaka23 opened #136 "Can we make it work with php 7.0"
I mistakenly built a whole console app with latest laravel-zero, but my servers are currently only php 7.0 and i'm unable to upgrade - is there a way to make it work with php 7.0?

Obviously I don't want to have to rebuild it some other way - I quite enjoyed using this framework

[2018-03-19 09:53] ashleyhood commented on #135
I'm using your tweak with the addition of setting a default for `$path`:

    function install_path($path = '')

[2018-03-19 11:18] abkrim opened #137 "Is possible get .env vars?"
Hi.

I try to access .env vars with Laravel Zero.

Create a config/myconf.php

[code]

On my own .env file
[code]

Code for test

[code]

Show
[code]

I need put token on config file for work.

Best regards.

[2018-03-19 12:00] nunomaduro commented on #137
@abkrim You need to install the .env component. Check the docs: http://laravel-zero.com/#/usage?id=environment-configuration

[2018-03-19 14:48] abkrim commented on #137
oops.. sory. I apoligze for despite.

A lot of thanks for this & for your package.

[2018-03-19 14:48] #137 closed

[2018-03-19 15:05] jorenvh commented on #135
Great enhancement, will add that for sure!

[2018-03-19 19:38] nunomaduro commented on #136
@makapaka23 Unfortunately not. Laravel Zero is built on top of Laravel 5.6 witch requires `PHP >= 7.1.3`.

Sorry 😕

[2018-03-19 19:38] #136 closed

[2018-03-22 15:54] mikeerickson opened #139 "Never seen this before `phar.readonly` ..."
I am seeing a new error message when I attempt to execute my CLI in development mode.

[code]

I can see what needs to be done here, but I don't recall ever having either updating this file, nor being required do this in the past?

[2018-03-22 16:02] mikeerickson commented on #139
If this is something common, might want to add this to the documentation :-)

[2018-03-22 20:21] nunomaduro commented on #139
By default, every php.ini haves the property `phar.readonly = Off`. In order to perform an `app:build` you need to set the property to `phar.readonly = On` in your php.ini.

I will add that to the docs. Thanks @mikeerickson!

[2018-04-03 08:52] SahinU88 commented on #139
Hi there,

just to avoid confusions, you have to set the `phar.readonly` value to `Off`.

Cheers,
Sahin

[2018-04-03 09:33] nunomaduro commented on #139
@SahinU88 Just edited my response. Thanks men!

[2018-04-04 00:00] foxted opened #140 "Conflicts with other globally installed packages"
Hi there,

First of all, thanks for the initiative, this is awesome!

I built a quick CLI helper for my team, pushed it on Packagist and when I installed it globally using `composer global require`, it seems like LaravelZero dependencies conflict with other packages (like Laravel Valet).

Here is the error I get when I try to run valet or our tool when both are installed:

[code]

[2018-04-04 07:32] nunomaduro commented on #140
Hey @foxted! Thanks for considering Laravel Zero.

That's is a composer issue, not a Laravel Zero one. Anyway, you have 2 solutions:

1. Install your CLI helper globally using: https://github.com/consolidation/cgr
2. Only distribute the `build` version of your package, like I did on: https://github.com/laravel-zero/installer

[2018-04-04 15:44] #139 closed

[2018-04-04 15:52] mikeerickson commented on #132
@nunomaduro Did you come up with your own solution here?  I am keep to apply the above installation, but figured I would check in with you before moving forward.

[2018-04-04 15:58] nunomaduro commented on #132
@mikeerickson Taylor is adding to the Laravel framework a solution for this problem: https://github.com/laravel/framework/commit/40c80123e8c77594c022703d25c8eb727a3e8c59.

We just need to wait a few days.

[2018-04-04 17:06] mikeerickson commented on #132
Sounds good

[2018-04-04 22:15] foxted commented on #140
I'll try this out, thank you for the suggestion :)

[2018-04-04 22:15] #140 closed

[2018-04-09 18:49] abkrim opened #141 "Problems when use DB in differents connections"
I'm working on developer area, but when I try to run a simplem command for use connections get a **error: Undefined variable: host**

Already installed **database** and add `use Illuminate\Support\Facades\DB;`

config/database.php
[code]

.env
[code]

My command
[code]
Error

[code]

[2018-04-19 20:43] nunomaduro commented on #132
@mikeerickson Most of facades have now type hinting right?

[2018-04-19 20:44] mikeerickson commented on #132
@nunomaduro Ya, so far as I can see they are covered.

[2018-04-19 20:52] nunomaduro commented on #132
Ok! I am closing this issue than! Thank you all!

[2018-04-19 20:52] #132 closed

[2018-04-23 12:07] Germanaz0 opened #142 "[Question] Can it send emails"
If I include the email facade, will it send emails ? or I have to install a third party library to do it ?

Sorry for the stupid question, but I was not sure.

[2018-04-23 12:37] nunomaduro commented on #142
Nothing is a stupid question. That is a great question actually! 🙂

Here is the non tested solution:

1. `composer require illuminate\mail`
2. Add the `MailServiceProvider::class` to your `config/app.php`.
3. Create a new file called `config/mail.php` with those contents: https://github.com/laravel/laravel/blob/master/config/mail.php

Tell me if it works or not. I can also test it tonight!

[2018-04-23 15:54] Germanaz0 commented on #142
Hello, thanks for replaying so quick, the solution does not work properly because it works with the view service provider, it says that `Class view does not exist`.

If I try to add illuminate/view and add it to service providers, I am receiving an exception

[2018-04-23 16:14] nunomaduro commented on #142
@Germanaz0 I will check that on the next couple hours.

[2018-04-25 21:00] nunomaduro commented on #142
Hey @Germanaz0! I will probably make this a component on Laravel Zero 5.7. Meanwhile you can make it work on this way:

1. Include those packages:

[code]

2. Add service the following services providers:

[code]

[2018-05-07 17:40] johnellmore commented on #94
When I tried to run `php <application-name> install:log` on a Laravel Zero 5.6.17 app, I got the following error:

[code]

That's because the install command has changed to `app:install` instead. So you actually need to run this:

[code]

Hope this helps someone!

[2018-05-07 20:47] nunomaduro commented on #94
@johnellmore This issue was from an old version of Laravel Zero. The new version is documented at: [https://laravel-zero.com](https://laravel-zero.com)

[2018-05-08 20:33] nunomaduro commented on #142
@Germanaz0 Do you have news on this?

[2018-05-08 20:34] Germanaz0 commented on #142
Ups, @nunomaduro sorry, did not have the cahnce to test it, give me a couple of hours.

[2018-05-09 15:46] kekebeen opened #143 "[Question] Where should icon go ?"
Hello, I have a question regarding notify method. As documentation says
https://laravel-zero.com/#/usage?id=desktop-notifications

Method can receive third param(icon). Where should I put icon(make folder, w/e) when using default laravel-zero installer boilerplate ?

[2018-05-09 16:07] nunomaduro commented on #143
Hello 👋

You should create a `resources` and put the icon inside of it.

Than you can use the notify method on the following way:

[code]

[2018-05-10 06:48] kekebeen commented on #143
That's the way !

Thanks a lot :thumbsup:

[2018-05-10 06:49] #143 closed

[2018-05-24 01:34] djamesfar opened #144 "default-command"
I assumed that providing a 'default-command' value would run that command if no argument is provided.  I have only one command and would like it to run by default when program name is invoked without argument, ie 'php import', but it requires the command name as an argument, ie. 'php import members' (MembersCommand).
I'm having errors when running with the scheduler, which complains there are too

[2018-05-24 07:11] nunomaduro commented on #144
Your cron is not correct.

You should use only `* * * * * <path/to/program>/import schedule:run >> /dev/null 2>&1`.

Your `MembersCommand` class should have the scheduler defined to everyMinute, or something like that. 👍

Tip: Which version of Laravel Zero are you using?

[2018-05-24 15:29] nunomaduro commented on #144
Ping @djamesfar

[2018-05-24 16:12] #144 closed

[2018-05-24 16:14] djamesfar commented on #144
@nunomaduro thanks, I set the 'default' value in commands.php to my command class, instead of setting the 'default-command' in config/app.php, which does not appear to do anything.
Thanks!

[2018-05-24 16:20] djamesfar commented on #144
@nunomaduro , regarding your comment about my cron being incorrect, looks like you removed the 'php' command?  This is from your laravel-zero documentation:
```* * * * * php /path-to-your-project/your-app-name schedule:run >> /dev/null 2>&1```
...with the php.  Which is correct?

[2018-05-27 14:50] nunomaduro commented on #142
@Germanaz0 I'll close this, you can contact me if you have any problems.

[2018-05-27 14:50] #142 closed

[2018-05-28 01:28] axelitus opened #145 "Laravel Zero installation throws an error on the post-create-project-cmd"
This is my first laravel zero install and it is throwing an error:

[code]

I also tried renaming the application manually:

[code]

which yielded the same error.

I could track the error and it is because in the class `LaravelZero\Framework\Providers\GitVersion\GitVersionServiceProvider` the namespace import for the `Application` class is `Illuminate\Contracts\Console\Application`, but the object

[2018-05-28 07:34] nunomaduro commented on #145
@axelitus That problem should be now fixed. Sorry for the inconvenience! Do you mind of re-test?

[2018-06-19 06:57] nerdalertdk opened #146 "[5.7] Laravel Queue component"
Hi,

Any chance for an Queue packge or maybe an clue how to do it :)

[2018-06-19 21:37] nunomaduro commented on #146
@nerdalertdk That would be great. You mean turn Laravel Zero into a very light queue worker?

[2018-06-19 22:27] nerdalertdk commented on #146
Ye, I’m using the dusk package to do some automated work and it would be cool if I could off load it and run parallel dusk tasks :)

[2018-06-19 22:31] nunomaduro commented on #146
That is actually a great idea. I am gonna dig this.

[2018-06-20 18:42] hskrasek opened #148 "Bundle migrations with phar"
As the title says, I was wondering if it is possible to bundle database migrations within the phar file when compiling it.

[2018-06-27 22:39] nunomaduro commented on #148
@hskrasek Sure! On your `config/app.php` add the following lines:

[code]

Side-note: On Laravel Zero 5.7 the bundle feature will be way better! Get ready.

[2018-06-27 22:51] nunomaduro commented on #146
@nerdalertdk For info: The version 5.7 contains this feature.

[2018-06-27 22:55] nunomaduro commented on #130
The Windows issue has been solved. Concerning the comment "Making some packages optional": There is no sense. We are talking about packages of **one class** - Those features are in separated packages just because I may want to use those features on Laravel itself.

**The framework is already modular** . That's why we can install illuminate components optionally.

[2018-06-27 22:55] #130 closed

[2018-07-05 21:52] hskrasek commented on #148
@nunomaduro Awesome that worked, thanks for the tip!

[2018-07-05 21:52] #148 closed

[2018-07-10 09:53] vzool opened #149 "[Feature Request] Single File Packaging - PHAR Format"
Hi,

I like your library it's wonderful, but when I'm thought about single file packaging, I remembered [PHAR](http://php.net/manual/en/intro.phar.php) format which is really nice and easy to distribute and verify.

Do you have any plans to add this feature?

Thanks

[2018-07-10 09:56] nunomaduro commented on #149
@vzool We already have that. ☺️

Just type: `php <your-app-name> app:build`.

[2018-07-10 09:59] #149 closed

[2018-07-10 21:15] aurawindsurfing opened #150 "Not able to use Illuminate Validator Facade"
When I try to validate array in laravel-zero I always get the following:

[code]

It is properly defined and imported into the command but for some reason, I can not use it to validate the input.

[2018-07-10 21:22] nunomaduro commented on #150
Laravel Zero doesn't contains service provider auto discovery. You need to add the "ValidationServiceProvider" into your `config/app.php`.

[2018-07-12 16:55] nunomaduro commented on #150
@aurawindsurfing You must include the illuminate/validation component doing: `composer require illuminate/validation`.  After that the class `Illuminate\Validation\ValidationServiceProvider::class` will be available.

[2018-07-12 21:06] aurawindsurfing commented on #150
Thank you very much. I guess I'm going backward from using Laravel to actually trying to understand how it is actually working! It required additional TranslationServiceProvider and works now as expected.

[2018-07-12 22:10] nunomaduro commented on #150
Ok! 👋

[2018-07-12 22:10] #150 closed

[2018-07-30 10:11] obstschale opened #151 "Include external dependeny"
I use Laravel Zero to build a simple CLI to access my Laravel App via REST. So far it looks good. Thx for this quick start with Laravel Zero 👏

I have one question: I need to use a python tool as dependency. During development I downloaded this python program to local `bin` directory within my cli folder. I use `Process()` to run execute the program and it works. But when I use `app:build` to buil

[2018-08-10 20:42] cbzink opened #152 "Any way to serve up a web page, even temporarily? (e.g. For an OAuth flow)"
Hey all,

Thank-you for your great work on Zero. It "_just works_"! I'm working on an application that requires an OAuth flow with another service, and I'm curious if anyone knows of any creative ways to temporarily serve up a single page to handle that OAuth flow.

Thanks!

[2018-08-24 09:25] SergeyPodgornyy opened #153 "Can't rename app as it requires useless components"
Installation of `laravel-zero` crashes after running `php application rename`, as it tries to register `router` in application Container.

![image](https://user-images.githubusercontent.com/13667212/44576859-ef321980-a78f-11e8-83af-006cb0805954.png)

[2018-08-25 14:15] digitalkreativ commented on #151
I have been experimenting with **Laravel-Zero** and so far I like it too :) .

I've run into the same issue as you, with wanting to add additional files to the phar file. Although mine are just stub files I wanted to be able to publish in the current working directory.

**What I did is the following:**
1. Created a new config file `build-custom.php` in which I added the extra directory I needed to

[2018-08-27 13:08] SergeyPodgornyy commented on #153
Output from `~/.composer/composer.json` is:

[code]

[2018-08-27 13:10] nunomaduro commented on #153
I need the output from your `absence-cli/composer.json`.

[2018-08-27 13:49] SergeyPodgornyy commented on #153
@nunomaduro

[code]

[2018-08-27 13:52] nunomaduro commented on #153
This is super weird. That is a fresh application of Laravel Zero? Can I see the config/app.php?

[2018-08-27 15:29] cbzink commented on #152
@nunomaduro the application is CLI-only, except for authenticating with the third party which has to be done via an embedded auth widget they provide.

[2018-08-27 16:40] nunomaduro commented on #152
I see. You should use a Laravel application for that. I am sorry.

[2018-08-27 16:40] #152 closed

[2018-08-27 18:14] SergeyPodgornyy commented on #153
Just tried to install it on another machine. On Ubuntu 14.04 it works well :heavy_check_mark:
After I run `composer global require "laravel-zero/installer"` I have:

[code]

[2018-08-28 12:32] Treggats commented on #142
@nunomaduro I can confirm that this works 👍

[2018-08-29 15:07] pratham2003 opened #154 "Class 'Storage' not found"
How do I use Storage?

Also would it be possible to use File? i.e. File::exists

[2018-08-30 06:04] kniteshsri commented on #94
while i tried to perform the above task i was getting this error.

[2018-08-30 09:42] ashleyhood commented on #94
@kniteshsri read the docs [https://laravel-zero.com/#/usage?id=log](url)

[2018-08-30 11:00] ashleyhood commented on #94
@kniteshsri my previous comment may have sounded harsher then I intended.

The reason the command `php sampleIMS install:log` fails is because the install command would now be `php sampleIMS app:install log`

[2018-08-30 11:43] kniteshsri commented on #94
while i tried to perform the above task i was getting this error.

[2018-08-31 16:18] zOxta commented on #154
@pratham2003 You could follow the example here: https://laravel-zero.com/#/usage?id=filesystem

Generally, on a fresh install you can `use Illuminate\Support\Facades\Storage;` and add the following lines in a command to test:

[code]

Expected output when you run your command:

[code]

If still failing, you may need to:

[code]

or

[code]

Then try again.

[2018-08-31 16:33] obstschale commented on #151
At the moment I have limited time to work on that side project. I bookmark this issue and come back to it if this does not work. I think till now you can close this issue. Thx

Thx @digitalkreativ for this answer.

[2018-09-01 07:57] nunomaduro commented on #153
So all it’s good right? If yes, can you close this issue?

[2018-09-01 07:57] #151 closed

[2018-09-03 17:14] SergeyPodgornyy commented on #153
@nunomaduro yes, for me it works fine right now, but actually core problem was not found by myself, so probably someone else could also face with this problem.

[2018-09-09 19:42] nunomaduro commented on #154
@zOxta Thanks for helping @pratham2003.

But the version 5.7 fixes this issue, thanks!

[2018-09-12 22:09] nunomaduro commented on #154
@zOxta @pratham2003 Just released laravel Zero 5.7. Please create a new application or follow the upgrade guide [laravel-zero.com/#/upgrade?id=upgrading-to-57-from-56](https://laravel-zero.com/#/upgrade?id=upgrading-to-57-from-56).

Test it, and tell me if it fixes your issue.

[2018-09-12 22:10] nunomaduro commented on #146
@zOxta @pratham2003 Just released laravel Zero 5.7. Please create a new application or follow the upgrade guide [laravel-zero.com/#/upgrade?id=upgrading-to-57-from-56](https://laravel-zero.com/#/upgrade?id=upgrading-to-57-from-56) to enjoy that feature.

[2018-09-12 22:10] #146 closed

[2018-09-12 22:11] nunomaduro commented on #153
I am closing this due lack of activity.

[2018-09-12 22:11] #153 closed

[2018-09-12 22:11] nunomaduro commented on #124
I am closing this due lack of activity.

[2018-09-12 22:11] #124 closed

[2018-09-15 21:16] zOxta commented on #154
@nunomaduro Thanks! In my test it was Laravel Zero 5.6 - upgraded to 5.7 and worked fine too.

[2018-09-19 20:01] svallamsetti opened #159 "ErrorException : rename(): No such file or directory while building a PHAR archive"
When I ran this command **php weather app:build**
I got this exception  ErrorException  : rename(/vagrant/code/testApp/weather.phar,/vagrant/code/testApp/builds/weather): No such file or directory.

I believe when we named our application there is a file being created with the application name in the root directory but not with .phar extension. Seems like the Filesystem::move() method which is cal

[2018-09-21 20:18] nunomaduro commented on #159
Hey @svallamsetti 👋

Please run `php weather app:build -vvv` and show me the output.

[2018-09-25 10:34] imajinyun opened #160 "The stream or file could not be opened log file"
Execute command after compilation:

[code]

[2018-09-26 08:30] funkvn opened #161 "Fatal Error On Windows Using Menu"
Hi!

I'm playing around with the menu example form the documentation.
But I run into an fatal error:

[code]
Prefixing the command with `winpty` does not change anything.
And I got the same error in PowerShell.

Regarding to http://php.net/manual/en/intro.posix.php this is expectable.

Are there any work-arounds or other example to get the menu working on windows?
The description implies that: "Su

[2018-09-26 08:43] nunomaduro commented on #161
@funkvn Unfortunately `menus` only work while using the bash console of Windows.

[2018-09-27 06:53] nunomaduro commented on #159
@svallamsetti Do you have news on this?

[2018-09-27 06:56] nunomaduro commented on #160
Consider updating your log driver to: `stderr`. Tell me if works.

[2018-10-03 02:31] maxalmonte14 opened #162 "PHAR throws fatal error"
I'm trying to generate a standalone application for the first time, the command app:build works without any problem, but when I try to run the PHAR with `builds/nflScores` I get an error.

It looks like the error is caused because I'm loading a helpers file in my `composer.json` within the `files` key, something like this:

`
"autoload": {
  "files": ["helpers.php"],
  "psr-4": {
      "App\\":  "

[2018-10-03 06:12] nunomaduro commented on #162
You should add the `helpers.php` into the section `files` of your `box.json` file.

[2018-10-03 11:09] maxalmonte14 commented on #162
Got it, a little bit confusing because the `composer.json` is added by default in the `box.json`, and the file `helpers.php` is being loaded by composer 😅

Anyway now it works, thank you very much @nunomaduro 😀

[2018-10-04 14:11] svallamsetti commented on #159
@nunomaduro I got

1. Moving application to production mode: ✔
sh: ./box: Permission denied
   2. Compile into a single file: ✔
and then it threw the same exception
ErrorException : rename(/vagrant/code/testApp/weather.phar,/vagrant/code/testApp/builds/weather): No such file or directory.

[2018-10-04 22:50] ivancelot opened #163 "CLI ASCII Logo"
It would be amazing to be able to put an ascii logo

[2018-10-07 19:06] victorlap commented on #163
Hi,

I would love to implement this, but I am asking for some advice.

It is probably best to use a package like [`povils/figlet`](https://github.com/povils/figlet) to handle the ascii art generation. However, would you like this to be included by default, with default settings and the possibility of publishing a config file ? I would like to be sure that something would be merged before I dedicat

[2018-10-07 19:10] nunomaduro commented on #163
@victorlap I component would be better.

[2018-10-07 19:10] nunomaduro commented on #163
@victorlap You can check on the current framework code to see how components are coded.

[2018-10-07 19:30] victorlap commented on #163
@nunomaduro Check, Will look into it, thanks for the quick replies!

[2018-10-08 21:19] nroussis commented on #137
Hello, Excuse my naiveness. After I have made some changes in the env files I see that have not been applied. I suspect some kind of config cache? Can I clear it since commands php artisan cache:clear and php artisan config:clear are not there?.. Thank you for the great laravel version! Zero is exactly what I need.

[2018-10-09 08:02] nroussis opened #164 "Env config cache question"
Hello,
Excuse my naiveness and if reposting previous question. After I have made some changes in the env files I see that have not been applied. I suspect some kind of config cache? Can I clear it since commands php artisan cache:clear and php artisan config:clear are not there?.. Thank you for the great laravel version! Zero is exactly what I need.

[2018-10-10 22:18] mdurao commented on #142
Hello,

I've tested with @nunomaduro suggestion and it works very well in `development`.
But, after build the app for standalone, I get this error:

[code]

[2018-10-10 22:20] nunomaduro commented on #142
Thanks for reporting that issue, I would prefer you to create a new issue. Please also specify the content of `box.json`.

[2018-10-10 22:25] mdurao opened #165 "App after build, stops working. Works OK in development."
Hi,

using this suggestion in the issues:

https://github.com/laravel-zero/laravel-zero/issues/142#issuecomment-384432351

I was able to create a small app to send emails in the console.
In development mode, everything works OK.

After building the app and moving the phar to the `/usr/local/bin`, the app starts spitting an error:

[code]

Any help would be nice.

Here is the `box.json`:

[code]

[2018-10-11 06:16] nunomaduro commented on #165
Can you open source your app? I would like to put my hands on it.
On Thu 11 Oct 2018 at 00:25, Miguel Durão <notifications@github.com> wrote:

[2018-10-11 07:37] mdurao commented on #165
Sure.

https://github.com/mdurao/mailer

Thxs

[2018-10-11 08:17] nroussis commented on #164
I am using 5.7
this is my  composer.json file

{
    "name": "laravel-zero/laravel-zero",
    "description": "The Laravel Zero Framework.",
    "keywords": ["framework", "laravel", "laravel zero", "console", "cli"],
    "homepage": "https://laravel-zero.com",
    "type": "project",
    "license": "MIT",
    "support": {
        "issues": "https://github.com/laravel-zero/laravel-zero/issues",

[2018-10-11 21:31] ssi-anik opened #166 "Symfony\Component\Console\[Input\InputInterface|Output\OutputInterface] are not resolved."
What should be the workaround if I want to get the instances for the `Symfony\Component\Console\Input\InputInterface` or Symfony\Component\Console\Output\OutputInterface`.

I want to use `SymfonyStyle` class which expects the implementations of those interfaces. Why using what I can get the concrete classes of those interfaces?
Sorry for asking this type of vague question.

[2018-10-12 15:10] nunomaduro commented on #166
@ssi-anik Can you provide a description?

[2018-10-13 06:37] ssi-anik commented on #166
Updated.

[2018-10-15 19:56] ivancelot commented on #163
good, may be image file to cli ascii logo? it's just a suggestion. Thanks for your work.

[2018-10-15 19:58] nunomaduro commented on #163
@ivancelot This component already got added into the core. Check the docs: https://laravel-zero.com/#/usage?id=logo

[2018-10-15 19:58] #163 closed

[2018-10-16 11:08] nunomaduro commented on #165
@mdurao Do you mind of performing a `composer update laravel-zero/framework`, build again, and test?

[2018-10-16 11:09] nunomaduro commented on #159
@svallamsetti Please perform a `composer update laravel-zero/framework` and re-run the build again.

[2018-10-16 12:58] mdurao commented on #165
@nunomaduro It worked, thxs!

[2018-10-16 12:58] #165 closed

[2018-10-16 13:01] mdurao opened #167 ".env after app:build"
Not sure if I'm doing something wrong but in my project I have a `.env` to save the mail credentials used. I fetch those vars in `config` to use them.

In develop mode, works OK.
After building, app doesn't load up from `.env`.

Should the `.env` be "compiled" in the binary in order for the app to find the credentials?
It's not my intention to change them after the build is done.
In the other hand

[2018-10-16 13:10] nroussis commented on #167
i'm wondering is this similar to #164 ?

[2018-10-16 13:15] mdurao commented on #167
Not sure... #164 is about Caching the `.env`... My problem is just using the `.env` after building the binary.

[2018-10-16 20:48] nunomaduro commented on #167
@mdurao Why you don't use normal enviroment variables of your OS?

[2018-10-16 20:55] mdurao commented on #167
I could use the environment variables of the OS, but I was trying to use the binary "out-of-the-box" without extra configuration!

[2018-10-16 21:32] nunomaduro commented on #167
You mean that those credentials are not secret?

[2018-10-16 21:42] mdurao commented on #167
Thinking better, you are right, the proper way is to use OS environment variables.
So, for instance, if you want to use the app, you just need to setup your OS environment variables.
More portable that way!

Ty

[2018-10-16 21:42] #167 closed

[2018-10-17 13:49] svallamsetti commented on #159
@nunomaduro still same error. But it works on my other vagrant box.

[2018-10-21 14:36] nunomaduro commented on #166
On the command class you just have to do this:

[code]

`$this->output` is an instance of `SymfonyStyle`.

[2018-10-21 15:11] ssi-anik commented on #166
Uh, I see. Thanks man <3

[2018-10-21 15:11] #166 closed

[2018-10-25 21:55] #160 closed

[2018-10-26 17:58] ivancelot opened #168 "Creating .env failed"
Using version ^2.5 for vlucas/phpdotenv
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Nothing to install or update
Generating optimized autoload files
Require package via composer: ✔
Creating .env: failed
Creating .env.example: failed
Updating .gitignore: failed

[2018-10-26 18:00] nunomaduro commented on #168
Are you using Laravel Zero on Mac or Linux?

[2018-10-26 18:03] ivancelot commented on #168
Linux, the project has all permission

[2018-10-26 18:05] nunomaduro commented on #168
The file `.env` got created?

[2018-10-26 18:15] ivancelot commented on #168
Yea, sorry, but why the legend xD

[2018-10-26 18:15] #168 closed

[2018-10-29 20:41] ryanmortier opened #169 "Can I use Laravel Horizon with Laravel Zero?"
Hi,

I'm interested in using Laravel Zero in a new app I'm building which will, for the most part, be entirely CLI.

As the application will rely heavily on queues, the only thing that I might need in the browser is Laravel Horizon. I was just wondering how much work it is to use Horizon with this package? Should I just use the regular Laravel framework instead if this is my case?

Thanks.

[2018-10-30 07:11] nroussis commented on #169
Laravel Horizon is great.. I'd love to see it in laravel zero as well.

[2018-10-30 14:01] nunomaduro commented on #169
@ryanmortier @nroussis Laravel Zero doesn't ship with web related components. What do you need from the Horizon web interface that you don't have on the Horizon Artisan commands?

[2018-11-04 16:58] nunomaduro commented on #164
@nroussis You probably are doing something wrong. Please try to create your project from a fresh Laravel Zero application and check if the bug still exists.

[2018-11-04 16:59] nunomaduro commented on #159
@svallamsetti No idea. You still have the issue?

[2018-11-06 13:55] nikoheikkila commented on #159
@nunomaduro I'm having the same issue too with both PHP 7.1 and 7.2. Using Laravel Zero version 5.7.10. Mounting the Zero application to Docker container and running `php zeroapp app:build` outputs following error:

[code]

Working directory of application is `/app` for your information. Permissions should be fine since the command is ran by root user inside container.

[code]

[2018-11-07 13:05] nikoheikkila commented on #159
I seem to have resolved this by copying the `box.json` file to my project directory. I used this: https://github.com/laravel-zero/laravel-zero/blob/stable/box.json

My guess is the app was reading some old configuration from somewhere – maybe a cache? Can you @svallamsetti try using this file if it does the trick for you too?

[2018-11-12 08:52] foxted commented on #105
Hey @nunomaduro , any recommendations on using the git tag as a version when using packagist to install the build globally with composer? The issue that I run into is that the build is made before tagging, so the build end up having the previous tag as a version :/

[2018-11-12 09:00] nunomaduro commented on #105
Hey @foxted can you create a new issue for that?

[2018-11-12 09:49] foxted opened #170 "How to build using current tag"
Hey @nunomaduro , any recommendations on using the git tag as a version when using packagist to install the build globally with composer? The issue that I run into is that the build is made before tagging, so the build end up having the previous tag as a version :/

[2018-11-12 10:03] nunomaduro commented on #170
You can always hard code the version value on the config itself. At the moment, I don't have a solution for this.

[2018-11-12 11:12] foxted commented on #170
I found a loophole:

- Create the tag in git locally
- Build the app
- Delete the tag
- Recreate the tag in git
- Push

[2018-11-12 11:50] nunomaduro commented on #170
That is a nice workaround. Let's keep this issue open while we find a clean solution for this.

[2018-11-13 12:10] nunomaduro commented on #164
@nroussis I am closing this, it seems don't be a framework issue.

[2018-11-13 12:10] #164 closed

[2018-11-19 21:07] svallamsetti commented on #159
@nikoheikkila That didn't help.

[2018-11-19 21:09] svallamsetti commented on #159
yes

[2018-11-27 13:26] Broutard opened #171 "framework exceptions & illuminate/log"
With `illuminate/log` loaded, a missing command argument produce (even in production) :

[code]

without `illuminate/log` loaded, it produce only
[code]

Is there a way to handle this kind of error ? (be able to log into my commands but not the framework exceptions).

[2018-11-27 13:43] nunomaduro commented on #171
Sorry buddy, you will have to detail your problem better.

Can you re-phrase it?

[2018-11-27 14:35] Broutard commented on #171
Ok, sorry.

After adding `illuminate/log` with composer, when I run a command without passing the required argument, an exception occured in `vendor/symfony/console/Command/Command.php` and the stacktrace is dumped into stderr (the default stack in my config/logging.php config file).

It's not a problem in development but it's not very clean in production.

Is there a way to handle the framework e

[2018-11-27 14:48] nunomaduro commented on #171
@Broutard Change the log `driver` is not a solution?

[2018-11-27 14:59] Broutard commented on #171
And if I want to be able to use `Log::error($message)` in my command ?

Maybe you should add an [exception handler](https://github.com/laravel/laravel/blob/master/app/Exceptions/Handler.php) to choose the kind of exception to render.

[2018-11-27 19:12] Broutard commented on #171
I want to log error (with syslog for example) in production, if an error occured in my commands... but not if any user miss to pass an argument.

[2018-11-29 13:13] WangNingkai commented on #159
I also have the same problem，beacause it can not create the `.phar` file.

[2018-11-30 11:38] obstschale opened #172 "Laravel Dusk not working in built version"
I created a simple command, which uses Laravel Dusk to submit a form. The command works fine, but when I build the CLI tool this command and the whole tool has an error:

If I call the phar the first time the following error is shown:

[code]

If I call the phar a second time every command produces this output:

[code]

Is it not possible to run dusk task in a phar?

[2018-11-30 13:31] nunomaduro commented on #172
Never tried before, have no idea.

[2018-12-07 07:58] sarthaksavvy opened #173 "Posix extension blocks installation on Windows"
I have created a CLI named packer with zero.  [https://github.com/bitfumes/laravel-packer](url)

It is working awesome in macOS, but when I installed it on windows via composer I have this error.

![error](https://user-images.githubusercontent.com/41295276/49634828-d8a08d00-fa23-11e8-8f99-505f622822df.jpg)

I have googled it and found that posix is a php extension which is not available on windows

[2018-12-07 08:03] nunomaduro commented on #173
Thanks for reporting this issue. Normally this line should have been the fix for that https://github.com/bitfumes/laravel-packer/blob/8da3e74aee11de1b4af94d5df5a9a5fd53513ece/composer.json#L41:
[code]

I need to investigate this.

[2018-12-07 14:17] Broutard opened #174 "Exit code"
If an exception is thrown in a command, the exit code remain 0.

Any errors should exit with an exit code > 0.

Step to reproduce:
[code]
In my bash, `echo $?` is `0`

[2018-12-07 14:18] nunomaduro commented on #174
That's weird, thanks for reporting this.

[2018-12-07 18:37] zecipriano opened #175 "Building app not supported on Windows"
When building an app on Windows with `app:build` the process fails.

The main issue, I assume, is that `humbug/box` [does not support Windows ](https://github.com/humbug/box/issues/193) yet.

Another issue is the way `box` is called from `BuildCommand.php`. Right now is called the unix way `./box` but from Windows it needs to be called `php box`. Although there's no point in fixing this until `box

[2018-12-07 20:03] nunomaduro commented on #175
@zecipriano If you use bash in Windows it works right?

[2018-12-08 01:34] dabernathy89 commented on #159
FWIW, I was running into this error, and it turned out to be invalid JSON in my `box.json` file (discovered by running the build with the `-vvv` flag).

[2018-12-08 10:00] zecipriano commented on #175
@nunomaduro Yes, when using the linux subsystem thing, it works.

Except that, when I run `app:build` I hit a 60 seconds timeout, but that's another issue. When I increase that timeout, it works fine.

[2018-12-08 10:21] zecipriano opened #176 "app:build timeouts at 60 seconds"
The `Symfony\Component\Process\Process` object created in `BuildCommand` has a default timeout of 60 seconds.

On my laptop, both on Homestead and the windows linux subsystem, that is not enough.

I would make a pull request but I'm not sure the better way to fix it. Instantiate `Process` with a bigger timeout, `null` to disable the timeout or make it somehow configurable and leave it to the user?

[2018-12-08 20:58] nunomaduro commented on #176
@zecipriano Thanks for reporting this. Can you perform a Pull Request with an increased timeout, and probably an new optional argument for the definition of the timeout?

[2018-12-09 13:20] nunomaduro commented on #174
This issue has been fixed on the version `v5.7.14`. Can you run a quick test on it?

[2018-12-10 09:21] Broutard commented on #174
Fixed.
Thanks a lot.

[2018-12-10 10:08] #174 closed

[2018-12-10 14:40] zecipriano commented on #176
@Broutard Agreed, but I think that should be a separate issue.

[2018-12-10 18:50] #176 closed

[2018-12-10 18:57] nunomaduro commented on #176
Thanks @zecipriano for this.

[2018-12-10 18:58] nunomaduro commented on #176
@Broutard Could you create an issue/pr for the `fromShellCommandline` issue?

[2018-12-10 20:10] dabernathy89 opened #177 "Using `Storage` facade in standalone build"
Here's a basic test case:

https://github.com/dabernathy89/laravel-zero-filesystem-test/commit/06fcd9f7b79948bec6c0f35183b67e5c83afc4d0

Steps to reproduce:

1) `php filesystem-test app:build`
2) `./builds/filesystem-test inspiring`

This gives me the following error:

[2018-12-10 20:19] nunomaduro commented on #177
@dabernathy89 While working with standalone applications, you can't use absolute paths.

Relatives paths are the solution for you:
[code]

If this works for you, can you add a small note on the Laravel Zero website? https://github.com/laravel-zero/website

[2018-12-11 15:56] sandervanhooft commented on #99
Is there a way to only bind and not call the mocked command? I am trying to test that executing command A (non-mocked) after completion calls command B (mocked).

[2018-12-11 16:25] nunomaduro commented on #99
@sandervanhooft You want to make sure a command is called right?

[2018-12-11 19:30] sandervanhooft commented on #99
Hi @nunomaduro , yes that's right.

[2018-12-11 19:41] sandervanhooft commented on #99
Meanwhile, I'm testing the solution offered by @svenluijten:

1. I receive an error that the `call()` method should be made `public` instead of `protected`. So I did.
2. Then I receive another error:
[code]
This is triggered for this line from Sven's example:

[code]

[2018-12-11 19:42] sandervanhooft commented on #99
The only non-basic thing is that I have Console Dusk installed.

[2018-12-11 19:49] sandervanhooft commented on #99
Yes, but the command I want to make sure is called is called _indirectly_ from another command.

[2018-12-11 20:03] nunomaduro commented on #99
@sandervanhooft A solution may be have a class `service` that does the real job from the secondary command. And then, mock that `service` class using the container.

[2018-12-11 20:11] sandervanhooft commented on #99
Ok, so I have a

[2018-12-11 20:13] sandervanhooft commented on #99
I'm going to dive a bit deeper into this in the next few days (hopefully), will let you know how it goes!

So far absolutely 💗💗  Laravel Zero by the way!

And however briefly - nice to meet you at Laracon.eu!

[2018-12-11 20:14] sandervanhooft commented on #99
May be an interesting approach, but I think the `assertCommandCalled` will be a recurring theme in my app and probably in other devs' as well.

[2018-12-11 20:22] nunomaduro commented on #99
Hummmm. Could you think about an implementation for that? Would be good to add it to Laravel Zero or even to Laravel itself.

[2018-12-11 20:35] sandervanhooft commented on #99
Absolutely no idea yet. May need to implement a spy on the Kernel?

[2018-12-11 20:40] nunomaduro commented on #99
I let you think about this, just make sure you prototype something quick and let's think about the real implementation later 👍

[2018-12-11 21:03] sandervanhooft commented on #99
Did a quick scan, I can think of three directions currently:

1. Inspired by `Event::fake()`, wrap `Illuminate\Command` in a spy when using `Command:spy` helper. Then use a `assertCommandCalled($command, ?$callback)` test helper for asserting. It seems impossible to me to go a level deeper because then we get into Symphony territory.

2. Add lifecycle Events to the Command calls ([like Eloquent mo

[2018-12-11 21:04] sandervanhooft commented on #99
(1. "feels" possible, but will be a stretch for me so may take some time)

[2018-12-12 21:30] nunomaduro commented on #99
@sandervanhooft Can you create a new issue with the content of that proposal? Sorry, but I would like to really follow this.

[2018-12-12 21:30] nunomaduro commented on #177
Need you run some tests on this, thanks for reporting.

[2018-12-13 09:22] sandervanhooft opened #178 "[5.8] Assert that command was called"
(Moved from #99)

Would be great to have an easy way of asserting that a specific command was called.

The use case is that I have a command A, which cascades into command B and command C. Command B and Command C are already covered in other tests, but I want to make sure that when I call command A, command B and command C are called as well.

After doing a quick scan, I can think of three directi

[2018-12-13 16:33] sandervanhooft commented on #178
Here's an helpful post by Freek van den Herten: https://murze.be/handcrafting-mocks .

But what class should be we swapping? @nunomaduro do you know what class is actually invoking the command? Is it the Zero Kernel? If so, what method?

[2018-12-13 16:52] sandervanhooft commented on #178
(The Event architecture seems to use a separate Dispatcher class, not sure about the Console commands)

[2018-12-13 17:13] nunomaduro commented on #178
Taking holidays until next week. I will get back to you soon as possible.
On Thu 13 Dec 2018 at 17:52, Sander van Hooft <notifications@github.com>
wrote:

[2018-12-13 17:50] sandervanhooft commented on #178
Getting closer...

I was able to swap the `Illuminate\Contracts\Console\Kernel` and track the command calls made. But it seemed not all calls are triggered through here.

Appears when triggering `call(...)` from a Command (based on `Illuminate\Console\Command`), directly resolves the target command, bypassing the `Kernel` altogether.

[2018-12-13 17:50] sandervanhooft commented on #178
So I'll probably have to swap some `BaseCommand` class as well.

[2018-12-13 17:52] sandervanhooft commented on #178
Enjoy! ☀️

If you don't mind I log any progress here in the meantime. 😊

[2018-12-18 09:32] sandervanhooft commented on #178
I created here https://github.com/laravel/ideas/issues/1449 because I think it's currently harder to implement this than it should be. (Currently need to swap out 2 classes instead of 1)

[2018-12-19 20:00] digitalkreativ commented on #177
I  think this is related to how phar files work. I don't think you can actually create new files inside the phar file itself.

I'm using laravel zero to copy some stub files from the phar to the current directory and use `getcwd()` together with the `File` facade. Maybe that gets you on the right track to solve this?

[2018-12-21 15:49] wowcut opened #180 "Please provide an example app, thanks!"
Could you please provide an example app? I read the docs and still can not manage to start with your code - much too abstract - I just need to build a quick cli tool - it would be really nice to see a full fledged example app that implements all features - much easier to learn from that.

I am sure it is possible to use this wonderful library without having to study Laravel concepts for three mont

[2018-12-21 15:50] nunomaduro commented on #180
@wowcut Check this youtube video: https://www.youtube.com/watch?v=6H5eCphgqVc.

[2018-12-21 15:50] nunomaduro commented on #180
Some other resources: https://github.com/laravel-zero/awesome-laravel-zero

[2018-12-21 15:53] wowcut commented on #180
I have seen the youtube - these minimal examples do not help, sorry, but the awesome link might bring up something to study, thank you very much for the quick reaction! You should put that on the frontpage!

[2018-12-21 15:56] wowcut commented on #180
I would like to learn how to organize menus and code, how to reuse code, how to build reliabe error handling and logging. A __real__ app.

Is there something in Laravel Zero that helps me to build / organize / structure the menu system or do I have to invent that?

[2018-12-22 11:44] sandervanhooft commented on #178
For now it's best to

- swap both `Illuminate\Foundation\Console\Kernel` and `Illuminate\Console\Command` for handcrafted mocks.
- define `assertCommandCalled` on `TestCase`, which checks both mocks calls.

[2018-12-22 17:43] sandervanhooft commented on #178
@nunomaduro I have been able to do all except for swapping out `LaravelZero\Framework\Commands\Command` during tests.

Any suggestion how to do this?

[2018-12-22 17:56] nunomaduro commented on #178
@sandervanhooft Thanks for all your work on this. Some questions:

What you exacly mean by a `swap? The `swaps` where done where exacly? Maybe just do a Pull Request with your work to give me a better idea on that.

[2018-12-22 17:58] nunomaduro commented on #180
@wowcut I would like to work on me on improving the documentation? Unfortunately today, Laravel Zero is kind off for people that already know Laravel.

[2018-12-22 17:59] nunomaduro commented on #171
@Broutard You may have to implement your own exception handler, to not report those exceptions.

[2018-12-22 18:02] nunomaduro commented on #173
@sarthaksavvy Can you try this: `composer global require bitfumes/laravel-packer --prefer-dist --ignore-platform-reqs ext-posix`?

[2018-12-22 18:48] sandervanhooft commented on #178
Hi @nunomaduro ,

I am first building this feature in a local project, will happily extract a PR for Zero Framework after that.

With swapping I mean replacing the normal class with a wrapper that records the command calls made. I am able to do this for all necessary classes, except for the `LaravelZero\Framework\Commands\Command` class.

I think it's currently not being resolved via the container

[2018-12-22 18:49] sandervanhooft commented on #178
So instead of swapping `LaravelZero\Framework\Commands\Command` I could also add the required functionality to that Command class itself.

[2018-12-22 19:09] nunomaduro commented on #178
@sandervanhooft I see. Let's work on this together. Since I understood, you need to `swap` the `LaravelZero\Framework\Commands\Command` because people are calling another commands using the `call` method right?

[2018-12-22 19:41] sandervanhooft commented on #178
Yes that's the class I need to swap.

[2018-12-22 19:42] sandervanhooft commented on #178
It's also not in `laravel-zero/framework/src/Bootstrap/RegisterFacades.php`, so it's not available as a Facade

[2018-12-22 19:49] nunomaduro commented on #178
Since you are mocking the `Kernel.php`, why you don't decorate all commands instead? Could you perform a Pull Request with your current code?

[2018-12-22 19:53] sandervanhooft commented on #178
In a minute 😄

[2018-12-22 19:59] sandervanhooft commented on #178
Done. It's probably not what you're looking for right now, but I hope it clarifies the direction I'm thinking of.

(Tests are failing on an unrelated issue)

[2018-12-22 20:35] nunomaduro commented on #178
Thanks for the Pull Request, I will work on that and get back to you ok? Working in some docs today :)

[2018-12-22 20:58] sandervanhooft commented on #178
Sure thing!

I've not used any mocks/swaps but worked directly on the source classes, because I think I'll need the recording functionality for implementing the `back()` method as well.

[2018-12-22 21:16] nunomaduro commented on #178
@sandervanhooft No worries, currently working the new website for Laravel Zero: https://github.com/laravel-zero/website/tree/feat/v2.

[2018-12-24 13:14] nroussis opened #181 "[5.8] Add notifications component"
Hi,
Can I use laravel notifications introduced in laravel 5.3 as described here?
https://laracasts.com/series/whats-new-in-laravel-5-3/episodes/9
Please advice.
Thanks much

[2018-12-24 15:36] nroussis commented on #181
I tried installing it..
in composer.json I added in required:
"illuminate/notifications": "5.7.*",
"ramsey/uuid": "^3.8",

added in config.php - service provider:
 Illuminate\Notifications\NotificationServiceProvider::class

the error I get is that class url does not exist.

In lumen I see similar problem
https://github.com/laravel/lumen-framework/issues/315#issuecomment-173017125
but then this gu

[2018-12-24 16:03] nroussis commented on #181
I also tried adding to config.php url aliases.. still no luck

...
,
    'aliases' => ['URL' => Illuminate\Support\Facades\URL::class]

[2018-12-24 16:16] nroussis commented on #94
Can you do something similar for laravel notifications as well? :)

[2018-12-25 20:30] wowcut opened #182 "[5.8] Why does folder bootstrap exist? Let's consider remove it."
Ok, I think I figured it out, at least the parts I need... :)

However, some questions remain, especially regarding the file structure. One is:
_Why does the `bootstrap/` folder exist?_ I do not understand that.
From what I see everything that is in `bootstrap/app.php` could also go into the command file, like in the example below. It seems to work, at least I had no problems, but what am I missin

[2018-12-25 21:19] wowcut commented on #180
OK, I figured it out, at least the most important parts to get it do what I want it to do. I read the docs of the PhpSchool class and some more about Laravel. I still do not understand everything about how this wrapper exactly works and why it is needed at all and why I can not use the PhpSchool classes directly with Laravel, but this is some research work to be done in the future. BTW I really li

[2018-12-26 08:50] nunomaduro commented on #177
@digitalkreativ @dabernathy89 Let's make sure we proper document into the new website.

[code]

[2018-12-26 09:05] nunomaduro commented on #182
@wowcut The bootstrap directory contains files that bootstrap the framework and configure autoloading. This directory also houses a cache directory which contains framework generated files for performance optimization such as services cache files.

Service cache files are not used anymore since version `v5.7`, let's consider remove this for the next major version.

[2018-12-26 09:08] nunomaduro commented on #180
Thanks for your words @wowcut. I am working on the new documentation website that hopefully will be better starting point for developers that didn't interact with Laravel before.

Feel free to take a look:
[code]

Let's make sure you fully understood how Laravel Zero works behind the scenes before you write something about it. Please give me your feedback about the new docs, it may be unstable.

[2018-12-26 09:08] nunomaduro commented on #181
This may helps: `composer require illuminate/routing:5.7.*`

[2018-12-26 09:36] nroussis commented on #181
Hi Nuno,
No luck still the same problem.. I think it has something to do with the aliases missing from the app.php (thats how it is in laravel)
Can you provide installation like you have for logs? That would be very helpful. I would label this as enhancement rather than question. 👍 Thanks again.

[2018-12-26 09:37] nunomaduro commented on #181
@nroussis Thanks for your feedback!

[2018-12-26 09:47] nroussis commented on #181
if it helps... a screenshot of the error.
![image](https://user-images.githubusercontent.com/19463463/50441569-fd41a380-0903-11e9-8277-dc4174f0d418.png)

[2018-12-26 09:47] digitalkreativ commented on #177
Writing files outside the phar file is no problem at all. As said in the previous comment I already did it with the `File` facade and `getcwd()` . I'll look into how to do it with the `Storage` facade.

After that I'll try to write something for the website. Or I could already write something about how to do it with the `File` facade if you want. Although might be best to have both `File` and `Sto

[2018-12-26 09:59] nunomaduro commented on #177
Thanks for considering contributing  to the website.

[2018-12-26 10:00] nunomaduro commented on #181
@nroussis After requiring the `illuminate/routing`, have you added the `Illuminate\Routing\RoutingServiceProvider` to the service providers list?

[2018-12-26 10:18] nroussis commented on #181
nice catch 👍  Silly me
Passing that one new one pops up..
![image](https://user-images.githubusercontent.com/19463463/50442629-61666680-0908-11e9-9440-a41c165acff0.png)

[2018-12-26 10:20] nunomaduro commented on #181
@nroussis Thanks for your hard work on this. Do you want to start work on the new component for this? Should be easy 👍

[2018-12-26 11:06] digitalkreativ commented on #177
**Note** _tested with 5.6 version in a project I was already building._
_I will test it with a clean 5.7 version next_

For keeping you guys in the loop on this and all information in the issue for future reference:

For the `Storage` facade to work I needed to add a disk in `config/filesystems.php`

[code]
After that you can write to the current directory with `Storage::disk('cwd')->put('file.txt

[2018-12-26 11:10] nunomaduro commented on #177
@dabernathy89 Thanks for your search on this. Since I understood:

1. The `local` is already the driver by default, but the problem is the `root` thing right?

[2018-12-26 11:11] nunomaduro commented on #181
@nroussis This is example of a previous component added: https://github.com/laravel-zero/framework/pull/292

[2018-12-26 11:18] digitalkreativ commented on #177
Yep, changing the `root` property would also solve it, but might not be the expected result for users accustomed to Laravel. That's why I added the `cwd` disk, next to the default `local` disk.

My `config/filesystems.php` looks like this:

[code]

[2018-12-26 11:41] digitalkreativ commented on #177
That would be nice I guess. But those decisions I leave to you :)

[2018-12-26 11:53] nunomaduro commented on #177
I really like the fact that we adapt the core behavior wether you are on build mode or not. Do you want me to prepare a pull request? Or you can do it? 👍

[2018-12-26 11:55] wowcut commented on #182
Nuno, do you have a reference for this?

I could not find any hints about that, the [Laravel 5.7 release notes](https://laravel.com/docs/5.7/releases#laravel-5.7) do not mention service cache.

[2018-12-26 11:57] nunomaduro commented on #182
Service cache are not used in **Laravel Zero**. The core of Laravel Zero is different from Laravel's core.

[2018-12-26 11:58] wowcut commented on #182
Ah, ok, so Laravel Zero 5.7... ok. BTW it woud be great to have a few sentences about what is different and, more importantly as we all can read diffs, _why_ these changes exist. Thanks and have a nice day!

[2018-12-26 12:01] nunomaduro commented on #182
@wowcut You welcome! Thanks for the feedback.

Please don't hesitate and contribute for the new documentation website. To setup the documention website just perform the following steps locally:

[code]

_Be sure to stay tuned to my twitter account [@enunomaduro](http://twitter.com/enunomaduro) for more information about this package. Are you enjoying this package? Please tweet the link [https://gi

[2018-12-26 12:01] #182 closed

[2018-12-26 12:54] digitalkreativ commented on #177
I'll give it a go. I haven't tried anything like this yet, but you can't learn it if you don't try.

If you don't hear back from me by tomorrow I got lost in the code and you probably should just go ahead and create a pull request yourself 😄

[2018-12-26 12:56] nunomaduro commented on #177
Good luck buddy! Don't hesitate if you have any questions! Normally you just have to edit the configuration in runtime, something similar too:

Pseudo code:
[code]

[2018-12-26 13:47] nroussis commented on #181
I was able to make it work by editing vendor/illuminate/routing/UrlGenerator.php ... If you know how can I integrate this without touching the actual routing package?
line 659   public function setRequest(Request $request=null)
line 120  public function __construct(RouteCollection $routes, Request $request = null, $assetRoot = null)
line 304  $this->cachedSchema = $this->forceScheme ?:'https'.'://

[2018-12-26 13:51] nunomaduro commented on #181
I am sure that there is a better way of doing things without touching the vendor. Take a look at the RoutingServiceProvider, you may need to create your own service provider like this: `src/Components/Logo/Provider.php`.

Instead of people register manually service providers, you will do it using a `src/Components/Notification/Provider.php`.

[2018-12-26 14:40] digitalkreativ commented on #177
I've got a working version in a `app/AppBuiltServiceProvider.php` file which should be added to the `config/app.php` `Providers` array or via `app/Providers/AppServiceProvider.php`.

Should this be part of laravel-zero/laravel-zero or laravel-zero/framework ?
Or if you want to look at it first I'll fork laravel-zero/laravel-zero and add my changes on the fork.

[2018-12-26 14:42] nunomaduro commented on #177
Should be a service provider placed here: https://github.com/laravel-zero/framework/tree/stable/src/Providers.

Finally, make sure you add that service provider on the kernel bootstrap, here: https://github.com/laravel-zero/framework/blob/72761b535a7d3b0ad2a8aaa3c81d719d19b2eb31/src/Bootstrap/RegisterProviders.php#L39.

If possible, would be good to have a test on this.

[2018-12-26 14:48] digitalkreativ commented on #177
Alright I'll get to it :)

I'll try to have a go at a test too.

[2018-12-26 14:49] nunomaduro commented on #177
Testing this may be hard. Fell free to discuss how you plan to test this before.

[2018-12-26 14:50] digitalkreativ commented on #177
Ok, I'll get the fork up first than we can see where to go with the test.

[2018-12-26 15:17] digitalkreativ commented on #177
Link to the fork:
https://github.com/digitalkreativ/framework/commit/458f383bee5038783a7ee71c9e33386d2fd352af

[2018-12-26 15:30] digitalkreativ commented on #177
Ok done, I'm new to this :)

[2018-12-27 09:52] wowcut opened #183 "Provide a way for including an external config file for phar built"
It would be great to have a way to make the phar read an optional config file _from the filesystem, not from inside the phar._

But some things are special in phars, as all the file access maps to files _inside_ the phar. This means that everything inside `config/` will be included and read from _inside_ the phar archive - but it would be great to have a config file from _outside the phar_ to over

[2018-12-27 09:54] nunomaduro commented on #183
Could you try to check the configuration file in `https://github.com/laravel-zero/laravel-zero/blob/stable/box.json`?

[2018-12-27 11:45] wowcut commented on #183
This is the exact same configuration I have here already.

[2018-12-27 11:46] nunomaduro commented on #183
@wowcut You should adapt it, in order to include external files.

[2018-12-27 11:49] wowcut commented on #183
I do not see any way how changing that config can help, but maybe I am wrong. I see that one can exclude directories, but this would not help, as _it is ok_ to include `config/`.

[2018-12-27 11:52] wowcut commented on #183
I do not want to include internal files. The point of this issue is including **external** files if they exist. SO one can deploy one phar but still use an external configuration file to adapt to diffrent environments.
I guess, btw, that this would be also useful for `.env` files, but I did not test that.

[2018-12-27 12:01] wowcut commented on #177
I am not sure I understand this issue, but you might check #183 for a similar thing. To circumvent phar file access mapping everything to inside the phar I found this little piece of code helpful:
[code]
From what I found in the docs and on SO this seems to be a reliable way to get the absolute path to the current working directory of the phar, from where you could build up. However, not sure wher

[2018-12-27 14:07] digitalkreativ commented on #177
@wowcut, thanks for that bit of code.

I guess it will depend on the purpose of the files that need to be written where you would want to write the files.

Sometimes you might want those files at the location of the phar (config files as your issue https://github.com/laravel-zero/laravel-zero/issues/183) and sometimes you might want those files at the current working directory ( similar to how com

[2018-12-28 21:55] nunomaduro commented on #183
@wowcut A side note, not related to the issue: First of all, thanks for all your work so far on the feedback. Would be great if you could also write some content to improve our website: https://laravel-zero.com. https://github.com/laravel-zero/website.

[2019-01-02 11:40] emmajiugo opened #184 "Installer on Windows: exceeded the timeout of 60 seconds, and failed renaming application"
[code]

I keep getting the above error anytime I tried installing Laravel-Zero using `composer create-project --prefer-dist laravel-zero/laravel-zero movie-cli`

[2019-01-02 12:12] emmajiugo commented on #184
Also using the `laravel-zero` installer, I keep getting this below error:

[code]

[2019-01-02 12:14] nunomaduro commented on #184
@emmajiugo Try to use directly this `composer create-project laravel-zero/laravel-zero rave --prefer-dist`. And tell me the results.

[2019-01-02 12:19] emmajiugo commented on #184
It aborted, same as when using `Via Composer Create-Project`. Gave the below error after trying to rename the application:

[code]

[2019-01-02 15:10] emmajiugo commented on #184
@nunomaduro I still need a fix on the above issue.

But a temporary fix I did was; I discovered that the default name given is `application`. So I ran the command ` php application app:rename <your-app-name>`

This was home I gave my app a unique name.

[2019-01-02 21:04] nunomaduro commented on #184
Installer project: https://github.com/laravel-zero/installer.

Code related to the rename: https://github.com/laravel-zero/laravel-zero/blob/4b04bdcb69dc6e92983c45865a0637f5cce84402/composer.json#L46

[2019-01-02 21:13] nunomaduro commented on #181
@nroussis have news on this?

[2019-01-03 01:15] RoccoHoward opened #185 "[5.8] Adding a built-in self-update command"
It would be great to have a self-update command built-in to laravel-zero. I've targetted 5.8 - which may be enough time? Have added this issue on @nunomaduro 's request.

I've developed one for a recent project using a trait/interface to implement it - you can review the code at https://github.com/hnhdigital-os/laravel-console-self-update.

Flexibility is key in providing this particular command a

[2019-01-03 08:04] nunomaduro commented on #185
I would love to see this: Creating a new component called `self-update-on-build`, under the laravel-zero organization `laravel-zero/self-update-on-build` or even on `hnhdigital-os/self-update-on-build`.

1. The component should be available on the `app:install` command. Providing a new component is as easy as: https://github.com/laravel-zero/framework/pull/292/files#diff-57ffd60d2a32bd7a4bdbdf1e08

[2019-01-03 13:40] tvbeek commented on #184
For issue 2 it is possible for testing and debugging to rename / copy the post-create-project-cmd to a script with another name and call that script with composer scriptname. That result in the same error as during the create-project command.

I tracked it to the QuestionHelper where it didn't have autocomplete and Stty: https://github.com/symfony/console/blob/master/Helper/QuestionHelper.php#L114

[2019-01-03 23:00] nunomaduro commented on #184
Related issue: https://github.com/laravel-zero/laravel-zero/issues/175

[2019-01-04 03:05] RoccoHoward commented on #185
GraphQL API v4 query for latest version:-

[code]

[2019-01-04 08:17] nunomaduro commented on #185
Yes. You are right.

Careful here. I think the link should be: `https://github.com/OWNER/PROJECT/tree/TAG/builds/BUILD_NAME`

The build name, by default, is the app name yes. Let's keep it simple, and default to the app name.

You can extract that from the `composer.json`.

Let's think about this later.

PS: Thank you for your hard work on this. Credits will be propertly assigned.

[2019-01-04 15:17] emmajiugo commented on #168
Hi,

The `.env` and `.env.example` files were not created on windows. `.ignore` file was not updated. But I checked the `composer.json` file and I discovered that it added the `vluca/phpdotenv` dependencies.

[2019-01-04 15:30] emmajiugo commented on #168
I discovered this was timing out on
[code]

[2019-01-04 15:34] nunomaduro commented on #168
@emmajiugo Thanks for debugging this. Can you make a pull request to set a 0 timeout on the symfony process?

[2019-01-04 15:57] emmajiugo commented on #168
@nunomaduro
After installing the dotenv, I keep getting this below error anytime i run a command...Any help?

[code]

[2019-01-04 16:04] nunomaduro commented on #168
Sorry, my bad. The latest version should have that fixed: `v5.7.19`.

[2019-01-06 22:51] RoccoHoward commented on #185
Took me a bit to get what you were saying. Got it now. So used to putting binaries in a different branch/folder based/non tagged. Only have to add ?raw=true to the end of the URL to make it work. I'll be testing it against a test repo anyway.

Of course. Just need to be clear to anyone that this needs to be updated - when you start a new project - this is all laravel-zero details in the composer.j

[2019-01-06 23:14] nunomaduro commented on #185
Good to know that we are on the same page. Just hit my back when you have a POC of this.

[2019-01-07 16:22] marc-pages-onclick commented on #173
Not working for me. I've the same issue when running on Windows.

`* The package "php-school/terminal" requires the extension "posix". Enable it
  or install a polyfill.`

[2019-01-08 13:02] gdecris opened #186 "Dotenv loader failing"
After running ```php <app-name> app:install dotenv``` getting an error loading the .env

```Fatal error: Uncaught Symfony\Component\Debug\Exception\FatalThrowableError: Argument 1 passed to Dotenv\Dotenv::__construct() must be an instance of Dotenv\Loader, string given, called in .../vendor/laravel-zero/foundation/src/Illuminate/Foundation/Bootstrap/LoadEnvironmentVariables.php```

Am I missing a

[2019-01-08 13:06] gdecris commented on #186
I figured it out. I had a newer version of dotenv installed. SIgnature was changed. Not sure if I did that or the app:install just installed an incompatible version.

[2019-01-08 13:06] #186 closed

[2019-01-08 13:07] nunomaduro commented on #186
This issue was being fixed on the latest version of Laravel Zero. Can you update it using `composer update laravel-zero`.

[2019-01-08 13:09] gdecris commented on #186
I just installed ~2.2 of dotenv to resolve the issue. Thanks for the quick reply!

[2019-01-08 19:56] digitalkreativ commented on #171
@Broutard this seemed like a good issue for me to find out how to do it.

I got a basic implementation up and running. I can get it up on github, if you need it.

I will also probably write an article on my blog for this soon. One of my new years resolutions was to start writing more so this seems like a good start :)

@nunomaduro if needed I can add some basic info on how to write your own Except

[2019-01-08 21:34] digitalkreativ commented on #171
@nunomaduro the basic info on that shouldn't be to hard to write up, so no problem.

Where do you want it in the menu structure? Inside the **Usage** menu I assume?

[2019-01-08 21:41] nunomaduro commented on #171
@digitalkreativ Just propose a pull request. We work from that.

Probably inside a new topic called "The Exception Handler" - where you explain that laravel zero uses one by default on the core, but you can override it blabla.

[2019-01-12 14:36] digitalkreativ commented on #171
@Broutard the latest documentation should help you solve your problem.

https://laravel-zero.com/docs/exception-handler/

If you get stuck somewhere in the documentation let me know and I'll see if I can help you and update documentation if necessary.

[2019-01-13 15:17] linuxjuggler commented on #183
Am not sure if my solution the cleanest one that you will see (as I am still working on refactoring it), but this is what I did, and I hope you will find it useful.

1- Installed filesystems and add the following config file

[code]
as you can notice, am creating a new directory to hold my data within `getenv('HOME')`, there I'll be adding my generated `.env` file.

2- In `bootstrap/app.php` I add

[2019-01-17 09:19] mvanduijker commented on #153
I am having the same issue here on our servers. In my homestead box it works just fine.

Both my box and my server running ubuntu 18.04.1 with php 7.2.

Getting the error when creating fresh project with:

[code]

![image](https://user-images.githubusercontent.com/1771206/51307886-14763b80-1a41-11e9-8344-f481e499ebc4.png)

[2019-01-17 10:13] nunomaduro commented on #153
@mvanduijker Can you create a new issue?

[2019-01-17 10:44] mvanduijker opened #187 "ReflectionException : Class router does not exist"
Getting this exception when creating fresh project on one of my servers. It is working in my homestead box.

Both my box and my server running ubuntu 18.04.1 with php 7.2.

Tried to replicate it with a base bionic64 vagrant box, but there it works as wel...

Getting the error with this command:

[code]

![image](https://user-images.githubusercontent.com/1771206/51307886-14763b80-1a41-11e9-8344-f48

[2019-01-17 10:45] mvanduijker commented on #153
@nunomaduro for sure

[2019-01-17 10:55] nunomaduro commented on #153
Thanks!

[2019-01-17 10:56] troccoli commented on #187
I'm getting the same error, on a CentOS 6.4 box.

Extract from my compose.json

[code]

[2019-01-17 10:57] nunomaduro commented on #187
Checking this after lunch.

[2019-01-17 11:35] nunomaduro commented on #187
@troccoli @mvanduijker What happens if you call `php application app:rename` directly ?

[2019-01-17 11:43] troccoli commented on #187
I can't. In my case `php application` fails

[2019-01-17 11:50] mvanduijker commented on #187
@nunomaduro same error, even if i package it with app:build on a box where it works, copy it to my server it will fail with the same error

[2019-01-17 14:50] nunomaduro commented on #187
Can't reproduce it on mac. Can you try to debug it?

[2019-01-17 15:02] mvanduijker commented on #187
I have tried to make something to easily reproduce it on my local machine. I have tried a lot...
Different ubuntu distributions, centos, couldn't reproduce it anywhere.

I think somewhere an exception is thrown and something catches it and tries to load up the router. But fairly hard to debug, I don't have a lot of experience with laravel framework internals.

For now I am going to use standard la

[2019-01-17 15:06] troccoli commented on #187
I have tried a lot of debugging on the server where it fails. I know it's not much help but the only thing I found is that if I copy and paste (yes, copy and paste) the `boot()` method from `Illuminate\Foundation\Application` to `LaravelZero\Framework\Application` the app works. I don't see why that makes any difference as the latter extends the former, but there you go.

I am going to try and use

[2019-01-17 15:07] nunomaduro commented on #187
Thanks for your work on this!

[2019-01-18 13:17] troccoli commented on #187
Unfortunately my efforts didn't produce anything, and I cannot replicate the issue in a docker container.

We are going to use Lumen instead.

[2019-01-18 13:30] troccoli commented on #187
It's the same result. It doesn't even bootstrap, let alone getting the options.

[2019-01-18 13:32] nunomaduro commented on #187
@troccoli Please perform `php application list -vvv` and give the results. Even if is the same result.

[2019-01-18 13:35] troccoli commented on #187
[code]

[2019-01-18 13:46] nunomaduro commented on #187
Show me your `config/app.php`.

[2019-01-18 13:48] nunomaduro commented on #187
Also, show me your `composer.lock`.

[2019-01-18 13:52] troccoli commented on #187
`config/app.php`

[code]

`composer.lock`

[code]

[2019-01-18 14:10] nunomaduro commented on #187
Just in case, please upgrade your laravel zero framework typing: `composer update laravel-zero/framework`.

[2019-01-18 14:16] troccoli commented on #187
Same result I'm afraid

[2019-01-18 14:21] nunomaduro commented on #187
I believe Laravel Exception Handler is trying to create an instance `router` out of the container, hard to debug why.

On the handle method of the kernel console of Larafvel Zero put this code and tell the result of the dd: ```php    public function handle($input, $output = null)
    {
        try {
            $this->bootstrap();

            return $this->getArtisan()->run($input, $output);

[2019-01-18 14:40] nunomaduro commented on #187
I am out of time to open source today, try to debug `/Bootstrap/BootProviders.php` the boot call. Something it's making the code fail.

[2019-01-18 14:43] troccoli commented on #187
Sorry, I've already spent far too much time trying to debugging this, including `Illuminate\Foundation\Bootstrap\BootProviders::boot()`, to no avail.

[2019-01-18 14:44] nunomaduro commented on #187
I will try to debug it tonight.

[2019-01-21 16:02] NoxxieNl commented on #181
I was looking at this and if you install the `illuminate\routing` package you almost get the full front end of the laravel framework is well, the whole point of laravel zero its just the CLI version of it but I could be mistaken here..

[2019-01-21 16:06] nunomaduro commented on #181
@nroussis This is a optional component. So it's fine.

[2019-01-21 16:21] NoxxieNl commented on #181
@nunomaduro it was me :-)

well I included the routing and the view components from illuminate.
Though getting the following error:

[code]

[code]

No clue why its there though, still figuring that out why its saying that... included both ServiceProviders to the `app.php` file and added an alias for the notification.

added the fascade to the file where I am sending the notification:
[code]

so f

[2019-01-22 06:05] NoxxieNl commented on #181
Got it!

I got the `on demand notifications` working:
https://laravel.com/docs/5.7/notifications#on-demand-notifications

In your `composer.json` file add the following requirements:
[code]

in your `app.php` file add the following to your `providers`:
[code]

Create the following folder structure in your root directory (**NOT** in your `app` folder):

In your `config` folder add the files `view.p

[2019-01-22 18:45] tristanjahier opened #188 "Use Redis cache driver"
Hi, is it even possible to use Redis as a cache store, as in Laravel?

I followed official Laravel docs but with no success.

I required `predis/predis ^1.1` in my `composer.json`.

I've created `config/database.php` with:

[code]

I've created `config/cache.php` with:

[code]

But if I run for example `Cache::store('redis')` I get this error:

[2019-01-22 18:48] nunomaduro commented on #188
Try to put your `config/cache` as:

[code]

[2019-01-23 06:59] linuxjuggler commented on #183
After small trial and error, I found out that the best place to check the existence of the `.env` file is within the `AppServiceProvider` or any service provider that you have.

but make sure to check it only when needed, otherwise, the validation will be executed all the time, and you will need to escape it sometime, like when you want to generate the `.env` file.

[2019-01-23 13:33] tristanjahier commented on #188
Hi @nunomaduro! Thank you for the quick reply. Actually it is already what I have. My complete file is (from Laravel 5.7 repo):

[code]

[2019-01-23 18:57] tristanjahier commented on #188
My bad, I've understood what was the problem!

I thought that the Redis integration code was integrated by default in Laravel Zero, but it is not. 😅 I definitely should have checked it sooner.

So you simply have to require `illuminate/redis`, and add its service provider in `config/app.php`:

[code]

Requiring `predis/predis` is now useless because it is a dependency of `illuminate/redis`.

It se

[2019-01-23 18:57] nunomaduro commented on #188
Good job!

[2019-01-23 18:57] #188 closed

[2019-01-25 00:45] mrdionjr commented on #185
Great! I was going to create the same issue. How is it going? You can check out https://github.com/humbug/phar-updater if you need some ideas.

[2019-01-25 09:14] nunomaduro commented on #185
@RoccoHoward Have you checked phar-updater? It's also used in this Laravel Zero app: https://github.com/linuxjuggler/cloudflare-cli/blob/master/app/Commands/SelfUpdateCommand.php.

[2019-01-25 09:40] RoccoHoward commented on #185
@nunomaduro  I'm looking at it over the weekend - will let you know if it does the trick. Might save some time and we won't have to maintain much.

[2019-01-28 11:45] linuxjuggler opened #189 "[Bug] No ability to add aliases to a command"
Basically, with Symfony Console or even with Laravel you can assign multiple aliases for the same command for example:

The following command has two more aliases, which was added via `configure()` function and using `setAliases` method.

[code]

in Laravel, we get the following result, using `php artisan list`

[code]

and the following when executing `php atrisan list admin`

[code]

But in Lara

[2019-02-01 11:00] zajinx commented on #159
i found another fix for this issue on windows, using the latest version of laravel-zero and box

1. install box as global:  composer global require humbug/box
2. edit line 96 in vendor\laravel-zero\framework\src\Commands\BuildCommand.php
from
[code]
to
[code]

[2019-02-01 12:04] nunomaduro commented on #159
Can you propose a pull request please ? On the develop branch.
On Fri 1 Feb 2019 at 06:00, zajinx <notifications@github.com> wrote:

[2019-02-06 18:48] linuxjuggler commented on #189
Am going to close this here, as from what I can feel, the bug is more related to the [console summary library](https://github.com/nunomaduro/laravel-console-summary) not the framework itself.

[2019-02-06 18:48] #189 closed

[2019-02-08 18:34] nunomaduro commented on #178
This feature was been added.

[2019-02-08 18:34] #178 closed

[2019-02-08 18:34] #161 closed

[2019-02-08 18:35] #171 closed

[2019-02-08 18:36] nunomaduro commented on #173
This was been fixed on the next version of Laravel Zero.

[2019-02-08 18:36] #173 closed

[2019-02-08 18:41] #180 closed

[2019-02-08 18:41] nunomaduro commented on #185
@RoccoHoward Have news on this?

[2019-02-08 18:43] nunomaduro opened #190 "Laravel Zero 5.8 Features"
- We are going to focus on the Windows environment
- phar builds with a self-update command
- phpunit 8

[2019-02-12 13:11] shadoWalker89 commented on #184
Problem solved by increasing the php.ini config value `default_socket_timeout` to bigger value

[2019-02-14 00:40] RoccoHoward commented on #185
@nunomaduro Sorry. I work for myself and my time has been very limited with kids back at school + wife covering her boss + paid work and business trip.

Likely be able to come back to this in 3-4 weeks time - sorry for missing the 5.8 window.

[2019-02-14 08:16] nunomaduro commented on #185
No worries. Maybe @ijpatricio wants to take this? Or someone else?

[2019-02-14 16:32] ijpatricio commented on #183
Hello everyone.

Just made a project where the built phar may have a config file residing along, and merging values from this.

There's a configuration to enable/disable external file, and also for the filename.

It's initial stage, before eventually functionality getting to the core, just to get a picture of how it could be made.

https://github.com/ijpatricio/inspiring

Feedback appreciated.

Th

[2019-02-15 19:01] kaleb14587 commented on #129
I tried this, but for me i get a this error: PHP Fatal error:
 Uncaught ReflectionException: Class env does not exist in /home/kaleb/PhpstormProjects/console-cluster/vendor/illuminate/container/Container.php:779

[2019-02-15 19:04] kaleb14587 commented on #129
believe this is part of the code :
`app()->environment() === 'production'`

[2019-02-16 17:39] foxted commented on #109
Old issue but I thought this could help future visitors:

I was trying to proxy a command via docker-compose via Laravel Zero. I have a Laravel Zero application (https://github.com/WhatDaFox/Harbor) that generates a docker-compose file tailored for Laravel. I need a way to call artisan via `docker-compose run` as when running Laravel in a Docker container, it is recommended to run artisan in the c

[2019-02-16 21:37] nunomaduro commented on #129
Can you create a new issue?

[2019-02-16 22:01] nunomaduro commented on #109
@foxted You should use symfony process to get real time output from your `exec` result.

[2019-02-16 22:49] foxted commented on #109
I was just looking for a way to do that 😆 Thanks! 🙏🏼

[2019-02-20 18:20] kaleb14587 opened #191 "Laravel zero - Use external environment in build app"
I use the .env normally but when I do the application build I would like to use another production .env and I just can not do it.

is it possible, how do I do this?

[2019-02-21 05:02] danielpigott commented on #187
I have been having the same issue and found that it was the newrelic extension causing the problem.
I also found that when I was having the issue it would run once, then any time I run my command after that It would crash.
I have disabled the newrelic extension on the command line for now to work around the problem

[2019-02-21 12:09] gravataLonga commented on #159
offtopic: tuga aqui.

Yep, the same thing happen to me, i don't have time to debug this. But i think is failing build the ".phar" object, because on directory there not exist a ".phar" file and the command is try to move a .phar file to  builds folder. May be this can give some hint.

[2019-02-21 12:42] nunomaduro commented on #191
cc @ijpatricio

[2019-02-21 13:02] ijpatricio commented on #191
Hello guys,

@nunomaduro ok, as previewed in https://github.com/laravel-zero/laravel-zero/issues/183#issuecomment-463695198

We can make this with external `.env` file, living aside to the built app.
So, its the conventioned KEY=VALUE pairs, no support for arrays, like in a `.php` file

Like this, right?
[code]

Should the name be the conventioned `.env` hidden file?
Maybe this filename be a confi

[2019-02-21 16:09] kaleb14587 commented on #191
Hy,
I want the build file to use an env to file not that it builds with env.
Something like:
[code]

[2019-02-21 16:12] gravataLonga commented on #159
When running manually the ./box compile, i got the following error:

`
vendor/laravel-zero/framework/bin/box compile --working-dir="/<path>/tool" --config="/<path>/tool/box.json" --debug
[debug] Checking BOX_ALLOW_XDEBUG
[debug] The xdebug extension is not loaded
[debug] Process restarting (BOX_ALLOW_XDEBUG=internal||1|*|*)
[debug] Running '/usr/local/Cellar/php/7.3.1/bin/php' '-n' '-c' '/private/

[2019-02-21 16:26] gravataLonga commented on #159
After ones minutes to debug, the solutions was the command:

[code]

Not change the composer.json, the solutions is more ease than look! 👍

[2019-02-21 16:27] kaleb14587 commented on #191
I try do it in appserviceprovider but the database connection  has established on function boot() of the provider.
[code]

[2019-02-21 17:11] kaleb14587 commented on #191
Great,
I solved with #183 comment

[2019-02-21 17:12] #191 closed

[2019-02-26 19:19] #190 closed

[2019-03-01 01:22] mikeerickson opened #192 "Which repo contains documentation"
@nunomaduro Hey bud, which repo contains the website documentation?  I would like to add a section to describe how 3rd Party libraries should be registered, etc.  If it already exists, I could not locate it

I know it was easy enough to simply add to `config/app.php` for Laravel supported packages, but also want to include some information about using non-laravel packages.

[2019-03-01 08:54] nunomaduro commented on #192
Thank you!

This is the website: https://github.com/laravel-zero/website
On Fri 1 Mar 2019 at 02:22, Mike Erickson <notifications@github.com> wrote:

[2019-03-06 11:07] linuxjuggler commented on #185
Hey @nunomaduro, Can you have a look at https://github.com/linuxjuggler/framework/commit/d03df861aeb160dbd49afe9e81167c06bc447bb3 .

Please note that this is for sure *not a full solution* its just a simple implementation which needs a lot of enhancement.

let me know what you think

[2019-03-06 12:22] nunomaduro commented on #185
@linuxjuggler Can you do a pull request against develop?

[2019-03-06 12:40] linuxjuggler commented on #185
sure thing @nunomaduro but just a note, I didnt test it yet so we should look at it carefully

[2019-03-06 12:44] linuxjuggler commented on #185
Also, I was thinking about the whole `app:install` feature and wondering if we can just separate it into a separate package so it would be easier to build packages without touching the framework.

This can be for another topic, which am happy to discuss with you later @nunomaduro

[2019-03-11 06:50] FujiMakoto opened #193 "failed to open stream: phar error: internal corruption of phar"
After building, I am able to run my commandline application oncer, then on all subsequent commands I get an error about a filesize mismatch indicating that the PHAR is corrupted.

[code]

Public repository:
https://dev.taiga.sh/ips/invision-dev-helper

Builds before and after first run:
https://www.dropbox.com/s/aplqzqf88mhwaor/builds.zip?dl=0

(idh is after a fresh build, idh-bkp is after the fir

[2019-03-11 06:56] FujiMakoto commented on #193
A quick look at the PHAR's shows one has a storage directory and one doesn't.

![11kwpEU](https://user-images.githubusercontent.com/7929996/54105380-405ecf00-43a9-11e9-870a-c196991b46de.png)

Seems like maybe laravel-dusk is causing issues here?

[2019-03-11 07:01] FujiMakoto commented on #193
Yep. That was the issue.

After removing laravel-dusk the applications working fine again,
```composer remove nunomaduro/laravel-console-dusk```

[2019-03-11 07:03] FujiMakoto commented on #172
See issues #193 regarding the corrupted Phar archives.

Laravel Dusk is automatically creating a storage directory inside the PHAR archive on first execution, which causes the PHAR archive to read as "corrupted" thereafter.

[2019-03-11 08:07] nunomaduro commented on #193
Laravel Zero version ?

On Mon 11 Mar 2019 at 08:01, FujiMakoto <notifications@github.com> wrote:

[2019-03-12 05:11] 646836805 commented on #187
都发现了bug，为啥不能解决。

[2019-03-12 08:34] nunomaduro commented on #193
5.8 it's the latest version. I don't think it's the solution anyway.

You must declare a dynamic storage path on the console-dusk settings. Maybe @ijpatricio can give you a hand on this.

[2019-03-12 08:34] #192 closed

[2019-03-13 19:58] ijpatricio commented on #193
Hello @FujiMakoto,

Did you already try now with 5.8?

Are you still with this problem?

[2019-03-13 21:13] ijpatricio commented on #193
@nunomaduro , while trying to find a temporary quick fix for this issue, I guess I solved the storage problem.

- Installed Laravel-Zero
- Installed component `console-dusk`
- Published `console-dusk` configuration
[code]
- Made a class App\Build with contents:
[code]

- Put config/laravel-console-dusk.php like so:
[code]

So that when Phar is built, would use its location as the storage...

But n

[2019-03-16 12:18] shadoWalker89 opened #194 "Cannot use dusk within phar file"
I have an application that uses the dusk package for some automated work.
When running the unpacked application it works fine, but after packaging the app into a .phar file i get this error when running the app

php performer

![image](https://user-images.githubusercontent.com/1449151/54475112-e8cbc380-47ed-11e9-90fa-93b670e55062.png)

[2019-03-16 13:41] shadoWalker89 commented on #194
Solved it by publishing the config files and pointing the screenshot and log directories to the system temporary directory.

[2019-03-16 13:41] #194 closed

[2019-03-16 19:54] nunomaduro commented on #170
This issue has been fixed on Laravel Zero 5.8.

[2019-03-16 19:54] #170 closed

[2019-03-16 19:55] nunomaduro commented on #181
At the moment, I have no plans of having this on Laravel Zero.

[2019-03-16 19:55] #181 closed

[2019-03-16 19:55] nunomaduro commented on #159
This issue was been fixed on Laravel Zero 5.8.

[2019-03-16 19:55] #159 closed

[2019-03-16 19:56] nunomaduro commented on #175
@zecipriano Can you re-test this with Laravel Zero 5.8?

[2019-03-16 19:56] nunomaduro commented on #183
This issue has been fixed by @ijpatricio on Laravel Zero 5.8.

[2019-03-16 19:56] #183 closed

[2019-03-16 19:57] nunomaduro commented on #185
This feature was been included on Laravel Zero 5.8.

[2019-03-16 19:57] #185 closed

[2019-03-16 19:57] nunomaduro commented on #175
@zecipriano Can you re-test this with Laravel Zero 5.8?

[2019-03-18 10:48] zecipriano commented on #175
@nunomaduro The issue persists. Same output as the screenshot in the first message.

[2019-03-19 15:40] alrik11es opened #195 "PHP Version issues"
Based on #23 issue I want to open this issue. Is not about 5.6 but 7.0 or future. Well my reasoning is the following:

Stable branch on Debian only supports PHP 7.0 right now. That's also true for every other architecture that Debian supports like ARM or whatever. My point is that this kind of library should be at least usable on the latest stable version of Debian.

**Why I say all this?**
I'm tr

[2019-03-19 18:23] mikeerickson commented on #190
@nunomaduro Hey bud

Have any of the above items been addressed, or do you still need help?

I am working on a new secret CLI and will be using this framework, so I will be hitting against all of these issues at some point during development.

[2019-03-19 18:24] mikeerickson commented on #190
@nunomaduro First, I will be hitting against `PHPUnit 8` as it will be used heavily during development (seeing as I TDD all the things) so I can surely aid in this portion.

[2019-03-19 22:21] mikeerickson opened #196 "[Proposal] Add support for `descriptionHelp` (to document arguments)"
@nunomaduro Hey there, have a feature request which I am in need of and I am sure at least one other user would like it as well :-)

Add a new property to the various command classes `$descriptionHelp` which will be displayed whenever help is requested for the desired command.

[code]

To me, this will look more viusally appealing than using the existing `$description` property and will be more co

[2019-03-20 10:03] nunomaduro commented on #196
Proposal accepted.

You can start working in a pull request. We probably need to rename `descriptionHelp` to `summary` and put the summary bellow the description:

[code]

[2019-03-20 10:05] nunomaduro commented on #195
Sorry buddy,

There is nothing I can do. Mainly because Laravel 5.8 no longer supports PHP 7.0.

[2019-03-20 10:05] #195 closed

[2019-03-20 10:05] nunomaduro commented on #190
Laravel Zero 5.8 it's released. It's all done.

[2019-03-20 10:05] nunomaduro commented on #190
cc @mikeerickson

[2019-03-20 10:18] alrik11es commented on #195
@nunomaduro I understand that you're pinned to what Laravel do related PHP version.

Thanks for taking your time to look into my issue.

Still compiling PHP 7.3.3 on Raspberry Pi from yesterday after enabling swap :cry:, cross compiling yet another option but too complex to try after burning all my cards on Raspbian.

[2019-03-21 06:07] sarthaksavvy opened #197 "Notification icon not showing."
Hey Bro,
Firstly thanks for new update, my packer CLI is working fine on windows also.
But I am facing little issue with notify icon.

Problem is, icon not showing, although I am giving correct path and also checked various files from your notification package and jolicode package.

![Screenshot 2019-03-21 at 11 30 45 AM](https://user-images.githubusercontent.com/41295276/54735636-4afd3d80-4bcd-11

[2019-03-21 19:20] svallamsetti opened #198 "Desktop notifications are not working"
`$this->notify('test', 'test')` is not dispalying any notifications.

[2019-03-25 21:08] mikeerickson commented on #151
@nunomaduro This link (from above) is now a dead link

It should be pointing to

and

[2019-03-28 15:30] billysmithers opened #199 "[Proposal] List schedule Command"
Hello

Love the application. Thanks for building it.

I have a proposal of a command that lists the schedules as a table consisting of command signature, crontab, next run date and previous run date. Also potentially if you run in verbose mode add the description of the command.

I could provide a PR if you think this is a good idea.

Keep up the good work.

Billy

[2019-03-28 20:22] nunomaduro commented on #197
@sarthaksavvy I am think notifications with icons are not supported in Windows.

[2019-03-28 20:22] nunomaduro commented on #198
What is your OS?

[2019-03-28 20:23] nunomaduro commented on #199
It's seems a good idea, have your tried to propose it to the core of Laravel first?

[2019-03-29 10:18] billysmithers commented on #199
That is a good call.

I will add a proposal to the core and post a link.

[2019-03-29 11:25] billysmithers commented on #199
There is already a proposal - https://github.com/laravel/ideas/issues/1320 - as yet no movement on this though. However the proposal suggests building into the core something like this package - https://github.com/hmazter/laravel-schedule-list.

However this would be another dependency pulled into Laravel Zero.

What do you think?

[2019-04-08 11:15] Max13 opened #201 "[Question] Is it planned to create a mail component"
The title says it all. I wanted to know if it's planned.

I'm on `5.8.*`, and I can't work it around like described in #142 .

Thx

(This question isn't about how to make it work, it's about the roadmap).

[2019-04-08 11:54] nunomaduro commented on #201
At the moment: No.

[2019-04-08 11:54] #201 closed

[2019-04-08 11:56] nunomaduro commented on #199
It's fine if you make it as a new component. Here is an example: https://github.com/laravel-zero/framework/commit/287f97356fc044596494251358414011a5442b33.

[2019-04-08 15:18] nunomaduro commented on #201
Fell free to propose buddy @mikeerickson.

[2019-04-08 15:19] mikeerickson commented on #201
Don’t mind if I do @ nunomaduro

[2019-04-08 19:27] mikeerickson opened #202 "Command option default value not recognized?"
I am curious, does LZ not support the extended option default value as used by Artisan commands?  If I use the following in an Artisan Command, the same syntax is not honored by LZ?

[code]

When running the command, the value retrieved by `$this->option('fname')` in the handle method returns `null`

[code]
but
[code]
the `fname` value of `mike` will be returned

However, if I use the same signatu

[2019-04-08 19:30] mikeerickson commented on #201
@Max13 When tried the above-mentioned solution with Laravel-Zero 5.8?

Does it work in either case (development or build)

[2019-04-08 19:41] Max13 commented on #201
Nope.

Here is how I call the mailable: `Mail::to($abuse->emails->toArray())->send(new ReportingAbuse($abuse));`

`ReportingAbuse::build()`:

[code]

Error:

[code]

[2019-04-09 04:44] mikeerickson commented on #196
@nunomaduro just to let you know,  i will be getting started on this soon.  Just needed to get `laravel-craftsman` out the door.

[2019-04-12 21:26] FujiMakoto commented on #187
Thank you so much. This was my exact issue.

The newrelic extension apparently breaks laravel-zero apps. Disabling the extension on PHP's CLI configuration immediately resolved the error for me.

[2019-04-17 10:23] billysmithers commented on #199
Thanks @nunomaduro - I will take a look at making it a component.

[2019-04-18 01:49] djamesfar commented on #160
same problem after creating standalone application:
storage/logs/laravel-2019-04-17.log" could not be opened: failed to open stream: phar error: open mode append not supported

[2019-04-18 01:52] djamesfar commented on #160
@nunomaduro I have confirmed that it works if I change the log driver to 'stderr' as you suggested

[2019-04-18 12:40] nunomaduro commented on #160
GreaT.

[2019-04-18 12:47] davidianbonner opened #203 "Extending add-ons"
Firstly superb work on zero – used it for a few projects over the last year or so.

Ran into a problem where I needed to extend the Chrome instance in the console browser package and noticed that the installed add-ons are automatically registered by the framework.

I'd actually like to register the ConsoleServiceProvider myself by extending the provider so I can manage the binding of the `Manager`

[2019-04-18 12:59] nunomaduro commented on #203
How about refactor the current implementation to something like: https://divinglaravel.com/laravels-package-auto-discovery? If you have this below the component will be not injected.

[code]

[2019-04-18 13:01] nunomaduro commented on #202
We are using the the `illuminate/console` package, so everything that works on Artisan commands should work here.

You mean that that feature works on Laravel, but not on Laravel Zero?

[2019-04-18 14:19] davidianbonner commented on #203
I'd be happy with that, actually the first thing I tried and realised it didn't work.

I'll get started.

[2019-04-18 14:33] mikeerickson commented on #202
Yes, that is what I am saying?  I figured you were using ‘Illuminate/console` thus I found it to be strange

[2019-04-18 15:04] linuxjuggler commented on #202
Basically, there are no problems at all, the execution of the command is incorrect.

when you execute:

[code]

you specify the next thing to `--fname` which is `null` here as the value for `--fname` that's why you get `null`

Meanwhile here
[code]
you are setting the value to `mike`.

**you should not use `--fname` unless you want to set a different value than the default one**

but for more bett

[2019-04-19 00:54] mikeerickson commented on #202
@linuxjuggler Thank you for clarification on this, I am not sure why I was expecting something different.  After going back and trying to reproduce with standard Laravel commands, I was not able to even make my OP break.

@nunomaduro Sorry for the noise

[2019-04-19 00:55] #202 closed

[2019-04-19 04:55] mikeerickson opened #204 "Debugging Laravel Zero app using xDebug"
Has anybody been able to use xDebug w/ PHPStorm to debug Laravel Zero apps?

I have been beating my keyboard for hours trying to get this working.

If anybody has been successful, what did you do to make it work?

[2019-04-19 05:02] mikeerickson commented on #204
And just like that, I figured it out (finally)  I should have posted this message hours ago, I guess that is all that was needed for me to figure it out.

[2019-04-19 05:02] #204 closed

[2019-04-19 07:32] linuxjuggler commented on #196
May I ask why you don't you use `Symfony/Console` configure function which provides a simple way to `setHelp` message, which can be more than one line and more descriptive than the description or summary?

using `setHelp` you will be able to show something like:

[code]

Will produce this:

[code]

[2019-04-19 08:52] nunomaduro commented on #204
@mikeerickson Thanks.

[2019-04-19 10:49] django23 opened #205 "There are no commands defined in the "app" namespace."
Hello,

When using `php gen app:install menu` or `php gen app:install`

I get the following response:

`There are no commands defined in the "app" namespace.`

My current composer.json file contains:

[code]

Any idea how to help?

[2019-04-19 12:13] django23 commented on #205
Solved: It's caused by the env APP_ENV that was set to production

[2019-04-19 12:13] #205 closed

[2019-04-23 15:16] shirshak55 opened #206 "Dont work after 100+ process?"
I just made a simple bot it seems i cannot go beyond 100+ process on windows cli? the process created after 100+ is slow. Do you have any idea where this magic number 100 is coming thanks.

Using latest version of laravel zero. I wonder if its php cli on windows issue :(

[2019-04-23 15:37] juniorb2ss commented on #206
@shirshak55

You tried use docker (with UNIX distribution) to see if has difference? How much you have memory, and, how much you specific for each worker?

[2019-04-23 15:41] shirshak55 commented on #206
@juniorb2ss 64gb ram so no problem in ram. And i have set to 20gb in php.ini files.   Hmm no i designed it for windows so i cannot install dockers etc on others computer.

[2019-04-23 15:43] juniorb2ss commented on #206
@shirshak55 You using queue or calling command directly? You use any external service? e.g: redis, mysql, memcached and etc?

[2019-04-23 15:45] shirshak55 commented on #206
just use like

open 100 command prompt and run the app.

1 start the app
2 start the app
3 start the app
4 start the app
5 start the app
...
...
100 start the app
101 start the app
102 start the app

101  and 102 don't work or works too slow . And if i lets say close 2. 101 suddenly starts to work properly.

The only thing is do is use guzzle for api request nothing more than that.

[2019-04-23 15:49] juniorb2ss commented on #206
I do not see any limitation on the FW.

You said that you consume an API, have you checked if the API has limits for simultaneous requests? Did you try to debug somehow to see where the slow is? I recommend using blackfire for example, enabling extension when you run workers 100+.

[2019-04-23 15:51] shirshak55 commented on #206
no api has no limit because i use proxy. When i open same api from browser it shows.
100 is definitely coming from somewhere because this problem starts at 100 only.

hmm never heard of backfire.

is there any limitation on os how much process php cli can spawn?

[2019-04-23 15:56] juniorb2ss commented on #206
@shirshak55

No. PHP Cli don't have limitation about instances. Only limitations is your process number (cores) and memory limit.

You said API dont't has limitation, ok... but your proxy maybe have? I recommend to check everything, because php or fw no has limitation.

Unfortunately I do not have windows, otherwise I would create a basic job and try to simulate the amount of workers.

If you can

[2019-04-23 16:08] shirshak55 commented on #206
can u say me related to process number? and how do i know if cores are limiting it?

[2019-04-23 16:14] juniorb2ss commented on #206
I recommend to read: https://haydenjames.io/php-performance-additional-cpu-cores-vs-faster-cpu-cores/

https://medium.com/@rossbulat/true-php7-multi-threading-how-to-rebuild-php-and-use-pthreads-bed4243c0561

But I think the problem is not in memory/processor. Because the number of limited workers is always the same... 100+.

That is, the problem is another limitation in the proxy, API, IO, MySQL

[2019-04-23 18:24] KhanMaytok commented on #184
How can I set the timeout to 0?

[2019-04-25 17:11] svallamsetti commented on #198
macOS Mojave, Application is running under
 Operating System: CentOS Linux 7 (Core)
 CPE OS Name: cpe:/o:centos:centos:7
 Kernel: Linux 3.10.0-957.1.3.el7.x86_64

[2019-04-25 18:32] svallamsetti opened #207 "InvalidArgumentException : Unsupported driver [oracle]"
Is laravel-zero not compatible with Oracle?

[2019-04-25 20:19] juniorb2ss commented on #207
@svallamsetti Is not a incompatibility for laravel-zero with oracle. The reason is because laravel don't have a oracle driver.

You need implement a external library to implement Oracle.

e.g: https://github.com/yajra/laravel-oci8

[2019-04-26 00:52] ghunti commented on #181
Hey @nunomaduro I did all this for a previous laravel-zero install (5.6) and now I'm going trough this all over again on another laravel-zero app (5.8)
Any particular reason for not having the notifications installed as a component? Is it because it needs to bring so many components ?
Cheers

[2019-04-26 04:45] paKanhu commented on #175
@nunomaduro This issue is related to [https://github.com/laravel/framework/issues/28344](https://github.com/laravel/framework/issues/28344). I tried by following below process and it worked.

1. `composer create-project --prefer-dist --no-scripts laravel-zero/laravel-zero movie-cli`
2. `cd movie-cli`
3. `composer config repositories.illuminate/config '{"type": "git", "url": "https://github.com/ill

[2019-04-26 04:48] paKanhu commented on #184
@nunomaduro This issue is related to [https://github.com/laravel/framework/issues/28344](https://github.com/laravel/framework/issues/28344). I tried by following below process and it worked.

1. `composer create-project --prefer-dist --no-scripts laravel-zero/laravel-zero movie-cli`
2. `cd movie-cli`
3. `composer config repositories.illuminate/config '{"type": "git", "url": "https://github.com/ill

[2019-04-26 07:39] nunomaduro commented on #181
@ghunti Exactly, I want this to be modular.

[2019-04-26 07:40] nunomaduro commented on #198
@svallamsetti Can you report your bug here please? https://github.com/jolicode/JoliNotif

[2019-04-26 07:40] #198 closed

[2019-04-26 18:22] svallamsetti commented on #207
@juniorb2ss I installed it via composer "yajra/laravel-oci8": "^5.8" and I have also added this configuration to my config/database.php file and I'm passing the entries from .env file.

[code]

[2019-04-26 19:38] juniorb2ss commented on #207
@svallamsetti

You added provider file in `app.php`?

[2019-04-26 21:19] jankremlacek commented on #160
that's happening because once phar built the `storage_path()` method points into the phar package.

@djamesfar, @imajinyun just change your `/config/logging.php` `path` value on your desired driver.

[2019-04-26 22:10] ghunti commented on #181
@nunomaduro I think it will still be modular.
If I'm not mistaken in 5.8 I "just" needed to add this to `composer.json`
[code]

and created the `config/view.php` file. I think these are easy tasks for a command like `php <app_name> install notifications`

Or you are concerned with the fact that we are importing 4 packages just for the notifications?

Cheers

[2019-04-26 23:41] ghunti opened #208 "Schedule same command with different parameters"
Hey.
I have a command that accepts parameters and uses those to fetch data from an API. I need to run this command with different parameters.
Currently using the `schedule` method of the command I could do this, by invoking the command itself multiple times, changing the parameters but that doesn't seem right.
I've looked at how Laravel does the scheduling of all commands in a single place, and ba

[2019-04-28 00:00] ghunti commented on #208
Gave this a second thought, and I think having the command schedule with all the schedules it needs to run seems ok.
Sorry ;)

[2019-04-28 00:00] #208 closed

[2019-04-28 03:45] mengfanyin commented on #175
![bug](https://user-images.githubusercontent.com/16729739/56858319-76343300-69aa-11e9-8957-5ec6b8e2e671.png)

I encountered some problems as shown in the figure above when i ran `php application app:build`.

[2019-04-30 10:32] imajinyun commented on #160
@jankremlacek Thanks

[2019-04-30 10:59] nunomaduro commented on #160
@jankremlacek @imajinyun Don't hesitate to update the docs. https://github.com/laravel-zero/website

[2019-05-01 15:50] godbout opened #209 "`Class filesystem does not exist` in Test class tearDown method"
Using `Laravel Zero v2.2.0`.

Here's a basic Command Class:

[code]

I was using `setUp` at first and it worked fine. I'm changing it to `tearDown` and I'm having now the following issue:

[code]
Any advice on where I should dig? Could it be possible that before the `tearDown` is hit the service container has already and strangely been cleaned?

[2019-05-01 19:23] juniorb2ss opened #210 "Allowing environment type other than just production or development"
@nunomaduro

I have not found a way to set the type of environment like `testing`, ` staging` or `local`.

I do not think it's a good practice to limit the `detectEnvironment` method to just about the boolean value in `app.production` configuration.

Why not follow the standard of the laravel core itself? Keeping the environment type on the `app.env` setting?

[2019-05-04 10:34] mcampbell508 opened #211 "Ability to create single command applications"
Hi

I am aware of the following that you can set a default command in `config/commands.php`:

    | provided. Consider update the default command for single command applications.

The part that resonates to me is:

It would be great though if you could just create a single command application, without this setting of default. The use case here is to be able to be able to create a single command ap

[2019-05-04 10:40] nunomaduro commented on #211
Sounds a good idea.

Do you have a ideia for the code for this ?

On Sat 4 May 2019 at 12:34, Matt Campbell <notifications@github.com> wrote:

[2019-05-05 18:00] mcampbell508 commented on #211
Hmmm, I can have a think.

Maybe if I come up with a proposal before putting up any merge request.

Just off the top of my head, maybe this is something we can also define in the `config/commands.php` file.

If an end user can declare a `single-command` config option in `config/commands.php` and in some way, if this configuration option is found, the application will underneath just serve that sin

[2019-05-07 12:55] matt-allan commented on #209
Try moving your `Storage` call above the `parent::tearDown` call.

The parent `tearDown` will clear the current application and container, which you need to use the `Storage` facade.

[2019-05-07 12:57] nunomaduro commented on #209
Meanwhile @godbout, you could consider upgrade your laravel zero version. You are working with a very old one.

[2019-05-07 13:00] matt-allan commented on #196
I just made [a PR](https://github.com/laravel/framework/pull/28437) to Laravel to accept the `help` property by default.  Zero could make a similar change if we wanted to add support before the next major Laravel release.  In the interim I'm just overriding my constructor like this:

[code]

Symfony's help property does not show up when you run `php myapp list` but does show up when you run `php m

[2019-05-07 14:56] matt-allan commented on #210
I ran into this as well.

If we used `APP_ENV` we coud set it to `testing` in `phpunit.xml.dist` and then `app()->runningUnitTests()` would work.

[2019-05-07 15:40] matt-allan commented on #177
I was taking a look at #304 and it looks like the path replacement is going to be optional?  If so awesome, I was going to request that.

In my case I setup the filesystem to use the XDG config directory (`~/.config/` on most systems, I'm using [this package](https://packagist.org/packages/dnoegel/php-xdg-base-dir) by default, so I don't need to override the path when I build a phar.

[2019-05-07 21:05] juniorb2ss commented on #210
Exactly. I faced same problem.

[2019-05-08 06:47] godbout commented on #209
@matt-allan 🤦️ The power of habits! That does totally make sense (and it worked). I just got used to call the parent setUp (and tearDown)  before doing my cleaning. Realizing now the mistake, thank you so much! Was right under my nose but too close. Greatly helpful, for more than just this specific case.

@nunomaduro yeah I was surprised to see `v2.2.0` to be honest, was expecting to get the same

[2019-05-08 11:01] Vusys opened #212 "Allow logo to be overrided in logo.php config"
I'm working on a project with a name that looks like "acronym acronym tools", so like "ABC XYZ Tools". Calling the binary abc-xyz-tools is fine. But that makes the logo also render as abc-xyz-tools which for a vanity feature is no good.

I did try using using app:rename to change the app's name to "ABC XYZ Tools", but then it also renames the binary to "abc ayz tools", which is not wanted.

I'm no

[2019-05-08 16:17] billysmithers commented on #199
Hello @nunomaduro .

I have finally managed to find some time to add this as a component.

I have a branch ready to create a pull request would I do this against the framework repository?

If so do I need to be a contributor?

[2019-05-08 17:24] nunomaduro commented on #199
You just need a fork the laravel-zero/framework, and do a normal pull request.

[2019-05-08 22:45] matt-allan commented on #196
The PR was accepted upstream but it won't be available until 5.9.

[2019-05-08 22:52] mikeerickson commented on #196
Fair enough, I have already integrated this using the `setHelp` in the constructor

[2019-05-09 08:19] billysmithers commented on #199
@nunomaduro Thanks

[2019-05-09 09:55] billysmithers commented on #199
@nunomaduro - I have created a PR - hope you like it - https://github.com/laravel-zero/framework/pull/351

[2019-05-11 13:08] nikocraft opened #213 "Issue when installing for first time, Process.php line 1236 times out and throws an error"
It not possible for me to install it without this process throwing a message.

Here are some logs:
[code]

After trying again, I come longer
[code]

Each time I would get further but process.php would throw error. At the end I think I installed everything but upon "Generating optimized autoload files" same error was thrown. Here is
the last log, where everything is installed, but error is thrown.

[2019-05-11 15:48] juniorb2ss commented on #213
Take a look on this: https://github.com/laravel-zero/laravel-zero/issues/184

[2019-05-11 18:52] nunomaduro commented on #213
This issue has been fixed long time ago, please perform `composer global update laravel-zero/installer` and try again?

[2019-05-11 19:00] nikocraft commented on #213
I just installed laravel-zero today, so I must have the latest version. Obviously, something is still wrong? :)

[2019-05-14 02:30] svallamsetti commented on #207
@juniorb2ss Nope, I thought autoloading will take care of it. But when I added the provider I got the following error

[code]

[2019-05-16 05:22] Log1x opened #214 "Namespace helpers.php in laravel-zero/foundation"
So I noticed this package forks `Illuminate/Foundation` – that being said, I have a tail-between-my-legs kind of request:

Would it be possible to either namespace or remove `Helpers.php` inside of Foundation? I'm in a somewhat unique position here so feel free to throw banana peels at me, but I'm attempting to write a [`wp-cli`](https://wp-cli.org/) plugin that instead hooks onto Laravel Zero for

[2019-05-16 12:51] billysmithers commented on #199
@nunomaduro - I have updated the PR, any chance of re-review please.

[2019-05-16 18:33] chasdevs opened #215 "Option to automatically update git tag when building app (for packagist distros)"
The solution to include git tag as app version works great, but I agree with @foxted that automatic deploys to packagist would be easier if `./my-app app:build` could have an option to automatically update the git tag.

What I really want is something like this:
[code]

Original comment:

Hey @nunomaduro , any recommendations on using the git tag as a version when using packagist to install the bu

[2019-05-16 18:49] nunomaduro commented on #215
That should be a manual process IMO, what about if the build is in a incorrect state?

[2019-05-16 20:20] mikeerickson commented on #215
I agree this should be a manual process.  That is how we handle for our zero based projects, using a build bash script (among many tasks, bumps version info) which also has switch to deploy.

[2019-05-17 15:17] djamesfar commented on #160
@jankremlacek I set the logging path as an env value (dotenv), and put the full production path there before building.  That worked - Thanks!

[2019-05-17 15:42] imRish opened #216 "How can I hide migrate command from Production?"
I need to remove all the commands which are not created by the developer. And, the solutions given on #101 are not working for me.

[2019-05-17 15:54] nunomaduro commented on #216
It's on the docs: https://laravel-zero.com/docs/configuration/.

You can use `config/commands.php` to hide commands.

[2019-05-17 15:54] #216 closed

[2019-05-20 07:28] #214 closed

[2019-05-23 19:08] matt-allan opened #217 "Cancelling app:build leaves app in production mode"
Issue:

I was building my app then realized I forgot something so I cancelled it:

[code]

After making my update I tried to build again and got this error:

[code]

It looks like this happened because `config/app.php` had been modified. Reverting the changes fixed it.

The BuildCommand destructor attempts to prevent this from happening but it doesn't look like constructors are called when you sen

[2019-05-24 13:26] matt-allan opened #218 "Make it easier to use a custom self update strategy"
I'm trying to add the `self-update` component to my app.

My app uses Github releases to to publish the phar ([here's an example](https://github.com/matt-allan/hours/releases/tag/v0.1.0)). This allows me to avoid committing build output and let the CI server build the phar when I tag a release.

This should work perfectly with the default [Github Strategy](https://github.com/humbug/phar-updater#gi

[2019-05-24 14:43] matt-allan opened #219 "Database component doesn't autoload seeds"
If you use the database component the autoload mapping isn't setup by default for the seeds. You need to manually add `"classmap": ["database/seeds"]` to `composer.json`.

It would be nice if zero could add this and dump the classmap automatically. Alternatively it would be nice to output instructions if that isn't possible.

[2019-05-24 15:45] matt-allan opened #222 "Remove license?"
I didn't realize the application ships with a `LICENSE` so I accidentally assigned the copyright of my first ~50 commits to @nunomaduro 😆.

What do you think about not including the LICENSE for the application template, similar to what [laravel/laravel](https://github.com/laravel/laravel) does?

Alternatively maybe the license could be removed in a `post-create-project-cmd` Composer script?

[2019-05-24 22:54] nunomaduro commented on #222
If Laravel does'nt have it, we can remove it too. Can you open a pr on that?

[2019-05-25 15:26] matt-allan opened #224 "Broken build"
The build is broken if you use the `--prefer-lowest` composer flags.

It appears that in collision < v2.1.0 the Laravel adapter exception handler doesn't include the `shouldReport` method but the interface it implements requires it.

We can't really fix that for existing tags. It appears to be fixed for laravel-zero/framework v5.8.4 so we probably need to bump the min version.

See https://github.

[2019-05-27 10:18] #224 closed

[2019-05-27 13:53] matt-allan commented on #187
@troccoli can you check if you have the `newrelic` extension enabled? It looks like everyone else in this thread was having this issue because of the `newrelic` extension, so I'm wondering if you are experiencing the same issue or if it's something else.

You can check by running `php -m` from the CLI and looking for `newrelic` in the output. If it's not listed could you paste the output of `php -

[2019-05-27 18:50] #222 closed

[2019-05-27 18:52] nunomaduro commented on #217
Sounds a good idea, can you work a pull request on that?

[2019-05-27 18:52] #215 closed

[2019-05-27 18:58] nunomaduro commented on #219
I am quite sure that I have coded something to autoload those files, can you double check?

[2019-05-27 19:08] matt-allan commented on #219
Ah I see, the service provider is [manually requiring the files](https://github.com/laravel-zero/framework/blob/9854a8a69809ce011386a58455bc48f76d57681d/src/Components/Database/Provider.php#L90).

[2019-05-27 19:08] #219 closed