[2019-05-28 09:51] troccoli commented on #187
@matt-allan, I can confirm I do have `newrelic` module, so it seems that was the issue.

[2019-05-28 10:51] nunomaduro commented on #187
@troccoli @matt-allan Gosh, the problem is not really there. I believe, somewhere, laravel-zero/laravel is trying to get the router implementation from the container. But I don't where as I can't replicate this problem.

[2019-05-28 12:07] matt-allan commented on #187
@nunomaduro my guess is new relic is assuming zero is a Laravel application and trying to load it’s Laravel instrumentation.  The agent hooks into the router so it can automatically name transactions.

[2019-05-28 13:16] nunomaduro commented on #187
@matt-allan Can you re-phrase your explanation buddy?

[2019-05-28 14:18] matt-allan commented on #187
The new relic extension automatically detects the framework you are using. It then hooks into the framework to determine the name of the controller and method. This is [explained in the docs](https://docs.newrelic.com/docs/agents/php-agent/frameworks-libraries/php-frameworks-integrating-support-new-relic).

What it looks like is happening is the new relic extension is erroneously detecting Laravel

[2019-05-28 14:39] nunomaduro commented on #187
Hummm. Got it! Maybe we can do something to warn the user about exactly it's happening.

[2019-05-28 15:59] mtvbrianking opened #227 "Artisan command using updated IOC bindings."
It's a whole day now, trying to get my console command to use the newest service container binding by all in vain.

From #99 elaborates that the command is created earlier in the application bootstrap, but the solution given is a bit obsolete for v5.8

I bump into errors like;
- `Call to undefined method LaravelZero\Framework\Application::getContainer()`
- `Call to undefined method LaravelZero\Fra

[2019-06-02 17:34] clarkeash opened #228 "Using facades in tests"
I am trying to write tests but my application uses the the Storage Facade to access the filesystem and the tests fail.

Here is a test I have to demonstrate the error:

[code]

And this is the error I get when I run phpunit:

![image](https://user-images.githubusercontent.com/1612186/58764868-a99b4c00-856c-11e9-87e9-4e1034b7a1ea.png)

This all works fine in the application code, just not in the te

[2019-06-02 19:24] clarkeash commented on #228
Crap! I was extending the wrong TestCase class 😞

[2019-06-02 19:24] #228 closed

[2019-06-02 20:13] nunomaduro commented on #228
Yeah, no problem.

[2019-06-06 06:58] tushargugnani opened #229 "Please update the Dusk's chromedriver version to latest"
Installed console-dusk component on Laravel zero

Running dusk test gives the following error

Facebook\WebDriver\Exception\WebDriverException::throwException("session not created: Chrome version must be between 70 and 73
  (Driver info: chromedriver=2.45.615355

[2019-06-06 07:55] nunomaduro commented on #229
Can you do a pull request on this?

[2019-06-09 04:59] Tjoosten opened #230 "Cannot build any package"
If i run php application app:build application

I get the follwing in return:

 Build version? [unreleased]:

   1. Moving application to production mode: ✔
   2. Compile into a single file: ✔

   ErrorException  : rename(C:\Users\Gebruiker\Documents\warror\application.phar,C:\Users\Gebruiker\Documents\warror\builds\application): Het systeem kan het opgegeven bestand niet vinden. (code: 2)

  at C

[2019-06-10 10:18] nroussis opened #231 "can I use scout-algolia with laravel zero?"
Hello,
I installed laravel scout.
Then followed instructions here:
https://www.algolia.com/doc/framework-integration/laravel/getting-started/installation/

then:
php app-name scout:import
gives me an error
There are no commands defined in the "config" namespace.
Note: When publishing php artisan vendor:publish --provider="Laravel\Scout\ScoutServiceProvider" nothing happened although I got the mess

[2019-06-10 13:28] nroussis opened #232 "changing timezone"
Hello,
Im trying to change my timezone by adding to app.php as suggested here
https://stackoverflow.com/questions/32884388/change-timezone-in-lumen-or-laravel-5
Do i need to refresh my config cache?
If yes then php app-name config:cache not supported.
Thank you for a great app and your support.

[2019-06-15 18:56] nunomaduro commented on #232
If that doesn't work, it may be a bug.

[2019-06-15 18:56] nunomaduro commented on #231
You need to add the `ScoutExtendedServiceProvider::class` into your `providers` key on the app.php.

[2019-06-17 14:17] eppak commented on #230
Hello,
same here, i fixed changing permission to box script, trt this (from you project root):

`#chmod 755 vendor/laravel-zero/framework/bin/box`

Hope this help.

[2019-06-20 18:10] nunomaduro commented on #196
@matt-allan This can be closed?

[2019-06-20 20:45] matt-allan commented on #196
yeah, we don't really need to anything here.

[2019-06-20 21:40] #196 closed

[2019-06-20 21:40] nunomaduro commented on #196
Thanks buddy.

[2019-06-26 20:38] xaniuskarlhall commented on #229
Experiencing the same problem

[2019-06-26 21:12] nunomaduro commented on #229
Can you try to debug this?

[2019-07-13 14:17] jpmurray opened #233 "What is the correct way to remove the database add-on ?"
I had previously installed the database add on, and I don't need it anymore.

Removing the dependencies in composer.json, and removing config file and database folder result in the following error when running the app:

[code]

I tried dumping the autoload and running clear cache to no avail. What am I missing here?

[2019-07-13 14:21] jpmurray commented on #233
All right, I'm just blind. I added databases commands to the hidden command array in the config. That was it ! :)

[2019-07-13 14:21] #233 closed

[2019-07-20 01:04] ahmic commented on #232
I've added timezone in `config/app.php` this way `'timezone' => 'Europe/Sarajevo'`, and it's working

[2019-07-21 13:13] nroussis commented on #232
indeed it works!

[2019-07-21 13:13] #232 closed

[2019-07-22 02:36] arswright opened #234 "`php application install` exception thrown in Build.php:57"
Full exception:

    PHP Fatal error:  Uncaught TypeError: Return value of App\Console\Commands\Build::configure() must be an instance of App\Console\Commands\void, none returned in /tmp/test/app/Console/Commands/Build.php:57

Console session output attached.

[190721_1934-laravel_zero.txt](https://github.com/laravel-zero/laravel-zero/files/3415496/190721_1934-laravel_zero.txt)

[2019-07-22 17:26] nunomaduro commented on #234
@arswright What php version are you using?

[2019-07-22 20:00] arswright commented on #234
`php -v` / `PHP 7.0.33-0ubuntu0.16.04.5 (cli) ( NTS )`

[2019-07-22 20:19] arswright commented on #234
It appears as though everything is working after removing `: void` from function signatures in `Build.php` and `Install.php` under `app/Console/Commands`, though there's also the warning for deprecated Carbon version (haven't gotten into testing whether upgrading introduces issues, though I figured anything blocking successful install from documentation is probably of interest to you).

[2019-07-23 13:21] nunomaduro commented on #234
Laravel Zero requires `Requires PHP 7.1.3+`.

[2019-07-23 13:21] #234 closed

[2019-07-23 15:23] arswright commented on #234
Looks like composer will "helpfully" install v1.0.0 (`composer.json:17: "php": ">=7.0"`) under 7.0.33 - explains a lot (if any similarly-confused issues get raised).

Thanks!

[2019-07-25 17:15] hersdyanata opened #235 "ReflectionException : Class auth does not exist"
Hi,
I'm just used this package, and following steps. I'm using laravel-zero and need to connect to oracle server. The problem comes everytime i'm add :

`Yajra\Oci8\Oci8ServiceProvider::class
`
into the config\app.php

I get this error :
![image](https://user-images.githubusercontent.com/12206640/61894315-6214b900-af3a-11e9-9a9e-a1e91cc0f412.png)

but when i'm removed that from providers, everythi

[2019-07-25 17:21] juniorb2ss commented on #235
Error is clean. `Auth` does not exist. Because you don't need `Auth` for a micro-framework to build console applications.

If this package need `Auth` for some reason, you need install: https://github.com/illuminate/auth

[2019-07-25 18:18] nunomaduro commented on #235
Exactly what @juniorb2ss said.

[2019-07-25 18:18] #235 closed

[2019-07-25 19:42] isaackearl commented on #184
I also cannot figure this out.  Any help would be appreciated.

[2019-07-25 23:09] mikeerickson opened #236 "How to get all arguments when error occurs"
I have a custom Exception handler and when invoked, I would like to have access to the entire command executed (including all the arguments).

Currently, I am only able to see what the actual command was, but can't seem to track down the arguments.

If there is an easier way to perform personal validation before hitting the Exception handler, that would be more ideal

Does anybody have an idea how

[2019-07-25 23:48] mikeerickson commented on #236
I have managed to get access to the class using exception stacktrace and it has the values I am looking for, but not sure how to access them, I need the values from `tokens` property.

[code]

[code]

[2019-07-26 08:47] hersdyanata commented on #207
I face the same problem. As my refference it's because micro-framework doesn't need auth. I just
`use illuminate\support\facades\auth`
but don't understand how and where i have to put it exactly 😢

Any suggestion, @nunomaduro ?

[2019-07-26 08:53] hersdyanata commented on #235
@nunomaduro , please take a look [here](https://github.com/laravel-zero/laravel-zero/issues/207). Thanks

[2019-07-26 14:41] nunomaduro commented on #207
You need to install the package `illuminate/auth` and then add the service provider on the app.php.

[2019-07-26 14:41] #207 closed

[2019-07-26 16:46] juniorb2ss commented on #235
@hersdyanata Do you have any doubt? You need install `Auth` package to use this library.

[2019-07-27 21:29] mikeerickson commented on #236
I have figured it out :-)

[2019-07-27 21:29] #236 closed

[2019-07-28 15:54] nunomaduro commented on #236
Can you share @mikeerickson ?

[2019-08-07 12:08] Sorbing opened #237 "Not working the ide-helper"
Hi,
I installed the `barryvdh/laravel-ide-helper` according to recommendations from issue  https://github.com/laravel-zero/laravel-zero/issues/132.
I have dependencies:
[code]
When I try run `php <my-app> ide-helper:generate -M`, I got error: `Call to undefined method Illuminate\Support\Facades\Auth::guard()`. Detail stderr: https://gist.github.com/Sorbing/803274ff90b84a40af696c349a253469 .
Please

[2019-08-07 14:58] juniorb2ss commented on #237
@Sorbing Please, read more details here: https://github.com/laravel-zero/laravel-zero/issues/235

[2019-08-08 15:32] Sorbing commented on #237
I would say that this package and the `ide-helper` package is not compatible out-of-box with.
But I was able to generate the php-doc file `_ide_helper.php` without installing additional packages.
To do this, remove the registration of facades in `config/app.php`:
[code]

[2019-08-08 16:15] juniorb2ss commented on #237
@Sorbing Nice catch! Thanks to share this information.

@nunomaduro it's safe to close this issue now.

[2019-08-08 18:59] johnsnook opened #238 ""Let’s Build a console app with Laravel Zero" on Medium.com is obsolete"
This seems to be out of date with the current version of Laravel Zero. 
1. There is no app/DefaultCommand.php. Creating one doesn't work, so I moved it to app/Commands.
2.  "php application rename weather" is deprecated, should be "app:rename"
3. When I ran "php weather", this error occurred: "Symfony\Component\Debug\Exception\FatalThrowableError : Class 'NunoMaduro\ZeroFramework\Commands\Abstract

[2019-08-08 22:09] nunomaduro commented on #238
Thanks for reporting this issue, Laravel Zero is different now: better. I will make sure to update the article soon.

[2019-08-10 21:13] wotta opened #239 "Calling the config:clear command doesn't work."
Hello,

I am running into the following issue. I made a command that writes a config file if it doesn't exist. When this file is written I want to display some output that everything has worked.

But I cannot do that since it seems ( cannot figure it out for a 100% ) that the class I am calling still has the old env/config values.
If I run the same command again without changes and the file there

[2019-08-11 17:58] wotta opened #240 "Am not able to test tasks from command in test."
Hello,

I cannot seem to find a way to test if a task output it generated in the tests. I tried searching the issue section of the repo and googling my issue, but I couldn't find any answer that is useful. I hope you could help me out.

As requested hereby a [gist](https://gist.github.com/wotta/bf6aa696a79cf14b01ba82570b2f89cb) with my files.

I hope that somebody can help me to figure this out.

[2019-08-12 11:46] wotta commented on #240
Note to self:

- https://github.com/nunomaduro/laravel-console-task
- https://github.com/nunomaduro/laravel-console-task/blob/master/tests/LaravelConsoleTaskTest.php

[2019-08-21 00:20] ccsliinc opened #241 "sentry package has errors when loaded to laravel-zero"
Looking to log errors to sentry, I am not quite sure how to go about installing sentry into laravel-zero as everything I tried contains errors.  Can you provide any information or guidance to help with the installation and usage of sentry or provide a comparable alternative which does work.

[2019-08-23 08:39] abdulrahman19 commented on #213
I have the same issue, I've just installed the Laravel zero, I have the latest version, but still gives me the same error in WIN 10.

Any help :/

[2019-08-26 11:44] thomasbuckle-uk commented on #230
I'm also getting this error, running Windows 10 & Git Bash. Tried all the fixes I can find.

[2019-08-26 12:25] nunomaduro commented on #230
@thomasbuckle-uk Can you make a pull request against the `6.0`?

[2019-08-31 21:55] LarBearrr commented on #173
@nunomaduro How did you get around this? I'm starting to experiment with Laravel Vapor and we are restricted to Windows environments. I submitted a help ticket on Vapor, but I was curious what your solution was?

[2019-09-23 09:02] pxgamer commented on #241
Hi @ccsliinc, I set up a test repository detailing how I managed to set up Sentry into Laravel Zero. 👍 Hope it helps. 🙂

https://github.com/pxgamer/laravel-zero-sentry-example

You can either follow the [README instructions](https://github.com/pxgamer/laravel-zero-sentry-example/blob/master/README.md), or check [the commits](https://github.com/pxgamer/laravel-zero-sentry-example/commits/master) to

[2019-09-23 09:06] nunomaduro commented on #241
Thank you @pxgamer !

[2019-09-23 09:06] #241 closed

[2019-09-23 15:09] ccsliinc commented on #241
@pxgamer Thank You.

[2019-10-02 18:24] nunomaduro opened #243 "bug 6.0: builds don't discover commands within app/Commands"
How to reproduce:

1. `php application app:build`
2. None of the commands within `app\Commands` are on the list of the built file.

[2019-10-02 18:27] nunomaduro opened #244 "release 6.0: missing upgrade guide"
Pull request the upgrade guide updating this docs : https://github.com/laravel-zero/website/blob/gh-pages/source/docs/upgrade.md.

[2019-10-02 22:15] pxgamer commented on #243
I think this might be due to the change to [Illuminate\Foundation\Console\Kernel at Line 236](https://github.com/laravel-zero/foundation/blame/bc63b7ba83dcbeaf7a8b11c9c09f2ce6d23b8bce/src/Illuminate/Foundation/Console/Kernel.php#L236).

Reverting this change so that it doesn't use `realpath()` seems to resolve the issue. But, I'll need to test this more thoroughly. :+1:

[2019-10-03 14:12] pxgamer commented on #244
@nunomaduro, looks like this can be closed? 🙂

[2019-10-03 14:41] #244 closed

[2019-10-03 20:37] #243 closed

[2019-10-07 11:11] Drivez commented on #197
I am having the same error on a Mac
`Phar Error: attempted to extract non-existent file or directory "resources/check_file.png" from phar`

[2019-10-11 18:32] marcusmyers commented on #197
@Drivez Did you add the `resources` directory to your `box.json` file?

[2019-10-11 19:57] marcusmyers commented on #197
After further examination, I don't think [this](https://github.com/jolicode/JoliNotif/blob/master/src/Util/PharExtractor.php#L29) function is working in Jolinotif. I did check my tmp directory and it didn't even create the `jolinotif` directory. So I'm wondering if there is a bug with Jolinotif.

@Drivez or @sarthaksavvy  Can you verify that it doesn't create the `jolinotif` directory in your OS t

[2019-10-11 20:07] Drivez commented on #197
@marcusmyers thanks for the reply. I have not added anything to the box.json file. Is this in the root directory? I will check the tmp folder for a jolinotif ASAP

[2019-10-14 00:47] marcusmyers commented on #197
@Drivez Yes the `box.json` file should be in your root directory. If you look at the file everything that is in there will get added to the newly built file. [This](https://github.com/laravel-zero/laravel-zero/blob/stable/box.json) is the specific file I'm talking about.

Laravel-Zero uses [box](https://github.com/humbug/box/blob/master/doc/configuration.md) to build the compiled phar's. The link

[2019-10-14 06:36] Drivez commented on #197
@marcusmyers thanks for the instructions, I have added the `resources` directory to `box.json` file, and there is no error 👍 , BUT there is also no icon/image in the notify

Also there is nothing i the `/var/tmp` folder about `jolinotif`

[2019-10-14 14:17] marcusmyers commented on #197
@Drivez In a php REPL, run this command `sys_get_temp_dir()` to see where your temp directory is at and see if that helps. I did find that it was correctly extracting the icon to my os temp directory but it's still not showing my icon. Still trying to debug that.

[2019-10-15 00:30] marcusmyers commented on #197
@Drivez After further debugging I as able to figure out my issue. My macOS laptop was using `AppleScriptNotifier`, which doesn't allow setting the icon. If you install [terminal-notifier](https://github.com/julienXX/terminal-notifier) you might be able to get the results you want.

[2019-10-16 07:40] Drivez commented on #197
I did use the, `AppleScriptNotifier` i also found this issue on the j[olinotif rep.](https://github.com/jolicode/JoliNotif/issues/32) so I installed `brew install terminal-notifier` but still no icon.

I also downloaded the `jolinotif` to use the example to see if an icon did show, and it did. I also used a icon I had to test that it did not have anything to do with my files.

 I will check more o

[2019-10-16 08:16] Drivez commented on #197
Using the absolute path to the icon, shows it
`$this->notify('Found it', 'Found the location', '/Users/drivez/PhpstormProjects/checkin-cli/resources/file-check.png');`

[2019-10-17 16:30] marcusmyers commented on #197
@Drivez [This](https://github.com/jolicode/JoliNotif/blob/master/src/Util/PharExtractor.php#L39) does return the full path, so I'm not sure.

[2019-10-20 18:36] sarthaksavvy opened #246 "Dynamic Application Name"
Hey,
My laravel-packer command-line tool is working fine but what if I can give an option to the user to set the application name while installing or after installing.

Like currently if you install a packer, then you need to write 'packer' to use this CLI but I want to give functionality to the user so that he/she can use any name like 'pkr' or 'packr' whatever they like.

So it is possible and i

[2019-10-21 07:56] pxgamer commented on #246
Hi @sarthaksavvy, I'm assuming that this is for [bitfumes/laravel-packer](https://github.com/bitfumes/laravel-packer)?

I guess the easiest way would be for people to add an alias for the app (i.e. `alias pkr='packer'`). However, are you wanting this functionality through the Composer install, or the Phar install?

[2019-11-01 19:43] web3devin opened #247 "Laravel-Zero/Framework v6.0 breaks database factories"
This appears to be related to the changes in https://github.com/laravel-zero/framework/pull/353.

Steps to reproduce:

1. `composer global require "laravel-zero/installer"`
2. `laravel-zero new <your-app-name> && cd <your-app-name>`
3. `php <your-app-name> app:install database`
4. `php <your-app-name> make:factory <your-factory-name>`

At this point, I am unable to use any commands on the CLI as t

[2019-11-01 22:12] nunomaduro commented on #247
Can you create a pull request addressing this issue?

[2019-11-01 22:24] web3devin commented on #247
Already created [here](https://github.com/laravel-zero/framework/pull/366).

[2019-11-02 02:49] mikeerickson commented on #247
@nunomaduro hey bud, would you like me to test this PR so you don’t have to worry about it? I can do it tomorrow

[2019-11-02 14:14] nunomaduro commented on #247
@mikeerickson That would be awesome.

[2019-11-04 08:51] Drivez opened #248 "self-update git location"
There was nothing in the docs on how the self-updater gets the git location.

When i installed the self update the default search location for the update was `file_get_contents(https://packagist.org/p/....`

How can i point it to the right private github location?
the name in composer.json is the github org. and repo name

Is there something i might be missing in the composer file, or another sett

[2019-11-04 08:56] nunomaduro commented on #248
I am not sure about this one, can you dive into the source code to fully understand this? Also maybe improve the docs?

[2019-11-04 08:57] Drivez commented on #248
I will give it a shot 👍

[2019-11-07 21:36] web3devin commented on #203
Sorry for the necroposting, however, I ran into something similar to this, where I was wanting to override the default Migrator class, but the only way to do that is to extend the `Components/Database/Provider`.

As a simple fix for myself, I edited the `isAvailable()` method to be:
[code]

Then if you can just add that to your database config file and set to false to then never load the default p

[2019-11-18 09:30] #247 closed

[2019-11-19 10:28] arnoldkunihira commented on #175
Was this solved, because I have a similar situation below using laravel-zero framework 6.0 on windows using gitbash?

*Stack trace is below*
1. Moving application to production mode: ✔
   2. Compile into a single file: ✔

   ErrorException  : rename(C:\wamp64\www\user_mgt_console\user_console.phar,C:\wamp64\www\user_mgt_console\builds\user_console): The system cannot find the file specified. (code

[2019-11-19 21:16] pxgamer commented on #230
This seems to be fixed with the latest Box binary. I'll make a PR shortly with the new PHAR. :+1:

[2019-11-19 21:40] nunomaduro commented on #230
Process is download the https://github.com/humbug/box/releases the phar. Add it to the bin folder. Don't forget to set permissions to 755 and of course test it a little bit with our components.

[2019-11-20 09:49] arnoldkunihira commented on #230
I am using windows and did exactly what you have recommended, however I downloaded the box.phar file and pasted it in vendor\laravel-zero\framework\bin then set the permissions as you suggested but the app:build still throws the ErrorException.

Any solutions please.

[2019-11-20 09:55] pxgamer commented on #230
@arnoldkunihira, I think Nuno was meaning that's the process for us updating the Box binary (I've opened laravel-zero/framework#371).

See laravel-zero/framework#348 which I'm looking into at the moment which should fix the issue (although I feel that not requiring a global install, as mentioned in my comment, would be a better implementation).

[2019-11-20 10:47] arnoldkunihira commented on #230
@pxgamer, I am still getting the same error when I run app:build on windows, however, once you get the solution, could you at least provide a step by step solution for us windows users (been on this error for 4 days).
I will be glad if It is solved once and for all.

[2019-11-21 20:07] timothymarois opened #250 "What are the benchmarks or speed comparisons?"
This doesn't seem to be clear, but I think it should be addressed since it's focused on being a console-only version of Laravel.

What are the speed comparisons with running Laravel Zero compared to running the standard Laravel framework or even Laravel lumen (which already suggests it's super fast)?

[2019-11-27 18:19] SaiWannaAung1 opened #251 "Could not open input file: error"

[2019-11-27 18:22] #251 closed

[2019-11-28 14:31] manelgavalda commented on #229
Same problem. Created a pull request adding the command to solve this.

[2019-11-29 11:59] pxgamer commented on #229
Laravel Dusk Console v1.5.0 adds support for updating the ChromeDriver component.

Now you'll just need to run:
[code]

See nunomaduro/laravel-console-dusk#14 for more information.

[2019-11-29 11:59] #229 closed

[2019-12-01 09:19] sarthaksavvy commented on #230
Is there any fixed solution, having exactly the same issue

[2019-12-04 08:22] Kristories opened #252 "migrate:fresh > Command "db:wipe" is not defined"
If I run `php <application> migrate:fresh`, I got error :

[code]

illuminate/database//Console/Migrations/FreshCommand.php

[code]

[2019-12-04 08:32] nunomaduro commented on #252
What is your version of Laravel Zero?

[2019-12-04 14:39] Kristories commented on #252
@nunomaduro  `v2.3.0`

[2019-12-04 14:58] pxgamer commented on #252
This was resolved in laravel-zero/framework#367, so we just need to release a v6.1.0 of Laravel Zero.

[2019-12-04 19:18] Kristories commented on #252
Thank you @pxgamer @nunomaduro

[2019-12-04 19:18] #252 closed

[2019-12-06 08:12] pxgamer opened #253 "Logo component does not work in PHP 7.4"
One of the deprecations in PHP 7.4 was to deprecate the computation of invalid characters in base conversion functions. This causes the Logo module test to fail on 7.4 with a notice.

The PHP deprecation notes state:

This appears to occur when loading the font in [the Zend Text `Figlet` class](https://github.com/zendframework/zend-text/blob/master/src/Figlet/Figlet.php#L1095), I'm not quite sure

[2019-12-09 08:56] pxgamer commented on #209
Sorry for the delayed reply, just picking this up. The docs are correct as this is the Laravel Zero installer (kind of like the [Laravel Installer](https://github.com/laravel/installer)). So the version you've mentioned (I'm assuming) is the output of `laravel-zero --version`?

The version of Laravel Zero (the framework) will be available by checking the output of `composer info "laravel-zero/fram

[2019-12-09 08:58] pxgamer commented on #217
I think this was closed by https://github.com/laravel-zero/framework/pull/365?

[2019-12-09 14:33] matt-allan commented on #217
yep 😁, I will close this

[2019-12-09 14:33] #217 closed

[2019-12-10 00:39] ahpetrot commented on #253
Brew updated to PHP 7.4.0 (cli) (built: Nov 29 2019 16:18:30) ( NTS ) , broke the logo package.

  xxx/xxx/vendor/zendframework/zend-text/src/Figlet/Figlet.php:1095
    1091|                 $uniCode = hexdec(substr($uniCode, 2));
    1092|             } elseif (0 === strpos($uniCode, '0') &&
    1093|                        $uniCode !== '0' or
    1094|                        0 === strpos($uniCod

[2019-12-12 10:37] pxgamer commented on #230
Hi @sarthaksavvy, sorry for the delayed reply. I'm hoping to have laravel-zero/framework#348 merged soon, however haven't received a reply. I'll ask if it's ok to apply some changes to the PR and then we should be good to go. 👍

[2019-12-13 23:17] pxgamer commented on #199
Merged and implemented in v6.2.0! :tada: Thanks @billysmithers.

[2019-12-13 23:17] #199 closed

[2019-12-16 20:51] stevebauman commented on #175
@arnoldkunihira No this was not solved. The underlying .phar compiler ([box](https://github.com/humbug/box)) does not support Windows - as mentioned by the OP.

[2019-12-16 21:00] arnoldkunihira commented on #175
So any solutions yet @stevebauman since the compiler does not support windows?

[2019-12-16 21:38] stevebauman commented on #175
Unfortunately right now the only solution I have is pretty archaic:

1. Include the entire `vendor` folder of your project (after running `composer install -o --no-dev`) in my GitHub repository (you'll need to remove the `/vendor` entry from the `.gitignore` file)
2. Download an entire ZIP of the GitHub repo using the "Clone or Download" button
3. Extracting the ZIP onto the server where you want

[2019-12-27 00:44] wpplugindevcom commented on #177
Hi there

I started my project recently, so I am sure I have your latest fixes already in it,
but this problem still remains.

I got my command with
    $ mycommand directory_name

and inside command i try to get all the files with
   $files = \File::allfiles($directory);

but i tried all your fixes, serveral stuff with getcwd and still can't get the files after the build.
its always showing me an

[2020-01-02 21:20] nunomaduro opened #254 "chore: start preparing next version of laravel zero 7"
@pxgamer Do you think you can start work on this? I have collision, larastan ready for laravel 7.

[2020-01-03 00:15] pxgamer commented on #254
Would definitely be good to take a look. I'll be back with a PC on Sunday and I should be able to get started!

[2020-01-03 01:08] nunomaduro commented on #254
Thanks! Enjoy your vacations!

[2020-01-05 02:22] nateritter commented on #239
Have you registered the command and/or ensured you can actually call that command from the CLI?

[2020-01-05 03:19] nateritter opened #255 "Queueing a command from within a command does not work. Missing `queue()` in `Commands/Command.php`?"
**The goal:** To run a command which will queue another artisan command.

_Please note there is a lot of work being done around this. This is a very simplified example and doesn't make sense to do on the surface, but this is the essence of what I need._

Given the following command:

[code]

The `$this->queue()` line throws an exception: `Method App\Commands\OrgsScrapeCommand::queue does not exist

[2020-01-05 03:41] nateritter commented on #255
**Update:** I did just find that running `Artisan::queue('scrape:org-user-names', [$id => true]);` does queue the command, however, it seems the command doesn't get run as I get no errors and I added a `Log::info('handling command');` line in, which doesn't seem to ever get hit as it doesn't show in the logs at any point.

[2020-01-05 08:34] wotta commented on #239
@nateritter first off I want to wish you a happy New year.

Yes I have registered the command and I did run it from the CLI.
But both the CLI invocation and the invocation from within a command don't seem to work.

[2020-01-05 22:57] nunomaduro commented on #255
Have you tried to install the queue component? `app:install queue`.

[2020-01-06 11:03] pxgamer commented on #239
Hi @wotta, I've taken a look at this and the `config:clear` command appears to work as expected when the command is registered. To get this working, I updated this mapping in `config/commands.php`:
[code]

[2020-01-06 13:25] wotta commented on #239
@pxgamer Thanks for double-checking, I will recheck this when I have time 🙂
Maybe it wasn't working with the version I was using at the time.

[2020-01-07 00:10] nateritter commented on #255
🤦‍♂ I had not tried that.  I will do that. My apologies for being daft and not R'ingTFM.

[2020-01-07 05:26] VirtumartOz opened #256 "LaravelZero\Framework\Application Not found"
hi guys,
i tried to create a laravel zero app, met below error, where is the class LaravelZero\Framework\Application if ur code lib doens't have it?
thanks

my commands are :
#1 composer create-project --prefer-dist laravel-zero/laravel-zero something
#2 cd something
#3 php application app:build

PHP Fatal error:  Uncaught Error: Class 'LaravelZero\Framework\Application' not found in /root/somethi

[2020-01-07 05:40] #256 closed

[2020-01-07 09:19] pxgamer commented on #255
Glad you got it sorted, I'll close this issue. If you have any further issues, feel free to open another. 👍

[2020-01-07 09:19] #255 closed

[2020-01-14 15:25] pxgamer commented on #253
It looks like the Zend Text package has been deprecated, and work has moved to the [`laminas-text`](https://github.com/laminas/laminas-text) repository. I'm going to take a look at this later today / this week.

Related to the upgrade to PHP 7.4, we'll need to update Humbug Box to 3.8.4 👍

[2020-01-15 14:57] #239 closed

[2020-01-16 18:42] sajjad-ser opened #257 "error after build"
hi when i build my app and run it result is this error:
[code]

[2020-01-16 18:52] pxgamer commented on #257
Hi @sajjad-ser, could you confirm the contents of your `box.json` includes the `bootstrap` directory in the directories key?

I've tested this and was unable to replicate the issue, could you provide some more details such as the version of Laravel Zero so we can investigate this. 👍

[2020-01-16 19:03] sajjad-ser commented on #257
wow my box.json is empty
sorry

[2020-01-16 19:03] #257 closed

[2020-01-16 19:08] pxgamer commented on #257
No worries, any further problems feel free to ask. :ok_hand:

[2020-01-22 15:14] #253 closed

[2020-01-22 17:08] rafamrs commented on #173
I still have this problem, everything was working on OSX, but now on windows I get posix error, with the latest version. Just installed it, so it must be the latest.

![image](https://user-images.githubusercontent.com/924985/72916379-3a17de00-3d42-11ea-80ba-7869c12f6140.png)

[2020-01-23 08:16] upandfine opened #258 "(build) How can I use sqlite from a laravel-zero app?"
How can I use sqlite from a laravel-zero app?
When I try, I get the following error message: Database (phar:///app/shop2erp/builds/shop2erp/database/database.sqlite) does not exist. (SQL: PRAGMA foreign_keys = ON;)

(App name is shop2erp)

database/database.sqlite exists in the builds folder, parallel to the build.

By the way - a really great project!

[2020-01-23 08:23] pxgamer commented on #258
You would need to set up the custom database path in your configuration file. You can also set this using the `DB_DATABASE` environment variable.

By default, the path is `database_path('database.sqlite')`, which will resolve to being inside your PHAR file once built.

[2020-01-23 08:58] nunomaduro commented on #258
This kind of stuff should go to the docs. @upandfine can you make a pull request on the website?

[2020-01-23 08:58] #258 closed

[2020-01-23 09:25] upandfine commented on #258
works.

[2020-01-23 09:27] upandfine commented on #258
How can I do that?

[2020-01-23 19:42] pxgamer commented on #258
@upandfine, thank you for the PR. That's great!

[2020-01-24 06:10] datashaman commented on #128
You could put the values into a JSON or YAML file and include a command-line parameter in your app like `--config myapp.json`.

[2020-01-24 08:18] upandfine opened #259 "SQLite with PHAR - migrate fails"
If you call `php myapp migrate` with a PHAR, an error occurs:

 `The "phar:///path/to/phar/database/migrations" directory does not exist.`

Is there also a configuration value that can be set here?
(See `DB_DATABASE`)

[2020-01-24 08:37] pxgamer commented on #259
Is the `database` directory included in your `box.json`?

This might be related to the migration files being collected and searched using a glob, as far as I know `glob()` doesn't support streams in PHP. But I will look into this later hopefully. 👍

I'm not sure if there is a way to change the migrations directory, I'd have to look into that.

[2020-01-24 14:38] upandfine commented on #259
How can I do that?

[2020-01-24 14:40] pxgamer commented on #259
In your project directory, there should be a `box.json` (https://github.com/laravel-zero/laravel-zero/blob/stable/box.json). Under the `directories` array, add an entry for `database`. For example:

[code]

[2020-01-24 15:57] upandfine commented on #259
solved

[2020-01-24 15:57] #259 closed

[2020-01-26 11:57] SadeghPM opened #260 "Programmatically Executing Commands"
I want to execute a command programmatically from another command. In laravel document we can call `Artisan` facade like: `Artisan::call('email:send')`. [#](https://laravel.com/docs/master/artisan#programmatically-executing-commands)
But in laravel zero in a command when calling `Artisan::call()` nothing happen.
How to call another command in a command?
thanks

[2020-01-26 12:09] SadeghPM commented on #260
Ok, I got answer, By using `$this->call()`.

[2020-01-26 12:09] #260 closed

[2020-02-03 16:31] owenvoke commented on #254
There is an issue with Symfony Process that needs to be resolved.

With the [`ComposerContract`](https://github.com/laravel-zero/framework/blob/7.x/src/Providers/Composer/Composer.php) we allow providing a string (i.e. `illuminate/log "^7.0"`) to the [`require()`](https://github.com/laravel-zero/framework/blob/7.x/src/Providers/Composer/Composer.php#L67-L70) method. However, due to changes in the

[2020-02-03 16:32] nunomaduro commented on #254
@owenvoke No problem, let's create an issue and to address it.

[2020-02-03 16:34] owenvoke opened #262 "Fix component installers with Symfony Process v5"
There is an issue with Symfony Process that needs to be resolved for Laravel Zero v7.

With the [`ComposerContract`](https://github.com/laravel-zero/framework/blob/7.x/src/Providers/Composer/Composer.php) we allow providing a string (i.e. `illuminate/log "^7.0"`) to the [`require()`](https://github.com/laravel-zero/framework/blob/7.x/src/Providers/Composer/Composer.php#L67-L70) method. However, du

[2020-02-09 07:21] FujiMakoto commented on #230
Experiencing the same issue myself again after updating to Laravel Zero 6.0
![image](https://user-images.githubusercontent.com/7929996/74098156-af293880-4ae2-11ea-984b-d981e2d33792.png)
Doesn't work on Windows or when running the command via bash. Fails every time with the following error,

[code]

Fails when Github tries to build it using Github Actions too.
https://github.com/FujiMakoto/ips-dev-

[2020-02-09 07:49] FujiMakoto commented on #230
Alright, so it looks like this may just be a weird permissions issue with the Linux Subsystem on Windows.

Running the build as root fixes it.

The build on Github is failing because it seems laravel-zero is not yet compatible with php7.4,

`PHP Parse error:  syntax error, unexpected 'fn' (T_FN), expecting identifier (T_STRING)`

[2020-02-11 22:03] owenvoke commented on #230
Box was updated to support PHP 7.4 in v6.1.0 of Laravel Zero framework. From the `composer.lock`, it looks like v6.0.0 is being used.

Could you try updating using `composer update laravel-zero/framework` and see if the problem persists?

[2020-02-17 05:00] peterjaap opened #263 "Do not try to generate resource controller on make:model --all"
When using `make:model --all`, Laravel Zero (well, Illuminate) creates a factory, a migration, a seeder and a resource controller. Since we're in CLI context only, the resource controller cannot be created;

[code]

I now have to use `--factory --migration --seed` instead of `--all` or ignore he warning (since the resource controller is created the last of the 4, the other 3 are created correctly)

[2020-02-17 14:44] owenvoke commented on #263
I guess that this can be applied to the [laravel-zero/foundation][] repository. Or, we can overload this in the framework, and then updated the reference in the [database component provider][].

[laravel-zero/foundation]: https://github.com/laravel-zero/foundation
[database component provider]: https://github.com/laravel-zero/framework/blob/09c7af708d10944ccbb6e6903b76acd2b9aa7b51/src/Components/D

[2020-02-17 14:53] peterjaap commented on #263
Oh yeah foundation is already in the laravel-zero namespace. Updating this line would do it; https://github.com/laravel-zero/foundation/blob/6.x/src/Illuminate/Foundation/Console/ModelMakeCommand.php#L47

[2020-02-17 14:54] peterjaap commented on #263
Would we then still keep the resource / controller option and the `createController()` method in the `ModelMakeCommand` at all? Is there a use-case I'm missing where creating the controller *is* useful?

[2020-02-18 09:32] mathewparet opened #265 "Unable to run migrations after build"
`php <app> app:build` seem to not include migration.

In the build folder, when I run `php mocc-client migrate` migration fails:

[code]

[2020-02-18 09:48] owenvoke commented on #265
Have you added the `database` directory to your `box.json`? 🙂 This might be similar to #259

[2020-02-18 22:12] felixdorn opened #266 "Remove inconsistencies in Command Class"
Hello!

I noticed that some commands are not implemented for the laravel OutputStyle to Laravel Zero Command.

Some of them:
* New line
* Warning block
* Array or string in `warning, error, success, line, etc...` (super useful)
* and so on...

What do you thing about that?

I would like to submit a PR.

[2020-02-19 04:50] mathewparet commented on #265
It worked :) Thank you.

On Tue, Feb 18, 2020 at 8:48 PM Owen Voke <notifications@github.com> wrote:

--
Best Regards,
Mathew Paret

🎄🌴 Please consider the environment before printing. Reducing font size by
1 will save an average of 18% on paper.🌴🎄

[2020-02-19 09:13] owenvoke commented on #266
Would these just be proxy methods for the underlying `$this->getOutput()->{method}()`?

e.g. for `newLine()`
[code]

[2020-02-19 11:04] owenvoke commented on #263
We could probably remove the references to `controller` and `resource`. However, not sure if there might be packages that use these. 🤔

[2020-02-19 11:23] felixdorn commented on #266
Yeah.

* write()
* newLine()
* Blocks (success, warning) as their is already a error block.
* Lists
* Sections
* Progress bars

Actually, for progress bars, i think we can go further and find a better api than progressStart, progressAdvance, progressFinish.

Same thing for the naming, why listing and not `list` ?

I think their is a  place for improvements here.

What do you think ?

[2020-02-19 12:08] owenvoke commented on #265
Glad you got it working. Is it ok to close this issue? 🙂

I will add some information to [the docs](https://laravel-zero.com/docs/database) about this. 👍

[2020-02-19 18:35] peterjaap commented on #263
Since it doesn't work right now, probably not?

[2020-02-19 23:40] mathewparet commented on #265
Oh yes, the issue can be closed :)

--
Best Regards, Mathew Paret

Sent using OnePlus

On Wed., 19 Feb. 2020, 11:08 pm Owen Voke, <notifications@github.com> wrote:

[2020-02-20 00:19] #265 closed

[2020-02-20 06:04] peterjaap opened #267 "Add option to validate ask() input"
Wouldn't it be cool if we could pass in a validation rule directly into the third argument of the ask method like this?

[code]

If we extend `\Illuminate\Console\Concerns\InteractsWithIO` into the Laravel Zero framework, and we update the `ask()` method to the following:

[code]

If the `illuminate/validation` package isn't required through composer yet, this will of course give an exception that

[2020-02-20 11:26] owenvoke commented on #263
True! 😋 Would you like to make a PR that updates the foundation with this change? 👍

/cc @nunomaduro, just interested if you think this would be fine?

[2020-02-20 11:59] owenvoke commented on #267
I think this would be an interesting addition. 🤔 I'd probably implement this as `array|string|null` for the property, as you may want to use an array of rules (I personally prefer this over a string).

This could possibly be added as a new method, but maybe that would just cause unnecessary duplication.

---

Regarding the failure without the validation package, the class could be checked if you p

[2020-02-20 12:40] peterjaap commented on #267
All of them great ideas!

I'll try to get around to making a PR for it one of these days :)

[2020-02-22 21:40] felixdorn commented on #266
ping @owenvoke, can i start working on this or you don't think Laravel zeo need it ?

[2020-02-23 04:54] peterjaap commented on #263
PR: https://github.com/laravel-zero/foundation/pull/12

[2020-02-23 05:18] peterjaap commented on #267
PR: https://github.com/laravel-zero/framework/pull/381

[2020-02-24 09:37] owenvoke commented on #266
Hi @felixdorn, apologies I've been away this weekend. I think that some of these may be useful (i.e. a block for success, `warn()` is already available), and `newLine()`.

[2020-02-25 00:26] Sorbing opened #268 "A problem with build single file"
Hi,
Now I got an error when run building app:
[code]
Last time I updated the PHP 7.2 > 7.4.
Please, help me build the project.

[2020-02-25 09:00] felixdorn commented on #266
Cool! Will PR something tomorrow.

[2020-02-25 09:24] owenvoke commented on #268
Hi @Sorbing, it looks like this might be an issue with the version of Box. Would you be able to try using the version of Box from laravel-zero/framework#380?

To do this, you should be able to run the following to get that version into your `vendor` directory:
[code]

[2020-02-25 15:01] #263 closed

[2020-02-26 04:53] #267 closed

[2020-02-28 08:59] Gummibeer commented on #257
I had the same issue after I've canceled a build with `CTRL+C`. It seems like the build scripts rewrites the `box.json` - because it's also "uglified" if it was prettified before.
Is there any reason to do so?

[2020-02-28 09:27] owenvoke commented on #257
@Gummibeer, it looks like this was changed as part of laravel-zero/framework@8dec2adb06526c051fd2a86cc5a3b5a2fcb99045, the `main` key is added to the `box.json`. I'm not sure if the Box builds would work without this? However, I'm pretty sure I've seen notices when building Laravel Zero apps that mention that it's already set to the default. 🤔

If you're on Mac/Linux (with PCNTL), since v6.1.0 of

[2020-03-01 17:40] JunaidQadirB opened #269 "Distribution of apps built using Laravel zero are not discussed or documented in the Docs"
I've just built a CLI app using Laravel Zero and I want to make a beta release. Unfortunately, there is no mention of how to distribute apps built using LZ. Since PHP is a dependency when distributed either PHP is installed as a dependency or something.

There are a few ways to distribute cross-platform apps for Linux like [Snapcraft](https://snapcraft.io/), [flathub](https://flathub.org/home) and

[2020-03-02 10:01] owenvoke commented on #269
I've tended to distribute PHAR releases using [Phive](https://phar.io), or direct download through GitHub Releases. However, as you mention, these require PHP to be installed in order to use them.

I'm not sure I've ever thought about packaging releases with PHP included, but Snap or Docker would be interesting. If you're interested in adding some details to [the docs](https://github.com/laravel-z

[2020-03-02 11:51] JunaidQadirB commented on #269
I'm new to this and figuring this out. I'd love to contribute if succeed in making a build either with AppImage or Snapcraft.

[2020-03-02 23:13] owenvoke commented on #268
Could you also let us know what version of Laravel Zero you are using? :thinking:

[2020-03-03 10:00] Sorbing commented on #268
Hi, @owenvoke, I no longer tried to reanimate an old project based on `laravel-zero 5.8`.
I installed `laravel-zero 6.0` and I moved all own code to new version zero. All works fine.
I think I had a special case due to the update of the PHP version. I will try to find time to restore the old project and find the source of the problem. But I can’t promise that this will happen in the near future. T

[2020-03-03 13:27] owenvoke commented on #211
Just looking back through some issues for Laravel Zero. This seems like a really easy issue to fix. 👍

I've created a dev branch which implements this functionality. Basically, you just set your `default` command in the [`config/commands.php`](https://github.com/laravel-zero/laravel-zero/blob/af88934d224b8c1d02568602a4894c8f64957a11/config/commands.php#L16) file. And then would add a `singleComman

[2020-03-03 15:18] dbpolito commented on #211
@owenvoke this looks good, but i think we would still do unnecessary things loading any other commands, etc.

Maybe we should be a bit more clear on that, like having `single-command` with class path as @mcampbell508  suggested, null by default, with a clear explanation that everything else below will be ignored, and not load unnecessary things here: https://github.com/laravel-zero/framework/blob/

[2020-03-03 15:29] dbpolito commented on #250
I think the main idea of Laravel Zero isn't performance related.  Without testing anything i would say they might have the pretty much same performance results.

The main goal of Laravel Zero is being more simple, by not having a lot of unnecessary things like HTTP that you won't use in your CLI application and having handy plugins that helps build cli tools.

But for me the main benefit is having

[2020-03-03 16:07] dbpolito commented on #262
Fixed with https://github.com/laravel-zero/framework/pull/379

[2020-03-03 16:07] #262 closed

[2020-03-04 00:41] danielsuguimoto opened #272 "Add release guide to the ignore-export list"
The framework release guide is unnecessary inside project vendors.

[2020-03-04 07:05] owenvoke commented on #272
If you would like to open a PR for this on the framework repository, feel free. :+1: If not, I will resolve this later today. Thanks.

[2020-03-04 12:27] danielsuguimoto commented on #272
I saw your message just now haha. You're welcome!

[2020-03-05 09:40] #272 closed

[2020-03-05 09:42] owenvoke commented on #272
This should be resolved in any future releases. 👍 Thanks @danielsuguimoto

[2020-03-05 10:17] owenvoke commented on #211
Fair enough, however I personally think it might be good to load other commands in some situations (i.e. if a user wants to run `app:build` to create a Phar, or needs to call a hidden command such as `schedule:run`).

Not sure how best to do this though. 🤔

[2020-03-05 11:54] owenvoke commented on #254
## Component checklist

- [x] Console Dusk
- [ ] Database
- [x] DotEnv
- [ ] Log
- [ ] Logo
- [ ] Menu
- [ ] Queue
- [x] Schedule List
- [ ] Self Update

[2020-03-05 23:06] Nothing-Works opened #273 "Is it possible that execute a console command inside the Command class?"
Is it possible that execute a console command inside the Command class?
like [Symfony Process Component](https://symfony.com/doc/current/components/process.html)

[2020-03-06 00:15] owenvoke commented on #273
Yes, this is possble. `symfony/process` is included by default, so you can run commands using it if you want to.

If you are running one of your application commands you can use `$this->call('command')`. However, for running external commands, you will need to manually specify it using the `Process` class.

[2020-03-06 00:24] Nothing-Works commented on #273
cool thanks @owenvoke

[2020-03-06 00:24] #273 closed

[2020-03-06 00:53] Nothing-Works commented on #273
@owenvoke  would you take pr that wraps `symfony/process`? I mean support external commands natively?

[2020-03-06 01:25] mikeerickson commented on #273
@Nothing-Works what is your proposed API that wraps `symfony/process`?

[2020-03-06 01:34] danielsuguimoto commented on #272
@owenvoke Happy to help!

[2020-03-06 01:43] Nothing-Works commented on #273
@mikeerickson tbh, I do not know, I am very new to this project and not sure if the maintainer likes the idea. do you have any suggestions?

[2020-03-06 01:57] mikeerickson commented on #273
@Nothing-Works using the `symfony/process` method is pretty straight forward, thus the reason for asking what you were proposing.

What is your desired use case and does `symfony/process` not provide you what you’re looking for?

[2020-03-06 02:20] Nothing-Works commented on #273
@mikeerickson  yes you are right, as I said I just want a wrapper for it, manually using the `Process` class provides everything for me.

[2020-03-06 08:09] owenvoke commented on #273
Personally I've created an `InteractsWithExternalProcess` concern/trait for adding this functionality to projects. This just adds some methods that instantiate a `Process` instance from either a string or an array, and return the `Process` so you can perform whatever actions are necessary.

[2020-03-06 15:23] innoflash commented on #254
cant wait for its update

[2020-03-06 15:50] owenvoke opened #274 "Update to use GitHub Actions"
This isn't really a necessary thing to do and is just a proposal, but would it be good to move to [GitHub Actions](https://github.com/features/actions)?

I've tested this in a development branch on my fork and it appears to be a bit faster. The output is also integrated with GitHub directly.

https://github.com/owenvoke/laravel-zero-framework/commit/b22740722f7674aedc0a38aaeb32e4f7e9d19075

----

[2020-03-06 15:55] nunomaduro commented on #274
If you think its best, you can do it. I never worked with GitHub actions tho.

[2020-03-10 00:16] owenvoke commented on #237
I'm going to close this as the issue seems to be resolved, I might also add some details to the docs regarding this. 👍

[2020-03-10 00:16] #237 closed

[2020-03-10 11:05] owenvoke commented on #268
Glad to hear you seem to have sorted the issue by updating. I'm going to close this issue, however if you have any other problems, feel free to open a new issue. 👍 Thanks.

[2020-03-10 11:05] #268 closed

[2020-03-10 11:39] owenvoke commented on #248
I think that this would be a good issue to resolve. The update strategy we use extends:
https://github.com/humbug/phar-updater/blob/master/src/Strategy/GithubStrategy.php

Currently the updater pings Packagist for the JSON API (e.g. https://packagist.org/packages/laravel-zero/laravel-zero.json), it then retrieves the `package.versions.[version].source.url` value from the JSON response, and uses th

[2020-03-10 11:56] owenvoke commented on #184
It looks like the rename issue should be resolved in Composer v2 (https://github.com/composer/composer/commit/f5726366286b9e2765dfe4947fa825701f306737), however this still may not work on Windows. 😕

[2020-03-10 18:32] owenvoke commented on #274
This is now implemented. 👍

[2020-03-10 18:32] #274 closed

[2020-03-11 07:57] owenvoke opened #277 "Disable the "artisan test" command in production"
When upgrading to version 7 of Laravel Zero, it now includes the `[application] test` command from Laravel core. The `test` command is provided [by Collision here](https://github.com/nunomaduro/collision/blob/stable/src/Adapters/Laravel/Commands/TestCommand.php).

This should be disabled in production builds. 👍

It should be a relatively simple change to the [`laravel-zero/framework`](https://gith

[2020-03-11 09:15] nunomaduro commented on #277
@owenvoke Maybe you can point people on the right direction? File name or line?

[2020-03-11 09:17] wotta commented on #277
@nunomaduro yeah that would be helpful. I was looking in the repo but couldn't figure it out directly.

With some more information I would love to try to fix this issue.

[2020-03-11 11:50] peterjaap commented on #277
@wotta I guess this is it; https://github.com/laravel-zero/framework/blob/2c37734945a6d24edd151434adc8761c5dab3f2a/src/Kernel.php#L34

[2020-03-11 11:54] peterjaap commented on #277
Guess it should either be hidden here; https://github.com/laravel-zero/laravel-zero/blob/stable/config/commands.php#L57

Or removed here; https://github.com/laravel-zero/laravel-zero/blob/stable/config/commands.php#L76

[2020-03-11 12:02] wotta commented on #277
@peterjaap thanks for the information. I couldn't really find it at first.

The first link looks like the spot where it should be implemented.
That config file looks like it will be used for local development.

When I look at the [documentation](https://laravel-zero.com/docs/configuration/#js-nav-menu) it feels like those are the command for local development.
@nunomaduro is this a correct assumpt

[2020-03-12 16:39] owenvoke commented on #209
I'm going to close this as it appears to be resolved. If you have any further issues, please feel free to open a new issue. 👍

[2020-03-12 16:39] #209 closed

[2020-03-12 16:39] owenvoke commented on #231
I'm going to close this as it appears to be resolved. If you have any further issues, please feel free to open a new issue. 👍

[2020-03-12 16:39] #231 closed

[2020-03-12 16:40] owenvoke commented on #213
Is anyone still experiencing this issue now? 🤔 I've been unable to replicate it in later versions.

[2020-03-12 21:47] nunomaduro commented on #213
This issue seems old.

[2020-03-12 21:47] #213 closed

[2020-03-13 13:18] owenvoke commented on #277
This is now resolved in https://github.com/laravel-zero/framework/pull/392, thanks @wotta!

[2020-03-13 13:18] #277 closed

[2020-03-13 14:50] innoflash opened #280 "Please provide a valid cache path on email"
When using the illuminate/mail services in production the email sents successfully but in production i get `Please provide a valid cache path.` What exactly am i supposed to do.

I added the `storage/framework/views` to the `box.json`

[2020-03-13 17:41] wotta commented on #277
Thanks for helping and thinking to find a solution @owenvoke.

[2020-03-18 15:25] Pe46dro commented on #280
In `config/view.php` check the `compiled` key
[code]
In storage folder i have `framework/views` folders

[2020-03-18 16:22] innoflash commented on #280
@Pe46dro yeah its set that way and probably thats why it works when I run the mail in development. The issue starts when i push the app into production

[2020-03-18 16:37] owenvoke commented on #280
That will probably be because it's trying to save the compiled views inside the compiled Phar file.

I've found that the easiest way in most cases is to point it at a temporary directory, or to use the current directory. I think this is an open issue which involves a similar problem: #177

[2020-03-18 16:48] innoflash commented on #280
@owenvoke thanks, i think i will force it to use the same dir i am using as my Storage default on the system. The app i built is using system folders rather than the app folders. Will see if the magic will work there.

[2020-03-18 16:51] owenvoke commented on #280
Good luck! If you do have any issues, let me know. And hopefully we can resolve this whole thing in future. 🤔

[2020-03-18 17:11] innoflash commented on #280
I managed to hack my around the `views` folder. I will show you just now after i prove a theory.

I just bumped into another silly one.

I build the phar and am running it out of the project folder (on Unbuntu desktop) and i am getting this error.

Any idea on how to fix this?
![Screenshot from 2020-03-18 19-08-17](https://user-images.githubusercontent.com/12772919/76987603-1e991000-694c-11ea-9cfc

[2020-03-18 17:32] innoflash commented on #280
So for setting the app to use system storage. I built a helper class and named it `Config.php` (its doing quite a lot :))

I accessed the system using a method:
[code]

I realized `realpath()` with a `null` will always give back where the PHP program is running from. For a person on a Linux environment if I explode the `$path` the first 2 items of that array will always give me `$HOME` for the OS

[2020-03-18 18:21] innoflash commented on #280
Yeeeeeeeeeees it worked. So yeah i had been seeng the error because i forgot to include the `.env` file into box.json.

What works on a built app is setting the view.php > compiled to use system folder(files). In mine i used
[code]

PS: i had to create the `views` folder though

[2020-03-19 08:10] #280 closed

[2020-03-19 20:14] stefkes opened #281 "bug: `laravel-zero` new app-name don't rename the app"
Installation of Laravel Zero with the command below

`laravel-zero new TestApp`

Results in output

[code]

No big deal, I can set the name in `config/app.php` to TestApp

However, when I then try create a Command using the command below

`php TestApp make:command DoStuff`

I get

`Could not open input file: TestApp`

No idea if the issues are related. Any idea what's causing this?

This is runnin

[2020-03-19 20:49] owenvoke commented on #281
This is a known issue with how Composer works. I guess it probably might be good to remove it from the `post-install` script...

Changing the app name in the configuration doesn't change the binary, you can run `php application app:rename {name}` to change your application binary. :+1:

[2020-03-20 00:58] nunomaduro commented on #281
Actually also had this problem last week. Lets see if someone have a solution for this.

[2020-03-20 09:10] owenvoke commented on #175
This should be resolved in v7.0.0, at least partially as Box still doesn't officially support Windows.

[2020-03-20 09:13] owenvoke commented on #281
This should be resolved in v2.x of Composer, as mentioned in https://github.com/laravel-zero/laravel-zero/issues/184#issuecomment-597047595, however no idea when v2.x is releasing...

Commands that require user interaction don't seem to work on v1 of Composer.

[2020-03-20 09:55] stefkes commented on #281
If composer 2 isn't available for anyone then the installation process has been broken for everyone?

[2020-03-20 10:03] owenvoke commented on #281
I mean, that feature has been in Laravel Zero since v0.4.0, so it must have worked originally? 🤔

[2020-03-20 11:13] nunomaduro commented on #281
Yeah, it was working before.

[2020-03-20 11:21] nunomaduro commented on #175
if this problem still persist on 7.0.0 please create an new issue.

[2020-03-20 11:21] #175 closed

[2020-03-26 21:21] sergiz commented on #54
I was just thinking, why pretty bare laravel-zero compiles to around 5MB, while for example composer is only 1.9MB?

[2020-03-27 00:13] nunomaduro commented on #54
The Laravel Zero's vendor is bigger than composer's vendor.

[2020-03-27 00:21] mikeerickson commented on #54
5mb is small folks!

[2020-04-01 04:49] peterjaap opened #282 "expectsChoice not working yet"
I just upgraded my Laravel Zero installation after seeing Laravel 7.4.0 came out with the new [expectsChoice](https://github.com/laravel/framework/pull/32139) command. These are the packages that were updated;

[code]

The `expectsChoice` command is now available since it is part of the `illuminate/testing` 7.4.0 package. However, it does not work since the underlying assertion is part of the `ill

[2020-04-01 07:46] owenvoke commented on #282
Thanks for flagging this up! I'll update the foundation to `v7.4.0` shortly. 👍

[2020-04-01 08:46] owenvoke commented on #282
@peterjaap, `v7.4.0` of the foundation is now out. If you run into any issues, let us know!

[2020-04-02 03:53] peterjaap commented on #282
Works! :+1:

[2020-04-02 03:53] #282 closed

[2020-04-06 14:20] jimmyt2003 commented on #281
is there a workaround for this for now?

[2020-04-06 15:26] owenvoke commented on #281
Currently not really as far as I can see... I think it's probably worth removing this to be honest (what are your thoughts @nunomaduro?) because it throws an error on first use which doesn't look good. 😕

[2020-04-06 17:17] nunomaduro commented on #281
Let's see if we can get someone to fix this for us: https://twitter.com/LaravelZero/status/1247211861751271427?s=20.

[2020-04-07 02:07] simonardejr commented on #281
Just made a [PR](https://github.com/laravel-zero/installer/pull/8)

[2020-04-07 10:13] Sorbing commented on #237
This solution no longer works since laravel-zero 6. The ide-helper package expects some aliases in the Container that are not registered. As example:
[code]
And I got error:
[code]

[2020-04-07 10:22] Sorbing opened #283 "Add supports for the package barryvdh/laravel-ide-helper"
This solution (https://github.com/laravel-zero/laravel-zero/issues/237) does not fully ensure the health of the package from laravel-zero v6+.
The `barryvdh/laravel-ide-helper` package expects some aliases in the Container that are not registered. As example:
[code]
Ant artiran commands throws exception in `vendor/illuminate/container/Container.php::build($concrete)`:
[code]
How can this be fixed?

[2020-04-07 10:28] owenvoke commented on #283
I think there are some mentions about compatibility in previous issues https://github.com/laravel-zero/laravel-zero/issues/132 and https://github.com/laravel-zero/laravel-zero/issues/237.

I'll try and have a look into this at some point.

[2020-04-09 16:32] innoflash opened #285 "Why use laravel-zero/foundation instead of illuminate/foundation"
I know you guys are PHP kings and you certainly have a reason for that but i still have to ask.

Looks like when i run `composer update` the `laravel foundation` is not updated because we are using the one in `laravel-zero`

[2020-04-09 17:22] innoflash opened #286 "Can`t require app from packagist"
So i been building some CLI app using Laravel Zero and its building and all. Now i am at a phase to distribute it via packagist and i am having the following issues when i run:

composer global require innoflash/larapack

![Screenshot from 2020-04-09 19-16-19](https://user-images.githubusercontent.com/12772919/78922558-0cb41400-7a97-11ea-8de3-bb06271dc3e8.png)

What have i possibly done wrong?

[2020-04-09 19:16] mikeerickson commented on #286
Hello, apps created with Laravel-Zero are self contained CLI, they are not designed to be installed as dependencies into other applications.

[2020-04-09 19:18] innoflash commented on #286
@mikeerickson thanks, so do we have a way of sharing them?

But i do remember using Packer by Bitfumes which he built on Laravel Zero

[2020-04-10 00:14] mikeerickson commented on #286
Yes, it is a stand-alone cli application that is installed using composer require global xxx

[2020-04-10 00:20] nunomaduro commented on #286
Maybe we can write more docs on this but:

1. Adds `"bin": ["builds/lambo"]` to composer json.
2. Adds `"exclude-dev-files": false,`.
3. Remove the framework as dependency
4. Perform app: build.

Would be very cool if someone write a full section on docs on this.

[2020-04-10 08:34] innoflash commented on #286
So i followed the steps given above by @nunomaduro and now i am getting the error with illuminate packages:

Does it mean i have to remove all dependencies when submitting to packagist?

![Screenshot from 2020-04-10 10-32-12](https://user-images.githubusercontent.com/12772919/78976611-cef6d000-7b16-11ea-997f-13e742bff2b9.png)

[2020-04-10 08:38] #285 closed

[2020-04-10 09:03] nunomaduro commented on #286
Show me your `composer.json`.

[2020-04-10 09:03] nunomaduro commented on #285
I guess you found the answer yourself, but there is no illuminate/foundation.

[2020-04-10 09:41] innoflash commented on #286
@nunomaduro here it is.
https://github.com/innoflash/larapack/blob/master/composer.json

[2020-04-10 09:44] innoflash commented on #285
@nunomaduro i did notice there is a mirror of illuminate/foundation :). I closed this one because i saw an update on LaravelZero v7.5

It had all i needed this time.

Thanks for this awesome tool

[2020-04-14 11:37] owenvoke commented on #286
I think it would be good to add some information to the docs as Nuno has mentioned.

[2020-04-15 04:16] peterjaap commented on #211
Bytheway, Symfony Console 5.1 now includes a `SingleCommandApplication` for this exact purpose: https://symfony.com/blog/new-in-symfony-5-1-single-command-applications

[2020-04-15 18:08] mattstauffer opened #287 "Allow for undefined commands to be passed to the default command"
In #211 there's a discussion about single-command apps.

However, that doesn't solve for my current use case, *but* my idea *does* solve that use case, *as well as* mine.

Here's my proposal:

Add a config toggle that sets it up so that the error generated by an un-defined console command, instead of bubbling up, is caught by Laravel Zero, and then the full parameter list is just passed to the def

[2020-04-16 09:48] owenvoke commented on #287
I think this sounds pretty useful, although as far as I know the underlying issue of arguments/options passed to the default command being ignored still exists so I'm not entirely sure how this could be implemented.

Unless it catches it using something like...
[code]

[2020-04-16 09:59] owenvoke commented on #211
If we used that class @peterjaap, I guess we could just assume that they don't want to run any hidden/other commands. 🤷

[2020-04-16 10:18] owenvoke commented on #210
This is now in Laravel Zero 7, thanks. 👍

[2020-04-16 10:18] #210 closed

[2020-04-16 12:14] mattstauffer commented on #287
Thanks Owen! That’s exactly what I was thinking. If I remember I’ll test that idea on Lambo on my stream tomorrow morning. If it works we can maybe see what it would look like to PR it to Zero.

[2020-04-16 14:29] owenvoke commented on #287
That would be great! I'll make sure to watch the stream as usual. :+1:

[2020-04-17 04:39] peterjaap commented on #211
@owenvoke true, it's not very optimal in development stage.

[2020-04-17 16:15] #287 closed

[2020-04-21 23:02] gravataLonga opened #288 "Create a command - Incorrect namespace"
Hello i find an issue related with `laravel-zero/foundation` (i think the source of evil). I don't know if  make correction on the `foundation` repo or in `framework` repo.

The problem is when a try to create a new command, it's generated with the wrong `use` statement.

If you can see this line of code:
https://github.com/laravel-zero/foundation/blob/master/src/Illuminate/Foundation/Console/stub

[2020-04-23 16:57] owenvoke commented on #288
Hi @gravataLonga, it looks like the [`StubPublishCommand`](https://github.com/laravel-zero/framework/blob/f76b8cf12a6ca54ebbb27bab5d64a2db43f3b80c/src/Commands/StubPublishCommand.php) should publish the stubs [from here](https://github.com/laravel-zero/framework/tree/f76b8cf12a6ca54ebbb27bab5d64a2db43f3b80c/src/Commands/stubs) which does include the right class. 🤔 This does seem to be working as e

[2020-04-23 18:46] gravataLonga commented on #288
You can make PR I don’t mind. And credit for 😂😅 Only want to this to work..

Side note, IMHO must be a test for this.

[2020-04-27 14:10] #218 closed

[2020-04-27 14:12] matt-allan commented on #218
Nice, thanks @owenvoke!

[2020-04-27 17:01] #288 closed

[2020-05-04 12:02] cdarken commented on #177
I tried this:
[code]
but for some reason it tries to open .env when I call `Storage::disk('my_disk')`:
[code]

Is there a way to get the location of the phar when running it to use it instead of `getcwd()`?

[2020-05-04 12:03] nunomaduro commented on #177
Let's make sure we end up making a contribution on the docs with the findings of this issue plz

[2020-05-04 13:55] cdarken commented on #177
I think I found a solution, but I'll need you guys to confirm it's working for you too:
[code]
This seems to make it "portable" for me, when I'm running it from the project directory or from the phar file.

[2020-05-06 15:22] zacksmash opened #289 "Can't create a new project using installer"
After updating composer and updating my global composer dependancies, including the Laravel Zero installer, I'm getting an error when I try to run the `laravel-zero new PROJECT` command. Here's the output from my terminal.

[code]

[2020-05-06 15:50] owenvoke commented on #289
That's odd, I've just run the same command (`laravel-zero new PROJECT`) and it ran as expected.

As the Phar file has been compiled, it should run without trying to load the `.env` file. 🤔

Could you confirm what version of Laravel Zero installer, and Composer you are using?
[code]

[2020-05-06 15:52] owenvoke commented on #254
Forgot to close this, so closing now. 👍

[2020-05-06 15:52] #254 closed

[2020-05-06 15:53] zacksmash commented on #289
It's definitely odd. I'm not sure what to make of it.

Here's version info
[code]

When I try to run `laravel-zero --version` I get the same output as above. But I updated it just this morning and it should be on 7.2.

[2020-05-06 15:55] spmsupun commented on #193
For me it was the storage folder, it was missing

[2020-05-06 15:58] owenvoke commented on #289
The latest installer version is `v2.3.0` at the moment. 👍 If the `--version` flag is also failing, that's very odd. Could you try running `composer global info laravel-zero/installer | grep versions` to check the version that Composer is using?

[2020-05-06 16:31] zacksmash commented on #289
Oh, you are correct. That's what I have installed. Trying that grep command wouldn't produce any output but `composer global info` did:

[code]

[2020-05-06 16:39] owenvoke commented on #289
Ah, I think the output of `composer global info` has changed in Composer 2.

Anyway, good to see you're on the latest version. 👍 @nunomaduro, any thoughts on this?

[2020-05-07 06:04] mrzainulabideen commented on #230
I had the same issue with laravel-zero/framework 7.0.
For me the issue was with the path of box file
The command php %~dp0/box %* does not get names with spaces in them so i used this php "%~dp0box" %*
I would suggest that this would be incorporated in the code or should i do the PR?

[2020-05-07 06:11] mrzainulabideen opened #290 "Path issue while bundling package with box"
I had the issue with laravel-zero/framework 7.0.
For me the issue was with the path of box file
The command `php %~dp0/box %*` does not get names with spaces in them so i used this `php "%~dp0box" %*`

Created PR on framework for this so nobody gets this particular error again.

[2020-05-07 11:14] owenvoke commented on #290
Issue reference is https://github.com/laravel-zero/framework/pull/398. 👍 I'll take a look in a few minutes.

[2020-05-07 13:28] #290 closed

[2020-05-07 13:44] owenvoke commented on #290
Thanks for that PR @mrzainulabideen 👍 I'll make a release soon.

[2020-05-07 22:42] dbpolito commented on #289
I tried to reproduce but no luck.

@zacksmash What OS are you? Mac? It seems to be related to some configuration or permission?

Maybe you could share your `php.ini`.

I changed my local env to look like yours, even installed xdebug but it's still working fine:

[code]

While you have this broken you can use the `Via Composer Create Project` documented here: https://laravel-zero.com/docs/installat

[2020-05-07 22:48] zacksmash commented on #289
@dbpolito

Yes, macOS 10.15.

php.ini

[code]

Using  `composer create-project` works, but I get the same `.env` error message when I try to do anything. For example, just running `php application app:rename` gives the same error output as above.

[2020-05-07 22:51] owenvoke commented on #289
Random question, do you happen to have an `APP_ENV` variable set globally or anything? If you run `echo $APP_ENV`. 🤔

[2020-05-07 22:52] zacksmash commented on #289
If I run that, the output is basically just blank.

[2020-05-07 22:55] dbpolito commented on #289
It is related to your xdebug settings, do this:

[code]

[2020-05-07 22:56] zacksmash commented on #289
How. Freaking. Embarrassing.

Okay, let me disable that and see where I get.

[2020-05-07 22:59] dbpolito commented on #289
Short story, your xdebug is set to not allow php suppersion error`@`, which is required by laravel as it doesn't check if file exists before trying to load it...

There are a few issues regarding that xdebug flag on laravel's core: https://github.com/laravel/framework/issues?q=is%3Aissue+xdebug.scream+is%3Aclosed

Could be simple to fix by checking if file exists before trying to load on laravel c

[2020-05-07 23:03] zacksmash commented on #289
@dbpolito @owenvoke

Thanks a bunch for your help, both of you. Basically, user error! 😝

[2020-05-07 23:03] #289 closed

[2020-05-13 23:00] eleimt opened #292 "Events"
Hello.
Is it possible to use events in applications?
Thank.

[2020-05-13 23:24] owenvoke commented on #292
Events should be possible as with normal Laravel, at least I'm pretty certain I've used events before. :+1: If you run into any issues, let us know.

[2020-05-14 22:29] nunomaduro commented on #292
I confirm. Please re-open the issue if you find any problems.

[2020-05-14 22:29] #292 closed

[2020-05-17 19:22] abkrim opened #293 "Imposible deploy a new app with laravel-zero installer"
Hi.

When try to install with laravel-zero installer get error
- Ubuntu 20.04
- PHP PHP 7.4.5 (cli) (built: Apr 28 2020 14:49:23) ( NTS )

[code]

[2020-05-17 20:43] owenvoke commented on #293
This is a known issue when using Composer v1's scripts.

You should be able to just run `php application app:rename` manually and everything should be ok. 👍

See #284

[2020-05-18 08:36] abkrim commented on #293
A lot of tanks

[2020-05-18 08:36] #293 closed

[2020-05-20 11:51] paulhennell opened #294 "API secrets in distributed App"
Is there a recommended way to safely work with & include API keys for open-source laravel-zero applications?

Reading the docs it seems if I can make an .ENV with API_KEY tokens, then reference those in the app like laravel. Running build locally will then make a .phar which will work using my keys bundled inside, but anyone wanting to run / build from source would need to provide their own keys i

[2020-05-20 14:58] abkrim commented on #230
Same.

On linux box, when use command

[code]

[2020-05-20 15:38] owenvoke commented on #294
I'd recommend not embedding keys inside a PHAR file, because they can be extracted as they are not encrypted. 👍 They are usually compressed (using Gzip, etc.) or signed (using SHA256, etc.), but as far as I know Box doesn't support encrypted storage.

You are correct that the `env()` helper in a config file will bundle the value when running a build. 👍

---

Personally I tend to have a command suc

[2020-05-20 17:10] paulhennell commented on #294
That's what I feared with the phar bundling. Had an idea that involved twitter, but you have to jump through hoops to get keys now, so wondered if I could just provide some in the built version so end users aren't required to get their own - but obviously don't want to leak mine!

Really need to think up less problematic fun little projects 😄

[2020-05-20 21:20] owenvoke commented on #294
Yeah, it's always been a bit of an awkward thing to bundle. 🤔 But having a command to set it is usually quite easy for people. 👍  Is it ok to close this?

If you have any further questions, feel free to ask. (Also just noticed you're a fellow Bristol Dev). 👋

[2020-05-21 07:34] paulhennell commented on #294
Sure, thanks for the advice Owen!

[2020-05-21 07:34] #294 closed

[2020-05-21 13:02] michelmelo opened #295 "Call to undefined method Illuminate\Support\Facades\DB::table()"
[code]

## my code:
[code]

[2020-05-21 13:58] nunomaduro commented on #295
Did you installed the database component? https://laravel-zero.com/docs/database/

[2020-05-21 13:59] michelmelo commented on #295
yes, sim

[2020-05-21 14:11] michelmelo commented on #295
after I did an update it removes the db. I had to install it again.

[2020-05-21 16:03] nunomaduro commented on #295
its good now?

[2020-05-21 16:03] #295 closed

[2020-05-21 16:04] michelmelo commented on #295
done good

[2020-05-21 22:51] owenvoke opened #296 "Framework CI build tests failing"
Currently the CI on the framework repository is failing. I first noticed this when updating the tests to use Pest, however since pushing a commit for release `v7.2.1`, the build is failing with PHPUnit as well.

This appears to just be a single test that fails, however all tests seem to pass when I run it locally on PHP 7.2, 7.3, and 7.4.

As far as I can tell, this appears to be related to an upd

[2020-05-22 08:49] shivammathur commented on #296
@owenvoke After `2.0.0` there hasn't been a breaking change. If you run the workflow with `2.1.4` again the same test-case will fail, it is most likely due to some dependency update in your project.

[2020-05-22 08:54] owenvoke commented on #296
@shivammathur, this is re-running it with `v2.1.4` and it seems to pass. 🤔
https://github.com/owenvoke/laravel-zero-framework/actions/runs/111872873

[2020-05-22 10:23] shivammathur commented on #296
@owenvoke Yes, there is a file ownership issue. I'm testing a patch, give me some time to push it and update the latest release

[2020-05-22 10:31] owenvoke commented on #296
Thank you very much for your quick response!

[2020-05-22 10:52] shivammathur commented on #296
Fixed in shivammathur/setup-php@190220c . It should now work with `2.2.2` release and `v2`.

[2020-05-22 10:57] owenvoke commented on #296
I've re-run the jobs with `v2` and it's working. 👌 Thanks, that's brilliant!

Closing this issue as CI is now passing.

[2020-05-22 10:57] #296 closed

[2020-05-23 11:22] pavrip opened #297 "Use Laravel Zero with custom framework"
I am building a custom framework for a university project,
Similar to artisan in Laravel, I want to use it to help do a lot of the tasks like make modules, components, and database migrations,

I am already using composer, autoload but there are no dependencies as I am using core extensions for everything except mail,

Is there a way I can create a Laravel zero project and then combine it to my we

[2020-05-26 21:09] owenvoke commented on #297
Hi @pavrip, that's an interesting question. 🤔 I guess Laravel Zero would be possible although it might be a bit awkward.

I'm not really sure what the best way to do this would be though.

[2020-05-26 21:11] #297 closed

[2020-05-29 09:21] conveydk opened #298 "RunTime exception on standalone build"
When initiating build of standalone PHAR runtime exception is thrown:

➜  core-cli (master|✔) $ php ~/Projects/core-cli/core app:build core -v

In ArgvInput.php line 171:

  [Symfony\Component\Console\Exception\RuntimeException]
  Too many arguments, expected arguments "namespace".

Exception trace:
  at /Projects/core-cli/vendor/symfony/console/Input/ArgvInput.php:171
 Symfony\Component\Console\I

[2020-05-29 09:46] owenvoke commented on #298
This is odd, I've been unable to replicate the issue. Could you let us know what OS you are using, and the exact version of the Laravel Zero framework? 🙂

[2020-05-29 10:02] conveydk commented on #298
We are running macOS 10.15.5 Catalina.
Laravel Zero Framework v7.2.1

[2020-06-01 09:43] owenvoke commented on #298
Hi, apologies for the delay on this. I'm still not able to replicate this issue on MacOS 10.15.5 with Laravel Zero v7.2.1 🤔

The only thing I can think of is another package providing an `app:build` command, but that's unlikely. Would you be able to post your Composer requirements list?

@dbpolito / @nunomaduro, any ideas on this one?

[2020-06-02 10:30] conveydk commented on #298
No worries :). I migrated the project to a brand new mac and the issue arised.
Can it maybe be incompatibility with PHP 7.4?

{
    "name": "laravel-zero/laravel-zero",
    "description": "The Laravel Zero Framework.",
    "keywords": ["framework", "laravel", "laravel zero", "console", "cli"],
    "homepage": "https://laravel-zero.com",
    "type": "project",
    "license": "MIT",
    "support": {

[2020-06-02 12:10] owenvoke commented on #298
Right, it doesn't seem to be a dependency issue. _sigh_ One other thing, could you post your `box.json` content here? 🤔

[2020-06-02 14:20] conveydk commented on #298
{
    "chmod": "0755",
    "directories": [
        "app",
        "bootstrap",
        "config",
        "vendor"
    ],
    "files": [
        "composer.json"
    ],
    "exclude-composer-files": false,
    "compression": "GZ",
    "compactors": [
        "Herrera\\Box\\Compactor\\Php",
        "Herrera\\Box\\Compactor\\Json"
    ]
}

I can't quite figure out why the arguments aren't passed.

To

[2020-06-02 14:22] owenvoke commented on #298
That looks pretty normal to me. 🤨

I mean, the only thing I can think of is that the app is in production mode for some reason (maybe through a build that was partially completed) and then the `app:build` command wouldn't be autoloaded. But that doesn't seem likely.

[2020-06-08 10:10] def-studio opened #299 "Posix blocks execution on Windows system"
Hi, I've created a fresh laravel-zero executable in a Linux system:

`laravel-zero new dock`

I didn't install anything, nor added any code, just a fresh laravel-zero app

on my linux machine everything runs without any issue:

![image](https://user-images.githubusercontent.com/8792274/84018445-5aa6a480-a980-11ea-8e0b-7232a0fb5c9a.png)

if I run the build command:

`php dock app:build`

everything

[2020-06-08 10:19] def-studio commented on #299
This was just an error caused by an old version of my cli, not updated, sorry

[2020-06-08 10:19] #299 closed

[2020-06-08 10:21] owenvoke commented on #299
No need to apologise 👍 Glad you sorted it.

[2020-06-09 20:35] conveydk commented on #298
After changing 'production' => 'false' to 'env' => 'development' in app.php build process started working.

[2020-06-09 20:58] owenvoke commented on #298
Oh, it was just a config that hadn't been updated as per the [upgrade guide](https://laravel-zero.com/docs/upgrade/#upgrade-7.0.0)? No worries. 👍 Glad you managed to sort it. 🙂

[2020-06-10 06:08] conveydk commented on #298
Yes. I followed all other upgrade steps but missed this particular step. Sorry for the inconvenience.

[2020-06-10 08:06] owenvoke commented on #298
No problem, I'm going to close this issue. If you have any further problems, feel free to open a new one. 👍

[2020-06-10 08:06] #298 closed

[2020-06-14 13:39] jurtjee1997 opened #300 "Leravel zero for project"
Is it possible to use Laravel Zero in your project like php artisan?

[2020-06-14 14:32] #300 closed, assigned to nobody

[2020-06-15 16:13] defunctl opened #301 "$this->call() does not build commands like Artisan::call()"
`$this->call()` seems to place the command at the end the arguments, vs the first index of the array like `Artisan::call()`.

[code]
[code]

And in CustomCommand's `handle()` method.

`var_dump( (string) $this->input  );`

**$this->call()**

`--some-option hello -f forced custom-command`

**Artisan::call()**

`custom-command --some-option hello -f forced`

[2020-06-20 17:41] EmanueleCoppola commented on #283
I'm having this issue too is there any update on this?

[2020-06-23 09:51] #266 closed

[2020-06-25 10:39] owenvoke commented on #301
Hi @defunctl, sorry for the delayed reply. This is interesting. The [`call()` method in the `Command` class](https://github.com/laravel-zero/framework/blob/master/src/Commands/Command.php#L79) actually just calls the underlying [Laravel class'](https://github.com/laravel/framework/blob/7.x/src/Illuminate/Console/Concerns/CallsCommands.php#L26) method.

When `Artisan::call()` is run, it calls [the

[2020-06-25 11:35] owenvoke commented on #283
Sorry, I haven't had much time to work on looking into this.

Just marked the issue as `help wanted`, and I'll have a quick look later today to see how easy it would be.

[2020-06-25 15:24] defunctl commented on #301
Hi @owenvoke,

I have not tested this in a normal Laravel app, sorry :(

I believe the correct syntax should also be `Artisan::call()`.

Thanks for the response.

[2020-06-26 11:52] owenvoke commented on #301
Just tested on Laravel, looks like it does happen there as well. So this might be an issue with Laravel core. 🤔

![image](https://user-images.githubusercontent.com/1899334/85854209-de97c380-b7ab-11ea-9534-f774fc8fa97a.png)

[2020-06-27 09:04] Ahmard opened #302 "Fatal error: Uncaught ReflectionException: Class config does not exist"
I created configuration file located at "./config/test.php" directory and i tried loading it using `config('test.hello');` and i got the below error

`Fatal error: Uncaught ReflectionException: Class config does not exist in /storage/emulated/0/www/vendor/illuminate/container/Container.php:805 Stack trace: #0 /storage/emulated/0/www/vendor/illuminate/container/Container.php(805): ReflectionClass->

[2020-06-27 09:13] owenvoke commented on #302
Hi @Ahmard, I just set up a fresh Laravel Zero instance, added a `config/test.php` containing the following:

[code]

And calling `dd(config('test.hello'));` worked as expected with the correct value. Could you perhaps provide the contents of the `test.php` file? 🙂

[2020-06-27 11:17] Ahmard commented on #302
Yeah you are right.
I run the code through http, i was reckless, forgetting that Laravel-Zero will not load the framework.
Sorry for wasting your time.

[2020-06-27 11:17] #302 closed

[2020-06-28 07:37] owenvoke commented on #302
No need to apologise. :+1: Glad you sorted your issue.

[2020-07-01 19:01] dimasahmad commented on #184
It's still not working on windows, the timeout and rename problem still exist

[2020-07-08 10:15] yoramdelangen opened #303 "Emergency logging"
I encountered a problem for error logging in a builded phar:

I didn't register a database connection within my .env file. causing my migrate command to fail before the AppServiceProvider updated my configuration for logging.

In cases of "emergency" the Laravel logger tries to log into an "emergency channel" if defined else it uses `storage_path`.
[Source can be found here](https://github.com/lar

[2020-07-08 10:41] owenvoke commented on #303
I think this is kind of mentioned in the [Logging documentation](https://laravel-zero.com/docs/logging/)? If there are any changes you'd like to suggest or ways to make it clearer, feel free to open a pull request, or let us know. 👍

[2020-07-09 07:58] yoramdelangen commented on #173
I still have this issue when I have build an application and try to run it on a windows machine.

[2020-07-09 07:59] yoramdelangen commented on #303
I will try and create a reproduce the issue.

[2020-07-09 08:28] yoramdelangen commented on #299
@def-studio how did you solve this?

[2020-07-09 08:39] def-studio commented on #299
@yoramdelangen It was just a typo in code, nothing related to laravel zero framework

[2020-07-14 17:16] john-f-chamberlain commented on #283
Add the following:

`        \Illuminate\Filesystem\FilesystemServiceProvider::class,`

to your providers list in config/app.php

Then create an empty 'aliases' array in your config/app.php:
`        'aliases' => [],

I was able to the run the ide-helper commands without any error.
Note: I haven't done any testing to see if there are any unintended side-effects from this change.

[2020-07-23 15:27] wotta commented on #240
Closing this because it got no replies.

[2020-07-23 15:28] #240 closed

[2020-07-25 15:18] loranger opened #304 "Extending command"
Hello,

My app is a “modules“ manager. Each module is a git repository and I need to know where those repositories are stored locally on each dev machine..

I fought with the writing files issues and finally used the [XDG package](https://packagist.org/packages/dnoegel/php-xdg-base-dir) as suggested by [matt-allan](https://github.com/laravel-zero/laravel-zero/issues/177#issuecomment-490134204) in

[2020-08-10 11:21] owenvoke commented on #304
Hi @loranger, sorry for the late reply. Could you use an abstract class that extends the core Command class, and just store it outside of the `app\Commands` directory so it doesn't get autoloaded in the list? Alternatively maybe this could be in a trait?

[2020-08-11 23:51] owenvoke opened #305 "chore: start preparing next version of laravel zero 8"
Work for this will be implemented in the [`develop` branch](https://github.com/laravel-zero/framework/tree/develop).

- [x] Update to use Pest for test suite
- [x] Update to stable Pest version ([v0.3 PR](https://github.com/laravel-zero/framework/pull/403))
- [x] Update dependencies (Collision 5, etc.)
- [x] Update Illuminate dependencies to v8
- [x] Update LZ components (see list below)
- [x] Upd

[2020-08-12 06:26] nunomaduro commented on #305
This sounds good to me, can you add `upgrade-guide.md`, and blogpost?

[2020-08-20 08:15] yoramdelangen commented on #297
Yes there is a way. I build a Laravel Zero project besides my "backend" portion/logic of the entire application. Why? Because the application will run on-premise and we don't have access or control over it.
By creating the Laravel Zero project we can compress and encrypt the build and use the binary within the backend. We have a set of API endpoints that are filtering and mapping all the input inf

[2020-08-20 21:35] pavrip commented on #297
Well I am building a DDD framework for a University project and I want to have a nice command line application tool that I can use similar to Symfony and Laravel.

Now I was thinking of using the Symfony one because it comes with the maker component where I can create my own make:mycustommakethinggy

So I might go for that
________________________________
From: Yoram <notifications@github.com>
Sen

[2020-08-28 18:54] isbkch opened #306 "Dispatcher is not instantiable when using Scout"
I installed Laravel Scout
`composer.json` :

[code]

And added the required providers to `config/app.php`
[code]
but when running `php artisan scout:import` (I named my app artisan) I'm hit with this error:

[code]

Any idea how I might fix this ?

[2020-08-28 19:21] isbkch commented on #306
Ended up fixing so here is what I did:
1- `composer require illuminate/bus`
2- added `Illuminate\Bus\BusServiceProvider::class,` to the providers list

[2020-08-28 19:42] #306 closed

[2020-09-02 10:29] owenvoke commented on #305
Waiting on [`hmazter/laravel-schedule-list`](https://github.com/hmazter/laravel-schedule-list) to release a version that includes https://github.com/hmazter/laravel-schedule-list/commit/887e7df4a4b30656532d7d71a0e23445f69a8fc3

[2020-09-13 09:23] #305 closed

[2020-09-25 14:35] damcclean opened #307 "Issues with finding Laravel Zero classes after app:build"
I'm building my first Laravel Zero application so I may be doing things wrong.

Basically, my issue is that whenever I run `php application app:build` on my Laravel Zero app, the binary file compiles without any issues. However, when I try and run the built binary, either through `./builds/app` or via a globally installed Packagist version, it still fails, saying it can't find Laravel Zero's `Appl

[2020-09-25 14:42] damcclean commented on #307
Just converted my package back to the `/app` folder but I still get the same error when I run my built binary (I rebuilt after moving the files around, obviously)

[2020-09-25 14:43] owenvoke commented on #307
If your Laravel Zero dependency is in the Composer `require-dev` section, then you'll need to add `exclude-dev-files` to your `box.json` configuration file. 👍🏻

[2020-09-25 14:46] damcclean commented on #307
@owenvoke Ah... that makes sense. Everything works now. Thanks for your quick help!

[2020-09-25 14:46] #307 closed

[2020-09-25 14:51] owenvoke commented on #307
No problem! Glad it's sorted. 👏🏻

[2020-09-25 18:00] nunomaduro commented on #307
@damcclean Add something to the docs, if you think is missing.

[2020-09-29 14:10] hotmeteor opened #309 "Font setting for builds"
I'm trying to change the font the logo uses, however I'm unable to get a proper path set for builds. Always complains it can't find the font at the defined path.

Is there any guidance or instructions for changing the font?

[2020-09-29 15:06] hotmeteor commented on #309
Nvm, figured it out. For anyone else looking for an answer, you simply need to add the path the file into the `files` array in `box.json`.

[2020-09-29 15:06] #309 closed

[2020-09-30 15:09] alpha0010 opened #310 "Command aliases cause duplicates"
Continuing from https://github.com/nunomaduro/laravel-console-summary/issues/9.

If I use aliases
[code]

I get
[code]

[2020-10-05 06:37] Krato opened #314 "Creating sitemaps"
Hello people.

I'm trying to use Laravel Zero to generate some sitemaps. I Install [Spatie Sitemap](https://github.com/spatie/laravel-sitemap) into the app.

Also I Installed Bus, View from Laravel.

My composer require key:

[code]

And in app.php:

[code]

But when I run the command, throws this error:

[code]

But the generated file on cache: /storage/framework/views contains just:

[code]

Som

[2020-10-05 07:50] nunomaduro commented on #314
Seems that Routing service provider is missing. You may need to add the service provider on the `config/app.php`.

[2020-10-05 07:50] #314 closed

[2020-10-05 08:04] Krato commented on #314
@nunomaduro sure?

I think that the problem is on view, but I don't understand why. is getting this view on `/Users/my-user/sites/decocer-sitemap/vendor/spatie/laravel-sitemap/src/../resources/views/url.blade.php`:

[code]

I think that is trying to register the view url tag?

[2020-10-08 00:35] evaleries opened #315 "Increase timeout when using app:install"
## The Problem
While installing the add-on via `php <application name> app:install` I found an error that was caused by a default execution timeout (5 mins). It doesn't matter whether the process is almost complete or completely fail, anything that exceeded the maximum execution time it will throw an error.
This problem can be occurred by anyone who has a poor network connection. Because this look

[2020-10-08 07:07] owenvoke commented on #315
So currently this is hardcoded in the framework's Composer provider.
https://github.com/laravel-zero/framework/blob/master/src/Providers/Composer/Composer.php#L87

I guess it could be possible to allow configuring it via the constructor, and then it would be set in the service provider. With the configurable config value as `app.composer_timeout`. 🤷🏻 I'll have a look at a PR later today to see whe

[2020-10-11 17:25] patrickdaze commented on #310
Looking into this one…

[2020-10-12 06:27] spekulatius opened #316 "License file missing"

[2020-10-12 06:45] owenvoke commented on #316
The project is licensed as MIT. I assume this was excluded as this is a template repository, so people can choose the license they want. @nunomaduro, should a LICENSE be added, and we just add it to the `.gitattributes` so that it gets excluded from a `composer create-project`?

[2020-10-12 08:01] nhedger opened #317 "Commands from app/Commands not loaded within standalone application"
Hi there,

I'm currently playing with Laravel Zero and I think I may have stumbled upon an issue. It is my understanding that every command added to the `app/Commands` directory will be loaded and made available to the application unless specifically excluded. If that is not correct please let me know.

### The issue

When the application is packed as standalone, it seems not to be loading the com

[2020-10-12 08:16] owenvoke commented on #317
That definitely doesn't seem right. 🤔 I haven't experienced this before, but I can replicate the issue.

[2020-10-12 08:26] owenvoke commented on #317
Apologies, wasn't intending to close this with the commit. But updating to v8.9.1 of the Foundation should resolve this issue. 👍🏻 Let me know if you have any further problems.

[2020-10-12 08:28] nhedger commented on #317
Hi @owenvoke ! No harm done. Thanks for your quick reply. I will definitely check this ASAP. Have a nice day.

[2020-10-12 08:38] nhedger commented on #317
Everything works as expected @owenvoke . I've kicked you a few bucks on Github Sponsors as a thank you.

[2020-10-12 08:40] #317 closed

[2020-10-12 08:42] owenvoke commented on #317
Wow! Thank you. 🥳 Hope you have a great day. 👍🏻

[2020-10-12 09:50] nunomaduro commented on #316
It's good this way. Just like Laravel's template.

[2020-10-12 09:50] #316 closed

[2020-10-12 10:44] spekulatius commented on #316
Okay, cool. I noticed it originally because the readme link. I guess that can go then... People replace the readme anyways I assume...

[2020-10-15 12:11] owenvoke commented on #315
So after discussing with Nuno, he mentioned to just increase the timeout to 900 or something rather than having it customisable (like in https://github.com/laravel-zero/framework/pull/416). Would this be ok? 🤔

[2020-10-15 13:59] nunomaduro commented on #315
I think that would be ok @owenvoke.

[2020-10-15 13:59] #315 closed

[2020-10-15 20:36] evaleries commented on #315
Looks good to me, thanks for the work @owenvoke

[2020-10-16 07:18] JuanLeadSupply commented on #101
I used the following way of hiding the unwanted options in the Phar file.

I just add to the commands.remove configuration key:

[code]
`

[2020-10-16 07:22] juanparati commented on #216
I use the following commands.remove configuration in order to hide the unwanted commands in the phar files:

[code]

[2020-10-27 02:43] #238 closed

[2020-10-27 03:18] octoper commented on #248
@owenvoke is this resolved?

[2020-10-27 08:05] owenvoke commented on #248
Yes. :+1: A custom provider can now be created that implements this.

[2020-10-27 08:05] #248 closed

[2020-10-27 10:22] owenvoke commented on #238
I guess in a way, that's kind of what I intended [this blog post](https://voke.dev/blog/getting-started-with-laravel-zero/) to be. 👍🏻

[2020-10-27 15:05] octoper commented on #304
@loranger have you fixed that?

[2020-10-27 18:24] octoper commented on #203
@owenvoke is this issue resolved?

[2020-10-27 18:55] owenvoke commented on #203
I guess technically yes, with the component config stuff. However, it would probably still be nice to refactor to a Composer extra-based configuration.

[2020-10-27 19:55] #310 closed

[2020-10-27 22:30] octoper commented on #246
Hi @sarthaksavvy have you found a solution to this issue?

[2020-10-27 22:40] octoper commented on #303
Hi @yoramdelangen have you reproduced this issue?

[2020-10-28 04:21] sarthaksavvy commented on #246
no not yet

[2020-10-28 04:21] #246 closed

[2020-10-28 09:22] owenvoke commented on #310
This should now be resolved by updating Laravel Console Summary to v1.6.0, but let us know if you have any further issues. 👍🏻

[2020-10-28 11:34] owenvoke commented on #301
I'm going to close this as I think the issue should be opened on the Laravel framework. 🤔

Basically I think this just comes down to the differences between [`Application::call()`](https://github.com/laravel/framework/blob/8.x/src/Illuminate/Console/Application.php#L176) and [`CallsCommands::runCommand()`](https://github.com/laravel/framework/blob/8.x/src/Illuminate/Console/Concerns/CallsCommands.

[2020-10-28 11:34] #301 closed

[2020-10-28 12:14] owenvoke commented on #227
Hi @mtvbrianking, apologies that this has been sitting here so long. Did you manage to resolve the issue? I've had a look into this and can't find a direct replacement other than using `registerCommand()` (but that's on the Console Kernel), or `bind()` on the container which seems kind of awkward to do.

[2020-10-28 13:25] mtvbrianking commented on #227
@owenvoke then, I was new to TDD with Laravel but I settled with `registerCommand()`  too.

[2020-10-28 13:25] #227 closed

[2020-10-28 14:14] owenvoke commented on #197
I'm assuming the original issue with the logo not being found was due to the `resources` directory not being in the PHAR?

On Mac, the icons appear to work fine as long as you have [Terminal Notifier](https://github.com/julienXX/terminal-notifier) installed. I'll add a note to the docs to mention this. 👍🏻

I think the main issue here is on Windows, it appears that [Toaster no longer works](https:/

[2020-10-28 23:54] #212 closed

[2020-10-29 09:10] loranger commented on #304
Sorry…
Yes it was exactly what I was looking for, thanks @owenvoke !

[2020-10-29 09:10] #304 closed

[2020-10-29 09:48] owenvoke commented on #304
No need to apologise, glad you sorted it. 👍🏻

[2020-10-29 09:51] owenvoke commented on #281
I've just released v2.5.0 of the installer which resolves this issue. 👍🏻 Please note, going forward the Laravel Zero installer will be marked as deprecated (although it will continue to work).

It's now preferred to use the following:

[code]

And manually rename the project after with `php application app:rename [name]`.

[2020-10-29 09:51] owenvoke commented on #281
I've just released v2.5.0 of the installer which resolves this issue. 👍🏻 Please note, going forward the Laravel Zero installer will be marked as deprecated (although it will continue to work).

It's now preferred to use the following:

[code]

And manually rename the project after with `php application app:rename [name]`.

[2020-10-29 09:51] #281 closed

[2020-10-31 13:14] monkeymonk opened #319 "How to use Blade?"
Hello there,

I cannot find a way to use Blade inside of my laravel-zero command... at best I have a "ReflectionException  : Class view does not exist".

Any help?

Thank you.

[2020-11-01 14:41] owenvoke commented on #319
Laravel Zero isn't really designed to be used with Blade as it's a CLI framework.

I think you need to have `illuminate/view` installed, and then add the `Illuminate\View\ViewServiceProvider` to your list of providers. There are probably other services that are depended on as well though.

[2020-11-01 14:50] #319 closed

[2020-11-01 14:51] nunomaduro commented on #303
Close pending inactivity.

[2020-11-01 14:51] #303 closed

[2020-11-06 09:44] yoramdelangen commented on #303
No, I couldn't. Didn't encounter the issues again. One time happening I guess

[2020-11-07 12:01] mokchend opened #320 "Standalone - Runtime Error"
Hello,
After generating the stand alone file, when executing it have the following error:
Any idea on how to solve this ?
PS: By the way congrat for this remarquable tools for thoses who still like command line in 2020 :-)

Box Requirements Checker
========================

  WARNING: No configuration file (php.ini) used by PHP!

  ........EE.

 [ERROR] Your system is not ready to run the applicat

[2020-11-08 16:34] owenvoke commented on #320
As mentioned in the requirements, you'll need to enable the `fileinfo` extension. You can do this by adding `extension = fileinfo` to your `php.ini`. 👍🏻

[2020-11-10 11:29] mokchend commented on #320
Sorry I have missed this information. I will close this issue.
Congrats team for this apps !

[2020-11-10 11:29] #320 closed

[2020-11-10 11:34] mokchend opened #321 "Ability to add controller"
Hello,

This request sounds strange at a first glance, but I have a use case where I want to integrated Laravel Library (https://github.com/omniphx/forrest) which require Controller to work . For example in a situation where I need to interact with Oauth/OIDC Flow which require interaction with browser.
How should I handle this use case ?

[2020-11-10 12:25] owenvoke commented on #321
I don't really know if this is easily possible. Laravel Zero has most of the web components stripped out, so it would basically be putting all those back in to use a controller. 🤔 I mean, you can try installing that package and adding the service provider to your `config/app.php` which should throw errors about all the service providers/packages you'll need to add the functionality back in.

When

[2020-11-10 16:03] #321 closed

[2020-11-23 14:30] mx-jhinz opened #322 "BindingResolutionException when using Laravels' crypt functions"
When encrypting or decrypting some strings by using the Laravel facade `Crypt` from the `Illuminate\Support\Facades` package,  i receive a `Illuminate\Contracts\Container\BindingResolutionException`:

Steps to reproduce:
Execute the following code in a command:
[code]
Throws an exception with the following exception trace:
[code]

My current Laravel Zero version is `6.4.0`

How can fix this? Or ar

[2020-11-23 14:37] owenvoke commented on #322
Have you installed `illuminate/encryption`?

[2020-11-23 15:12] mx-jhinz commented on #322
Omg, yeah it was not installed. Installing the the package, adding the service provider and config entry solved the problem.
Thanks a lot.

Maybe you could extend the documentation about installing additional packages. That might be helpful.

[2020-11-23 15:12] #322 closed

[2020-11-30 09:26] hh7843175 opened #323 "problem in Autoloading of packages"
Hi there,

I've created a simple/sample package for testing , my packages is:

after installing through composer

 I have to add it manually in the `providers` section of `config/app.php`. I guess there is a problem in Autoloading/Autodiscovery process cause the package works properly in Laravel!

I have no idea what is happening there, thank you so much for any hint.

Alex.

[2020-11-30 09:30] owenvoke commented on #323
There is currently no autoloading of package service providers in Laravel Zero. We have thought about adding this though.

[2020-11-30 09:38] hh7843175 commented on #323
Thanks @owenvoke , Do you have this feature in your backlog ?

[2020-11-30 09:40] #323 closed

[2020-12-07 14:22] tomasnorre opened #324 "Question: PHP8 Support"
Hi.

I know you have a lot on your plate, but do you have any timeline for the PHP8 update?

If I can support you in any way, please let me know.

[2020-12-07 14:38] owenvoke commented on #324
We are just waiting on PHP 8 support in Box. Once that's released, we'll create a release that's compatible with PHP 8. 👍🏻

You can follow the progress of PHP 8 support in https://github.com/laravel-zero/framework/pull/421 as well. 🙂

[2020-12-07 14:40] tomasnorre commented on #324
Thanks, then no need to keep this open.

[2020-12-07 14:40] #324 closed

[2020-12-23 00:15] gpibarra opened #328 "Help Pest & Dusk"
I want to use LaravelZero & Pest & Dusk,
But I don't want to use Command mode [https://laravel-zero.com/docs/web-browser-automation](https://laravel-zero.com/docs/web-browser-automation). I try Command mode and work.

I try [https://pestphp.com/docs/guides/laravel#laravel-dusk](https://pestphp.com/docs/guides/laravel#laravel-dusk)

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

Ru

[2020-12-29 10:15] tomasnorre commented on #230
I had the some issue today, the problem for me was a missing php dependency, the `php-intl`
The command from @rdelafuente helped my figuring that out.

[code]

The `-v` on the build command would also have done the trick, but Roberto pointed me into the right direction.
Thanks.

[2020-12-29 12:43] abnerisrael commented on #230
Yes @tomasnorre  and @rdelafuente this worked for me too! thanks.

[2021-01-05 23:10] BestPluginsWordpress opened #329 "Calling info() outside of command"
Is it possible to call `info()` outside the command? Or do I have to pass the command's `$this` to the other class so I can call `info()` through it?

[2021-01-06 18:23] owenvoke commented on #329
I'm not entirely sure what you mean, do you mean in another class that is called by the command?

The `info()` method is provided by the underlying Laravel `Command` class.
https://github.com/illuminate/console/blob/master/Concerns/InteractsWithIO.php#L273-L283

[2021-01-11 23:16] gpibarra commented on #328
Alternative 3:
[code]
So, Add CustomDuskServiceProvider to file `config/app.php`
[code]
Note: namespace is `NunoMaduro\DuskForLaravelZero`,

Change `use NunoMaduro\DuskForLaravelZero\TestCase as BaseTestCase;` instread `use Laravel\Dusk\TestCase as BaseTestCase;` in `DuskTestCase.php`
<br><br>
This repository fix Router class not found and Model class not found.

My English is not good and I don't

[2021-01-14 18:20] EthraZa opened #330 "How to get output from Command call method?"
CommandA.php handle:
[code]
I've try a 3rd param to get the output and the Command::output method, but both does not exist in Laravel Zero.
I've try ob_start too, but it did't work as well.

So, if I call a Command from within another, how do I grab the output?

[2021-01-14 19:56] owenvoke commented on #330
I guess technically you could use the `runCommand()` method which is called by `$this->call()`.

The 3rd parameter for that is a `OutputInterface` instance, so you might be able to pass an instance of `BufferedOutput` or similar to get the contents. I'm not entirely sure, by default the method just returns an integer and passed `$this->output` to the command.

[2021-01-15 19:49] nroussis opened #331 "Extending migration command"
Hi,
Tying to extend the db migration command to accept --schema="test1" and --all:
followed https://hackernoon.com/extending-laravels-migration-command-to-add-new-options-90b5a0fc4ef4
after adding the service provider in config it seems that everything breaks down without displaying any error.. commands just dont run.
Any ideas?
Thanks

[2021-01-17 00:44] owenvoke commented on #331
I think where you have to overwrite the `command.migrate` value, you'd need to instead use:
[code]

However, I haven't tested this and I'll try and look into it later today. 👍🏻

[2021-01-19 00:48] CupOfTea696 commented on #330
Alternatively, you could temporarily override the output property.

[code]

[2021-01-19 01:03] CupOfTea696 commented on #177
I just changed the app's storage path in `bootstrap/app.php`

[code]

[2021-01-19 01:11] CupOfTea696 opened #332 "Build command hardcodes config/app.php values"
The build command hardcodes the computed values from `config/app.php` in Phar builds, which may interfere with app functionality.

Example `config/app.php`:
[code]

Would be `phar://…/builds/app/config/app.php`:
[code]

This could potentially be solved by using regex to replace or set the 'version' key in the config, instead of using `include` and `var_export`.

[2021-01-21 11:49] owenvoke commented on #332
Hmm. I've definitely tried to think of a good way to implent this before.

I've only used the `app.key` property once before in a Laravel Zero app (as it's only used when `illuminate/encryption` is used), and in that I don't compile to a Phar. For nearly all custom settings, I try to keep them in another configuration file to avoid this issue. `var_export()` is a pretty clean way of doing this, ho

[2021-01-21 12:54] CupOfTea696 commented on #332
@owenvoke Yeah, I've been looking into this and using an actual PHP parser would be a much safer option, but is obviously a lot more complex than `var_export()`.

[2021-01-21 14:46] ericlucit commented on #332
We get around this issue by calling `$mySecretSetting = env('MY_SETTING_NAME');` from outside of the config files directly in the code that requires it.  This prevents the settings from being built compiled into the app.

We can then store these variables in `.env` files located in the same directory as the phar archive

We also use a preflight check when the application launches to ensure that th

[2021-01-21 15:06] owenvoke commented on #332
Interesting. I think this only applies to `app.*` settings, however I do the same thing (except I just put them in another config file).

For example, with the [Oh Dear CLI](https://github.com/nunomaduro/ohdear-cli/blob/d2da299b0e511c9e0425f0d09037fa99f71edbb1/config/settings.php#L17) the custom configuration is in a `settings.*` file.

Then you can carry on using `config('settings.*')` wherever y

[2021-01-21 15:27] ericlucit commented on #332
Ok - This is good to know! - So, to confirm.  Creating a new config, e.g. `myapp.php` in the config folder, the builder will NOT compile these settings into the phar if they come from `env(...)`

[2021-01-21 15:43] owenvoke commented on #332
Yeah, it's only for the `config/app.php`

[2021-01-24 22:19] mortenbm commented on #187
troccoli's "fix" worked for me, I'm not happy with the solution, but nothing else has worked.

From troccoli commented on 17 Jan 2019

[2021-01-26 10:10] owenvoke commented on #187
@mortenbm, do you have the `newrelic` extension as well? 🤔 (Just for reference).

[2021-01-29 13:52] EthraZa commented on #87
Or the default app installation is missing cache.php file or the Docs are missing this example.
I'm searching this for hours already. I'm new to Laravel, Laravel Zero is been my entrypoint so I don't have where to look for a cache.php example within my own projects.

[2021-01-29 15:51] owenvoke commented on #87
@EthraZa, this currently isn't in the docs. But perhaps it'd be worth it being added. By default, as mentioned above, it uses the `array` driver (see [the `CacheServiceProvider`](https://github.com/laravel-zero/framework/blob/2c4988ef262101f29bff58936a67b95a738b50b9/src/Providers/Cache/CacheServiceProvider.php#L40)).

As the cache service provider is installed by default, we can probably just ment

[2021-01-29 16:14] EthraZa commented on #87
Yes, I copied it and it worked great.
The problem was the Google was not showing this to me, I had to came to GitHub and search for the issues with no filter to find it. It could be in the docs yes or, since the component is already installed, just add a cache.php file to explicit put the defaults, the same way the log component do, would be cool.

[2021-01-29 16:18] owenvoke commented on #87
Just about to add a docs entry.  I think we purposefully don't include the `cache.php` file to keep the config directory clean for most applications.

[2021-02-10 17:47] owenvoke opened #333 "Add support for parallel testing"
[Foundation v8.27.0](https://github.com/laravel-zero/foundation/compare/v8.23.1...v8.27.0) added support for parallel testing in the `test` command. However, this is currently broken as per the notes in https://github.com/laravel-zero/foundation/pull/52.

![Preview of console error](https://user-images.githubusercontent.com/1899334/106117977-819e2a80-614b-11eb-877d-8253975253c8.png)

The issue app

[2021-02-14 10:17] igorsgm commented on #177
I can confirm that what @CupOfTea696 works.
Just made something very similar inside `bootstrap/app.php` before the `return $app` and everything works fine, locally and with the built app.

[code]

[2021-02-19 14:34] juanparati opened #334 "Unable to build app when certain dependencies are installed"
I am running in very weird issue. It seems that when certain dependencies are installed the following error is raised:

[code]

Steps to reproduce:
1. `composer create-project --prefer-dist laravel-zero/laravel-zero movie-cli`
2. ` cd movie-cli`
3. `composer require google/cloud-bigquery`
4. `./application app:build`

In this case the application cannot be compiled when "google/cloud-bigquery" dep

[2021-02-19 14:37] juanparati commented on #334
It also fails when "NONE" is used as compressor.

[2021-02-19 14:48] owenvoke commented on #334
It looks like that's caused by a dependency of `google/cloud-core` called `rize/uri-template` ([`ParserTest#L111`](https://github.com/rize/UriTemplate/blob/master/test/Rize/Uri/Node/ParserTest.php#L111) and [`ParserTest#L122`](https://github.com/rize/UriTemplate/blob/master/test/Rize/Uri/Node/ParserTest.php#L122)).

The `@depends` tag is invalid in the test and this is getting parsed by the Box co

[2021-02-19 14:55] juanparati commented on #334
@owenvoke Yes I was researching about the issue I reach the same conclusion.

I deleted the files located at "rize/uri-template/tests" and and now it works as a temporal workaround.

I think that this issue is not easy to fix because laravel-zero depends on the Laravel filesystem libs that uses rize/uri-template.

[2021-02-22 13:08] owenvoke commented on #334
I don't think `rize/uri-template` is used by Laravel Zero by default. 🤔 But anyway, I've created two PRs on that package (https://github.com/rize/UriTemplate/pull/17 and https://github.com/rize/UriTemplate/pull/18) that combined should resolve this issue. 👍🏻

[2021-02-22 15:52] owenvoke commented on #334
@juanparati, could you try updating to `v0.3.3` of the `rize/uri-template` package? (A `composer update` should do this). 👍🏻 And then let me know if the build is working now.

[2021-02-25 13:57] zembrowski opened #335 "Class "Illuminate\Queue\Queue" not found"
After running `composer update` the `laravel-zero/foundation` dependency gets updated to 8.29.

Running `vendor/bin/pest` produces the following error:

This seems to be happening due to this commit https://github.com/laravel-zero/foundation/commit/44462ae66d34296cddb895e60418b2565b24b04e

How could I fix this error?

[2021-02-25 14:34] #335 closed

[2021-02-25 14:35] owenvoke commented on #335
Ah, I'll provide an update for this. 👍🏻 I forgot that the queue driver isn't included by default. 🤔

Could you try installing `v8.29.1` of the foundation? (Should work with a `composer update`)

[2021-02-26 10:24] owenvoke commented on #184
The rename script has been removed from Composer, and is now a manual process after installation (unless using the [Laravel Zero Installer](https://laravel-zero.com/docs/installation#via-the-laravel-zero-installer) at v2.5 or later).

I'm going to close this as I don't think it's relevant anymore. 👍🏻 Any further problems, feel free to open a new issue.

[2021-02-26 10:24] #184 closed

[2021-03-03 11:09] mathewp-maxamation opened #336 "mbstring not getting enabled in php-cli - unable to run Laravel Zero with mail functionality."
I added mail functionality to my Laravel Zero project and it works locally.

When trying to run on production I get the below error

[code]

I installed mbstring extention using:

```sudo apt install php7.3-mbstring```

It still didn't work. So I ran ```php --ini``` and found the loaded INI file

[code]

Then I edited /etc/php/7.3/cli/php.ini and uncommented ```extension=mbstring``` and tried agai

[2021-03-03 12:16] mathewp-maxamation commented on #336
My bad. I was working on two different servers. INstalled in one, tested in another.

[2021-03-03 12:16] #336 closed

[2021-03-03 12:47] owenvoke commented on #336
No worries @mathewp-maxamation, glad you resolved the issue. 👍🏻

[2021-03-09 10:13] acrossoffwest commented on #334
@juanparati do you have installed php extension intl? Try install it. It fixed my issue as well

[2021-03-17 11:23] nunomaduro opened #338 "Exiting the "app:build" command removes/clears the "box.json" file"
Just noticed that if we leave the command "app:build" with a control + C, that actually clears the "box.json" file.

[code]

[2021-03-17 11:34] owenvoke commented on #338
I thought this was solved by [this code](https://github.com/laravel-zero/framework/blob/7e92a2d11a7d4963753d806b2cef217544198b93/src/Commands/BuildCommand.php#L65) where it should catch the usage of `SIGINT` and call [the `clear()` method](https://github.com/laravel-zero/framework/blob/7e92a2d11a7d4963753d806b2cef217544198b93/src/Commands/BuildCommand.php#L178) which should restore the original Bo

[2021-03-26 12:26] owenvoke commented on #334
Closing as this should be resolved. Please let me know if not.

[2021-03-26 12:26] #334 closed

[2021-03-30 18:48] ivolvicente commented on #330
I got the same question this worker for me

`$this->call('CommandB', ['param' => 'some_param'], $this->output);`

[2021-04-24 19:01] Wulfheart commented on #204
Ok. But how did you do this?

[2021-04-27 05:43] srdante opened #339 "Path helpers not working"
Path helpers which seems to be included on the code do not work as expected.

## Base path:
[code]

Throws:
[code]

## Storage path:
[code]

Throws:
[code]

I´ve also testes ``app_path()``, ``config_path()`` and both don't work too.

[2021-04-27 07:26] srdante commented on #339
This only occurs when using tinkerwell.

[2021-04-27 07:26] #339 closed

[2021-04-27 07:57] srdante commented on #339
However, I checked that tinkerwell has a driver to detect laravel zero. However mine does not detect anything.

I reproduced the detection function of the driver inside the own Tinkerwell using:
[code]
and it's returning true, I don't know why the laravel zero tinkerwell driver is not being used/detected.

[2021-04-27 09:21] owenvoke commented on #339
@srdante, I'm not sure whether this is an issue with Laravel Zero, or even the driver. 🤔 Do you mind trying to copy [the `LaravelZeroTinkerwellDriver.php`](https://github.com/tinkerwellapp/drivers/blob/master/src/Drivers/LaravelZeroTinkerwellDriver.php) to a `.tinkerwell` directory in your project and then refreshing the directory?

I've tried that on my Tinkerwell and it works great, however the

[2021-04-27 19:31] srdante commented on #339
When copying the file to a .tinkerwell folder worked. But because this driver is in the official tinkerwell repository, wasn’t it supposed to be working automatically?

[2021-04-28 07:56] owenvoke commented on #339
Yes. We might need to ask the people at Beyond Code about this. 👍🏻

[2021-05-10 18:55] Bernardino18 opened #342 "Logging not working on channels daily and single"
I have followed the tutorial on: https://laravel-zero.com/docs/logging.
Created a file on app-name/storage/logs/laravel.log and has write permissions.
Called Log::emergency("testing log") and nothing worked.

Laravel Zero: v.8.7.0
illuminate/log: v8.40.0

---

Usage:

use Log;
Log::emergency("testing log");

----

config/logging.php

`<?php

use Monolog\Handler\NullHandler;
use Monolog\Handler\Str

[2021-05-14 13:08] yoramdelangen opened #343 "Migrations not working "Cannot declare class CreateMappingTable, because the name is already in use" after Laravel update"
Hi, this is just a heads up for when Laravel-zero will be updated to later version of Laravel Framework >= 8.38.0 or higher.

They introduced "Allow anonymous and class based migration coexisting" and they're using `realpath` to check if the filename is equally the class filename (not sure why though).

Currently it **breaks** Laravel-zero project(s) when updating, so fixed it for now to "downgrad

[2021-06-03 15:55] owenvoke commented on #230
@Broutard, I've just released v8.9.0 which should resolve the Box issue (updated to v3.13.0 of Box). 👍🏻

[2021-06-05 19:43] pcualmac opened #344 "Validetor"
Dear All,

I got many problem with use of Validator.

I have tried different way.

Can same one post an example Validator in a command?

OR

Can same one  let me now how importe the validator from "Laravel"

Please.

Thanks

@dbpolito, @vojtasvoboda , @Bogardo,

[2021-06-06 00:04] #344 closed

[2021-06-07 08:27] pcualmac commented on #344
to @nunomaduro

Thanks for replay but I still have the problem.
Can you help me? please

[2021-06-07 08:35] owenvoke commented on #344
Could you let us know what problems you are getting, any error messages or notices? A screenshot?

[2021-06-07 08:52] pcualmac commented on #344
[code]

[code]

It is same if I use the code inside to Comand.

I have tried
composer require illuminate/support illuminate/validation

[2021-06-07 11:26] pcualmac commented on #344
Can reopen this ticket

[2021-06-10 13:46] pcualmac commented on #344
Sorted

Thanks

[2021-06-11 10:42] owenvoke commented on #344
Apologies, I was away for a bit. Did you register the `Illuminate\Validation\ValidationServiceProvider` service provider in your `config/app.php`?

[2021-06-12 01:27] zeevx commented on #173
I am having this issue, please how can I solve it?

[2021-06-12 01:37] zeevx opened #345 "Posix extension issue on windows"
Please help me, how can i fix this?

[2021-06-12 20:51] owenvoke commented on #345
There shouldn't be an issue anymore as far as I know. I use Windows for a lot of my command line development for work using Laravel Zero, could you provide a screenshot of the error, and if possible specify the version of Laravel Zero you are using. Any reproducible repository would be helpful too. 👍🏻

[2021-06-14 03:09] zeevx commented on #345
Good day Owen, thanks for your response.

Here is the error I get on windows:
Problem 1 - php-school/cli-menu[4.0.0, ..., 4.1.0] require ext-posix * -> it is missing from your system. Install or enable PHP's posix extension.

My Composer.json:

"require": {
        "php": "^7.3|^8.0",
        "ext-json": "*",
        "guzzlehttp/guzzle": "^6.5.5",
        "laravel-zero/framework": "^8.9",

[2021-06-16 08:43] owenvoke commented on #345
Ah, unfortunately I don't think the Console component (which uses [`nunomaduro/laravel-console-menu`](https://github.com/nunomaduro/laravel-console-menu) / [`php-school/cli-menu`](https://github.com/php-school/cli-menu) under the hood) supports Windows.

[2021-06-23 18:45] ardzz opened #346 "Method performTask does not exist."
Method App\Commands\TopicsCommand::performTask does not exist.

Do laravel-zero support performTask like laravel 8?

source [https://laravel.com/docs/8.x/artisan#command-io](https://laravel.com/docs/8.x/artisan#command-io)

[2021-06-23 22:07] owenvoke commented on #346
I can see the reference to `performTask()` in the docs, however I can't find any reference in [the Console package](https://github.com/illuminate/console), on Symfony Console, or in the framework. Any ideas where this actually is? 🤔

[2021-06-24 00:39] #346 closed

[2021-06-24 11:10] mathewparet commented on #343
@yoramdelangen I changed `laravel/framework` entry in `composer.lock` to 8.37 but it still didn't help.

Either that's not the fix, or I am doing it wrong.

[2021-06-24 12:12] amadeann commented on #342
I had a similar (maybe the same) issue, and this was because I tried to make Sentry working with Laravel Zero. I think I followed this tutorial:

https://blog.dot.co.id/how-to-install-sentry-for-laravel-zero-f37a39db9460

which tells you in step 5 to add the following to `config/app.php`:

[code]

The issue with that is that if you manually register `\LaravelZero\Framework\Components\Log\Provider:

[2021-06-25 06:06] yoramdelangen commented on #343
You have to set it fixed in your composer.json file. Otherwise it will be discarded at composer update

[2021-06-25 06:46] mathewparet commented on #343
The composer.json doesn't have an entry for Laravel/framework

--
Best Regards, Mathew Paret

Sent using OnePlus

On Fri, 25 Jun 2021, 4:07 pm Yoram, ***@***.***> wrote:

[2021-06-26 08:02] yoramdelangen commented on #343
Just add it in, it will make it fixed

[2021-07-02 00:45] mathewparet commented on #343
You are talking about adding it to composer.json in my project's root folder, right? It didn't work for me.

[2021-07-05 22:58] tobytwigger commented on #343
@mathewparet I tried adding the following to `composer.json` under `require`, and it lets me work around this issue

[code]

[2021-07-05 23:05] tobytwigger commented on #343
@yoramdelangen Do you have ideas as to how to fix the issue in the framework? I'd be very happy to do it, just not sure of the right direction!

[2021-07-07 14:29] irineujunior commented on #344
Hi, maybe this can help.

[code]

On `config/app.php`
[code]

In our app
[code]

[2021-07-08 08:47] owenvoke commented on #345
I'm going to close this as it's not really a Laravel Zero issue. I may add a notice when installing that notes the "Menu Component" isn't compatible with Windows.

[2021-07-08 08:47] #345 closed

[2021-07-14 06:57] mathewparet commented on #343
This worked after I deleted the composer.lock file

[2021-07-14 07:05] mathewparet opened #347 "Unable to install S3 support in Laravel-Zero"
Unable to install S3 support in Laravel-Zero

[code]

I tried with ```--with-all-dependencies``` but still didn't work:

[code]

[2021-07-14 07:10] mathewparet commented on #329
Not sure whether this will help, but what I do is pass the instance of the command ($this) to the class I am invoking within the command.

[2021-07-14 07:29] owenvoke commented on #347
Looks like we'll need to add support for Flysystem 2.x, not sure why I hadn't done this already. 👍🏻

[2021-07-14 07:33] mathewparet commented on #347
Does it mean a change in Laravel Zero codebase? Or just a dependency adjustment that I can do in composer.json?

[2021-07-20 22:59] aknosis commented on #347
@mathewparet You will get multiple composer conflicts trying to implement Flysystem 2 with the underlying Laravel 8 base. (Source: tried doing the same in a Lumen app recently)

[2021-07-21 00:14] mathewparet commented on #347
ok, guess I'll wait for an update then.

On Wed, Jul 21, 2021 at 8:59 AM Paul Giberson ***@***.***>
wrote:

--
Best Regards,
Mathew Paret

🎄🌴 Please consider the environment before printing. Reducing font size by
1 will save an average of 18% on paper.🌴🎄

[2021-07-21 00:22] EthraZa commented on #347
I was about to try it in the coming weeks... felling sad now!
Gonna wait too, or just exec s5cmd.

[2021-07-24 20:22] mortenbm commented on #187
Yes. I have just installed the `newrelic` extension on a different server with a different instance of laravel-zero. The error send me straight back to this thread. It is definitely triggered by `newrelic`.

[2021-08-08 21:18] lzomedia commented on #201
3 hours spent on streeming how to build an mail bomber using laravel zero, :)
Laravel zero , it's like you can do that :)
Pls kill me now :))

[2021-08-10 09:18] DRN88 commented on #347
Same issue here. I'd like to use flysystem-ftp, but that requires v2.0 flysystem.

[2021-08-11 13:56] owenvoke commented on #347
@DRN88, you can use FTP in v1 as well, either directly through Laravel or using the [Flysystem FTP adapter](https://flysystem.thephpleague.com/v1/docs/adapter/ftp).

When Laravel 9 releases (January 2022), we will also create a new 9.x release of Laravel Zero. 👍🏻 This will then support Flysystem 2.x, apologies for any inconvenience.

[2021-08-11 19:06] DRN88 commented on #347
@owenvoke Oh thanks! No clue, why I couldn't find v1 by myself, hehe. Thanks again!

[2021-08-15 17:22] unknownbreakdown opened #348 "Unable to have available the migration, factory, and seeder commands on PHAR builds."
I've followed the documentation's "Note on PHAR builds" instructions of adding the "database" entry to the box.json "directories" section, however the database commands aren't available when executing the PHAR build file.

I don't know if there's something else that must have done.

[2021-08-30 07:47] abkrim commented on #94
On [Laravel-Zero Docs](https://laravel-zero.com/docs/logging) indicates to use `Use Log;`
This doesn't seem to work, and instead if it works `use Illuminate \ Support \ Facades \ Log;`

Is it for something in particular or would it be worth editing the coumentation?

[2021-08-31 08:02] owenvoke commented on #94
@abkrim, I think this is because the docs assume you've set up the facade alias. I've updated this now, however if you were to add the alias to your `config/app.php`, then the singular `Log` class would work. 👍🏻

[2021-09-04 22:28] bryangruneberg commented on #187
Can confirm this as the same issue when New Relic is enabled on the amazee.io hosting platform.

For now I created a new application class that extends the usual Application class and adds the boot() method that  troccoli  figured out (https://github.com/Workshop-Orange/wobot/blob/33ac8d54ee3c3919dded1f37b37dbf2e1b026a18/app/Application.php). I then altered the bootstrap.php file to use the new cl

[2021-09-06 09:41] necrogami opened #349 "ascii logo instead of figlet"
So I am working on an internal project and we have an ascii logo.

I looked into the logo module you have and I don't see an easy way of overloading my logo into the help menu instead of the figlet.

Is there a good way about doing this or can this be made an easy option?

[2021-09-15 03:38] alexc-wormhole opened #350 "app:build (standalone) : No such file or directory when moving/renaming generated phar"
I have a Zero app dockerised and invoke it normally like this:

[code]

Composer

[code]

box,json

[code]

Output:

[code]

[2021-09-15 07:00] owenvoke commented on #350
Please could you try running in verbose mode with `my-cli app:build -v`?

That should dump the output of the Box release and show up any underlying issues. 👍🏻

[2021-09-15 07:23] alexc-wormhole commented on #350
Sure - thanks for the quick response.

[code]

[2021-09-15 07:28] alexc-wormhole commented on #350
Ahaa! Adding the `php-ctype` extension on Alpine seems to have fixed it! Thanks again.

[2021-09-15 07:28] #350 closed

[2021-09-15 07:43] alexc-wormhole commented on #350
For anyone curious, here's the Dockerfile. PECL Mosquitto extension isn't up to v8 yet so it has to stay at 7.4.

Build command:

[code]

Which runs this:

[code]

Check it's built OK:

[code]

Then to run:

[code]

[2021-09-15 07:58] owenvoke commented on #350
Glad you managed to get it sorted. 👍🏻

[2021-09-21 09:47] kzvonov commented on #333
@owenvoke Hello 👋
Do you want `--parallel` flag working?
If the issue is still here, I think I can try to take this one.

[2021-09-21 09:48] owenvoke commented on #333
@kzvonov, if you're able to work on this, that would be brilliant! Sorry I haven't really had time recently to work on Laravel Zero much unfortunately.

[2021-09-21 10:00] kzvonov commented on #333
@owenvoke yep, I will try to get into this today's evening or tomorrow.

Thanks for the trust)

[2021-09-21 10:02] owenvoke commented on #333
Any issues, feel free to ping me in a comment. 👍🏻

[2021-09-22 11:53] kzvonov commented on #333
@owenvoke Hello!
I've updated compose.json, and then `--parallel` works for me https://github.com/Zvonov-Devs/laravel-zero/commit/19c4e604d47a45adf6b83240790ebcb02c01fae3

But as I understand the issue in `laravel-zero/foundation` with version `8.27.0`. Am I right that I need to change my `composer.lock` file and then try with an older foundation? if the answer is **yes** then it's also working
![

[2021-09-22 13:16] owenvoke commented on #333
Hmm, that's weird... perhaps it's an issue on my local setup. 🤔 It seems to be working fine for me now too! That's great. 😬 I have no idea what the issue was then... And I guess this can be closed, thank you for testing!

[2021-09-22 13:16] #333 closed

[2021-09-22 17:44] kzvonov commented on #333
@owenvoke no problem) But can you give me another issue to work on?

[2021-09-23 06:53] owenvoke commented on #333
@kzvonov, I think the main things are just:
- Making sure Laravel Zero supports PHP 8.1, which I'm currently looking into
- Going through any of the old issues in the issues tab and working through them

Personally this was the main issue I wanted to try and fix.
https://github.com/laravel-zero/laravel-zero/issues/343

[2021-09-24 21:39] #286 closed

[2021-09-27 11:44] deleugpn commented on #146
Not sure how to use this? Is it an add-on? Is there an installation for it?

[2021-09-27 12:30] deleugpn commented on #146
Looks like running `php artisan app:install queue` will bring most of the things. It doesn't work with Redis, though, so you need to manually `composer require illuminate/redis` and then register the RedisServiceProvider

[2021-10-07 17:03] yamenarahman opened #353 "Commands auto complete"
Any idea how to support auto complete in the commands?

[2021-10-07 17:09] #353 closed

[2021-10-20 06:53] neatstudio opened #355 "schedule doesn't run"
Hi , I built the single app and uploaded to my server , and add a command to crontab " * * * * * /root/xxx/xxx schedule:run" , but it cannot run.

so I looked the log,it shows:`[2021-10-20T14:50:01+08:00] Running scheduled command: '/usr/local/php/bin/php' 'xxx' xxx:xxx > '/dev/null' 2>&1`

The app's path doesnt equal to phar file running path.
how can i fix it ?

[2021-10-20 06:57] neatstudio commented on #342
it's my config :

[code]
change storage_path('logs/laravel.log') to $logPath

[2021-11-02 04:10] nickpoulos opened #357 "Testing Cache Facade"
Not sure if this is a PEST or Laravel Zero issue, or just me...prob the latter.

But I am trying to test a class that has another class as a dependency, and this dependency uses the Cache Facade.

In regular Laravel/PHPUnit, I am able to use the `Cache::shouldReceive()` and other helper methods to mock facades.

When trying this in my current Laravel Zero/Pest project, I am getting:

[code]

My te

[2021-11-03 19:46] phuclh commented on #257
@owenvoke @Gummibeer I already revert the box.json content but still facing this issue, do you know how to fix it, thank you.

[2021-11-09 21:14] bnomei opened #359 "Website is down"
https://laravel-zero.com/

[2021-11-09 23:10] nunomaduro commented on #359
We are working on it.

[2021-11-09 23:10] #359 closed

[2021-11-09 23:10] owenvoke commented on #359
This is a known issue, Nuno is working on it. 👍🏻

[2021-11-10 12:42] JuhaniGeniem opened #360 "laravel-zero.com is inaccessible"
The website is nowhere to be found.

[2021-11-10 12:44] owenvoke commented on #360
Please look over at #359 👍🏻 It's known by Nuno and is being resolved.

[2021-11-12 07:14] wpoortman commented on #359
Any updates on this matter?

[2021-11-12 07:29] wpoortman commented on #360
The issue is already closed but the website is still down.

[2021-11-12 10:31] owenvoke commented on #359
@wpoortman, I've just asked Nuno for an update.

[2021-11-12 12:49] nunomaduro commented on #359
We are working on it. I din't get an response from the domain provider yet.

[2021-11-14 12:08] owenvoke commented on #360
Looks like it's now [back up again](https://laravel-zero.com), so closing this issue. Thanks. 👍🏻

[2021-11-14 12:08] #360 closed

[2021-11-24 14:51] VladReshet opened #361 "Add Optinable Visual Interface (via VladReshet/ArtisanUi package)"
Hi!

I want to propose you to add this package https://github.com/VladReshet/ArtisanUI to your project, to have it "out of the box". I have just tested it - it already works on Laravel Zero without any changes, it's necessary just to install it and register command (Laravel does it by itself).

![Image](https://habrastorage.org/webt/gx/ea/g5/gxeag570yxla64pqaqnst9lilp8.jpeg)

I can create pull req

[2021-11-26 18:19] Erwyn opened #362 "Empty box.json, any way to generate it ?"
Hi there,

for whatever reason my `box.json` file is empty. Is there a way to generate/regenerate it ?

Thanks in advance,

[2021-11-26 18:21] nunomaduro commented on #362
You don't use git?

[2021-11-26 18:21] #362 closed

[2021-11-26 18:23] Erwyn commented on #362
Okay, so what you are saying is that there is no way to generate it again.

Thanks

[2021-11-26 23:25] owenvoke commented on #362
You could copy the latest version from:
https://github.com/laravel-zero/laravel-zero/blob/master/box.json

[2021-11-29 23:55] BonnieSoftware opened #363 "Where can I find a list of what has been customised in the Laravel code?"
Where can I find a list of what has been customised in the Laravel code? I am curious to know how this diverges from Laravel so that I can manage any breaking changes.

[2021-12-01 15:22] owenvoke commented on #361
I'm not sure that this should be provided out of the box, I'd be happy with this as [a new component](https://github.com/laravel-zero/framework/tree/master/src/Components). But @nunomaduro, what are your thoughts?

[2021-12-01 15:24] owenvoke commented on #363
In terms of the foundation, you can compare [`laravel/foundation`](https://github.com/laravel/framework/tree/8.x/src/Illuminate/Foundation) with [`laravel-zero/foundation`](https://github.com/laravel-zero/foundation/tree/main/src/Illuminate/Foundation) which isn't to different. The [actual framework](https://github.com/laravel-zero/framework) is pretty different, so not sure how easy it would be t

[2021-12-01 16:26] BonnieSoftware commented on #363
Hi Owen, it is foundation that I'm referring to, doing a diff on the code gives me quite a few changes but not why they were made,  I appreciate too that I can look through the commits, but it is quite a lot of effort so I was hoping there might exist a concise list of breaking changes, same as what you would generally find in release notes. Happy to review the diff and see if I can make head to t

[2021-12-01 16:31] owenvoke commented on #363
I haven't published v8.74.0 of the foundation yet, so that might be why there are quite a few differences. I think any notable changes are listed in the README:
https://github.com/laravel-zero/foundation#notes

[2021-12-03 14:55] likeadeckofcards opened #365 "Providing no value when asking a question hangs up pest/phpunit"
While trying to write tests around running a command that prompts for input which has a defaulted value, if I run the following commands pest/phpunit fails to process and does not give any output with regards to any tests that were ran.

[code]

I was able to locate the issue in the Laravel Framework repo but I am not sure if submitting a pull request to the main Laravel Framework is the right app

[2021-12-03 15:06] owenvoke commented on #365
Does this work when using `null` instead of `''`? 🤔

[2021-12-03 15:36] goodevilgenius opened #366 "make:command --test throws error"
Options listed for `make:command` include `--pest` and `--test` to create correspond Pest or PHPUnit tests for the new command.

When doing `make:command --test Name` or `make:command --pest Name`, the command is still created, but an error is shown that says:

[code]

This happens on a new installation with the current version (8.8) with nothing additional added.

[2021-12-03 21:20] likeadeckofcards commented on #365
@owenvoke using null instead of `''` results in an exception being thrown.

[2021-12-06 07:20] loranger opened #367 "Cannot build since PHP 8.1"
Hello, I've got a simple app I cannot build anymore since homebrew upgraded PHP to latest 8.1 version.

It seems it's a box issue, but I really don't know what I can do in order to fix it

[code]

<details>
<summary><code>composer.json</code></summary>

[code]
</details>

<details>
<summary><code>box.json</code></summary>

[code]
</details>

<details>
<summary><code>./nas app:build -v</code></summ

[2021-12-06 11:11] owenvoke commented on #367
Yep, this is a known issue. We can't do anything until Box supports PHP 8.1 (https://github.com/box-project/box/issues/562). I think the required changes are already present in the `master` branch, but no tag is ready as work is required for [PHP-Scoper](https://github.com/humbug/php-scoper/issues/530).

I personally don't have enough experience with the code for Box or PHP-Scoper, so I have been

[2021-12-08 06:28] bilogic commented on #177
Referring to this https://laravel-zero.com/docs/filesystem#production

Is there a way to reference the name of the app as the storage folder? I'm hardcoding atm.
This will allow multiple CLI to co-exists in 1 folder without stepping on each other.

[2021-12-10 02:02] rognales opened #371 "How to show logo on every command?"
Hi there.

I've installed the logo add-on. The main ````php my-app```` command did show beautiful app.name in ASCII.
Now, how to i extend this to all my commands?

````php my-app mycommand```` will have ASCII logo as header.

[2021-12-10 06:54] owenvoke commented on #371
You should be able to just run the following before each command in the `handle()` method. You could add this as a base class if you wanted to.
[code]

This should work because the `Logo` component sets the applications name to a rendered Figlet string of the app name.

[2021-12-10 13:00] rognales commented on #371
````$this->getName()```` only returns the command name

[2021-12-10 16:58] owenvoke commented on #371
Hmm, the `Logo` component should have set it to the logo.

[2021-12-15 08:55] roy-bongers opened #374 "Call to undefined method Psr\Log\NullLogger::channel()"
I hope this is the right place since the issue is in the `laravel-zero/foundation` package.

With recent changes in the `Illuminate\Foundation\Bootstrap\HandleExceptions` class there will always be a NullLogger instance created (`handleDeprecation` method). The `with()` will always receive an object and will never fail. The NullLogger instance doesn't have a channel() method which causes the error

[2021-12-21 02:09] sixlive commented on #349
Hey!

You can set it in the `AppServiceProvider::register` method.

[code]

<img width="502" alt="image" src="https://user-images.githubusercontent.com/5108034/146858857-00703a18-76d5-490f-bac5-11d1ccf6a38b.png">

[2021-12-21 02:15] sixlive commented on #371
So you can output it in the `handle()` method but you have to reference the name off of the application.

[code]

[2021-12-21 10:15] owenvoke commented on #371
Thanks @sixlive, that's what I was thinking of, forgot it was on `getApplication()->getName()` rather than `->getName()` 👍🏻

[2021-12-21 10:24] owenvoke commented on #349
Apologies, somehow I missted this notification @necrogami. Alternatively, you can change the font by updating your `logo.font` configuration string. For example:
[code]

There are a bunch of available fonts [in this repository](https://github.com/xero/figlet-fonts) which should all work with Figlet, and I'm happy to assist if they need tweaks to work. 👍🏻

[2021-12-21 12:25] rognales commented on #371
That did the trick! Thx @sixlive & @owenvoke.

[2021-12-21 12:25] #371 closed

[2021-12-22 13:00] lintaba opened #377 "laravel valet not compatible (symfony/var-dumper 5.1/6.0)"
not compatible on global level with laravel valet, due to version mismatch. Is there any special reason to keep `symfony` dependencies on `^5.1`?

[2021-12-22 15:09] owenvoke commented on #377
Yes, this would be changed as part of the release of LZ9.

[2022-01-03 20:23] Shelob9 commented on #230
I ran into this issue with laravel-zero/framework, version "v8.9.1", PHP 8.0 in Debian (running in Windows 10.)

I ran the command again with ---vvv, which showed a permissions issue. I ran `chmod 755 vendor/laravel-zero/framework/bin/box`  as @eppak suggested here: https://github.com/laravel-zero/laravel-zero/issues/230#issuecomment-502701572

After doing that, I was able to make a build.

[2022-01-03 22:33] chrisfromredfin commented on #187
When calling Laravel-Zero apps from CLI, newrelic has a facility for disabling it. I've had success by issuing:
`php -d newrelic.enabled=no <my_app>`

[2022-01-21 11:38] rtuin commented on #374
@nunomaduro @owenvoke what do you think of the suggested solution?

[2022-01-26 14:55] owenvoke commented on #374
@roy-bongers / @rtuin, can you confirm where you receive this issue? 🤔 I've tried triggering a deprecation warning and it appears to work fine with the latest version of `laravel-zero/foundation`. If this is an error, it should probably be addressed in `laravel/framework` (where `laravel-zero/foundation` is pulled from). 👍🏻

[2022-01-27 12:10] roy-bongers commented on #374
I've updated all composer packages and the issues is resolved indeed. Thanks!

[2022-01-27 12:10] #374 closed

[2022-02-07 17:17] defunctl commented on #367
Box should be supporting [PHP 8.1](https://github.com/box-project/box/releases/tag/3.15.0) now, can we get the box binary updated, please?

[2022-02-07 17:21] owenvoke commented on #367
It has been updated for the Laravel Zero 9.x release, @nunomaduro, do you want me to also update the `8.x` branch to use Box 3.15? 👍🏻

[2022-02-07 17:31] defunctl commented on #367
That would be amazing @owenvoke if you don't mind!

[2022-02-07 17:44] philipnewcomer commented on #367
If it's not too difficult, I would also appreciate having PHP 8.1 support in the 8.x branch, unless the 9.x branch is currently stable enough for production use, or will be released soon.

[2022-02-07 17:47] defunctl commented on #367
It does look like box version 3.15.0 [removed PHP 7.3 support](https://github.com/box-project/box/pull/595), which the 8.0 branch still supports...hrmm.

[2022-02-07 22:22] defunctl commented on #367
Totally understandable! Thanks for all of your hard work on this excellent project.

@owenvoke Is anything specific done to the `box` phar/binary that's added to the framework, or just bringing in the raw phar from the [box releases](https://github.com/box-project/box/releases) page?

I might just bring in an updated binary for now and make CLI tool's minimum PHP version 7.4 for a bit.

[2022-02-08 07:18] nunomaduro commented on #367
@owenvoke You can put both binaries, and use the legacy one if the user is using PHP 7.3.

[2022-02-08 09:01] owenvoke commented on #367
@defunctl, yes. It's basically just adding the raw Box Phar binary into `vendor/laravel-zero/framework/bin/box` 👍🏻

@nunomaduro, ok. I think the downside is that the binary gets included in built releases as it's part of the LZ framework afaik. Then it'd end up with 2 binaries which would make the resulting Phar pretty massive. Wonder if we can exclude that directory from the Box output.

[2022-02-08 09:03] nunomaduro commented on #367
You can exclude both from the build, updating the box.json on the "build" command.

[2022-02-09 11:53] owenvoke commented on #377
Closing as LZ9 supports Symfony 6 👍🏻

[2022-02-09 11:53] #377 closed

[2022-02-13 05:25] bilogic opened #383 "`config('app.version')` is always `unreleased`"
I tagged my project as `1.0.0` in git, however when running it with `--version`, the version is `unreleased`.

If I do a `dd(config('app.version'))` in my code, it also shows as unreleased even though my `config/app.php` is as follows

[code]

[2022-02-13 07:33] kaga-rin opened #384 "logo not support php 8.1.2"
php application app:install logo      ✔  7160  03:20:26
Installing logo component...
Require package via composer: loading...
./composer.json has been updated
Running composer update laminas/laminas-text
Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - laminas/laminas-servic

[2022-02-13 08:23] owenvoke commented on #384
It should work fine, however it looks like a package in your application has updated to `psr/container:^2.0`

Could you try removing your `composer.lock` and running the install command again? Or, alternatively, run the command manually with the `-W` flag which should hopefully downgrade `psr/container` back to version 1.x

You can see which package is stopping the install with `composer why-not p

[2022-02-13 08:59] kaga-rin commented on #384
php application app:install logo      ✔  7180  15:58:02
Installing logo component...
Require package via composer: loading...
./composer.json has been updated
Running composer update laminas/laminas-text
Loading composer repositories with package information
Updating dependencies
Lock file operations: 97 installs, 0 updates, 0 removals
  - Locking brick/math (0.9.3)
  - Locking container-intero

[2022-02-13 09:01] kaga-rin commented on #384
its work thx

[2022-02-13 09:01] #384 closed

[2022-02-14 11:56] owenvoke commented on #383
Just to confirm, is this running `<your-app> --version` in your current Git repository, or after installing via Composer? 🤔 If it's in your Git repo, can you try running `git describe --tags --abbrev=0`. Which is what the [`GitVersionServiceProvider`](https://github.com/laravel-zero/framework/blob/master/src/Providers/GitVersion/GitVersionServiceProvider.php#L36) uses behind the scenes.

If it's f

[2022-02-14 12:33] bilogic commented on #383
Hi,

1. I created a project from the instructions into a `example/` folder
1. This ends up with the laravel-zero app named `example/example` and the `example/example/app/` folder where all my code lives
1. The config file shared above sits at `example/config/app.php`
1. Next, I ran `git init` in my `example/` folder and that's my git repository, make sense?
1. Running `git describe --tags --abbrev

[2022-02-14 12:58] bilogic commented on #383
@owenvoke I think it might have been a bug from an earlier version of Laravel zero.

I ran the above again, and this time, `example --version` is showing the tag version for `"laravel-zero/framework": "^8.8"`.

The earlier one that wasn't working was `"laravel-zero\/framework": "^7.0"`.

Thank you.

[2022-02-14 12:58] #383 closed

[2022-02-15 08:01] bilogic opened #385 "VirtualBox filesystem bug causing exceptions"
Hi,

I believe I'm running into this issue again (https://github.com/composer/composer/issues/9627), this time with laravel-zero. Basically, there seems to be a race condition in the VirtualBox file system.

To be clear, this is not a bug with `Laravel-zero`, however, adding the code to handle this issue will be greatly appreciated. Hope a PR for this will be accepted.

Below is the output I'm get

[2022-02-15 08:48] bilogic commented on #385
After some debugger, I don't think this is related to the filesystem issue.

I did a `example build -v` and got the following output... Any idea why?

[code]

[2022-02-15 09:09] bilogic opened #386 "Class from required packages not found in compiled phar"
Hi,

1. I use `composer require owner/package` to add a package into my project
2. It runs well on the CLI
3. However, the built phar file throws an exception `Class 'Owner\Package\<class>' does not exist`

How can I get access to the class?
I can't find any extra builds steps for such a scenario, any idea?

Thank you.

[2022-02-15 18:26] opicodes opened #387 "Is Mockery actually working?"
I have a series of questions with some pretty standard code I usually test on a standard laravel installation with phpunit and mockery.

the code snippet:
[code]

I define a mock for the $client like so:
[code]

now, in **phpunit**, _if I wouldn't code the expectation for the `send` method on the client instance_ I'd receive an error (method send invoked but no expectation), this doesn't happen wi

[2022-02-16 09:01] opicodes commented on #387
Sorry for polluting your issues... I guess I'm just doing something wrong... I'll close this. Thanks

[2022-02-16 09:01] #387 closed

[2022-02-16 10:10] crispy-computing-machine opened #388 "Trait 'Illuminate\Console\Concerns\CreatesMatchingTest' not found"
Symfony\Component\ErrorHandler\Error\FatalError

  Trait 'Illuminate\Console\Concerns\CreatesMatchingTest' not found

  at \vendor\laravel-zero\foundation\src\Illuminate\Foundation\Console\JobMakeCommand.php:9
      5▕ use Illuminate\Console\Concerns\CreatesMatchingTest;
      6▕ use Illuminate\Console\GeneratorCommand;
      7▕ use Symfony\Component\Console\Input\InputOption;
      8▕
  ➜   9▕ cl

[2022-02-16 10:22] owenvoke commented on #388
Can you try running a `composer show illuminate/console --locked` and post the output? 🤔 This trait has been in `illuminate/console` since [v8.65.0](https://github.com/illuminate/console/releases/tag/v8.65.0) so not sure why you'd be getting issues unless you're locked to an older version of that package.

[2022-02-16 10:27] crispy-computing-machine commented on #388
PS > composer show illuminate/console --locked
name     : illuminate/console
descrip. : The Illuminate Console package.
keywords :
versions : * v8.18.1
type     : library
license  : MIT License (MIT) (OSI approved) https://spdx.org/licenses/MIT.html#licenseText
homepage : https://laravel.com
source   : [git] https://github.com/illuminate/console.git a29bc65178ac6603e6e9d2eaf866b4fec9812614
dist

[2022-02-16 10:35] owenvoke commented on #388
Ah, it looks like you're currently on `v8.18.1` of `illuminate/console` so this trait won't exist. 👍🏻 You can try running a `composer update` (to update all packages to their latest versions), or run a `composer update illuminate/console` to update just the Console package.

[2022-02-16 10:39] crispy-computing-machine commented on #388
PS > composer update illuminate/console
Loading composer repositories with package information
Updating dependencies
Nothing to modify in lock file
Installing dependencies from lock file (including require-dev)
Nothing to install, update or remove
Generating optimized autoload files
46 packages you are using are looking for funding.
Use the `composer fund` command to find out more!

[2022-02-16 10:46] owenvoke commented on #388
Can you try running a `composer why-not illuminate/console 8.83.1`? That seems weird that it wouldn't be updating, unless another package is stopping it.

[2022-02-16 10:47] crispy-computing-machine commented on #388
hmazter/laravel-schedule-list  v2.3.0  conflicts  illuminate/console (^8.19)

Thanks for you help!!! 👍👍

[2022-02-16 10:48] #388 closed

[2022-02-16 10:52] owenvoke commented on #388
Glad you sorted it 👍🏻

[2022-02-16 10:55] owenvoke commented on #367
If anyone wants to test out the PR that's open for this, feel free to test and add any feedback. 👍🏻
https://github.com/laravel-zero/framework/pull/459

I've stopped using Laravel Zero 8 as all my projects were updatable, so won't really be able to support LZ8 going forward.

[2022-02-16 15:50] defunctl commented on #367
Thanks Owen, I'll give it a test today

[2022-02-19 00:14] owenvoke commented on #367
This has been merged and tagged as a new Laravel Zero 8 release, please open a new issue if anyone has any issues with building on PHP 8.1 👍🏻 Please also try running with `-vvv` if you do experience issues to make sure that it's not a local issue (e.g. missing extensions).

[2022-02-19 00:14] #367 closed

[2022-02-19 05:06] defunctl commented on #367
Build and usage working great here.

[2022-02-23 23:35] mallardduck opened #389 "New bug in foundation repo"
The laravel-zero/foundation repo seems to be in mixed state. It has part of the changes for a commit, but is missing parts which cause errors. The error is as follows:

[code]

While it seems to imply my tests are what went wrong, I traced it back to this PR: https://github.com/laravel/framework/commit/35d9f9a27513401a258547c4ad9a98b376c2df0b

Specifically it seems to be mssing changes to: [src/Il

[2022-02-23 23:40] mallardduck commented on #389
I think this PR should fix this issue: https://github.com/laravel-zero/foundation/pull/76

Unsure if there was an automatic sync that failed to catch this though.

[2022-02-24 00:07] trondhuso opened #390 "Logging - single not logging"
Logging channel single does not log to file. I believe the reason is because Laravel has the structure storage/logs which is not present in Zero

I could be wrong.

[2022-02-24 09:57] #389 closed

[2022-02-24 11:18] opicodes opened #393 "Scheduled tasks: Am I doing it wrong?"
### Discussed in https://github.com/laravel-zero/laravel-zero/discussions/392

<div type='discussions-op-text'>

<sup>Originally posted by **opicodes** February 24, 2022</sup>
Hi,
I created a command and want to schedule it. I added the required method

[code]

to the command itself.

I then installed the schedule-list component, but running the `schedule:list` command always returns `No tasks sch

[2022-02-24 14:09] owenvoke commented on #393
Closing as resolved in https://github.com/laravel-zero/laravel-zero/discussions/392 👍🏻

[2022-02-24 14:09] #393 closed

[2022-02-24 14:10] opicodes commented on #393
Solved!

It was my fault as I was extending `Illuminate\Console\Command` rather than the`LaravelZero\Framework\Commands\Command`.

[2022-02-25 19:00] markbiek commented on #390
I've having this exact issue. I followed the directions in [Logging](https://laravel-zero.com/docs/logging).

I set `logging.php` to use `single` by default
[code]

and the `single` channel is unchanged
[code]

I also manually created the `storage/logs/laravel.log` file and set it world-writable. I also verified that `storage_path()` is returning the correct path.
![image](https://user-images.gith

[2022-02-28 09:37] owenvoke commented on #390
I'm not able to replicate this issue 🤔 I've tried on both Windows and macOS by just running `php <app> app:install log` and then updating the `logging.default` config to `single` as mentioned.

[2022-03-01 02:41] goodevilgenius commented on #366
Bug is still present in 9.0.

I found a workaround by adding `Illuminate\Foundation\Console\TestMakeCommand::class,` to `config/commands.php` under `add`.

Seems like this command should already be included.

[2022-03-01 08:18] owenvoke commented on #366
It should probably be added to this array. 👍🏻 (Apologies for the delayed reply)
https://github.com/laravel-zero/framework/blob/master/src/Kernel.php#L36

[2022-03-01 14:59] #366 closed

[2022-03-03 13:21] markbiek commented on #390
I figured out the issue on my end. I have both PHP 8.0 and PHP 7.4 installed with aliases setup for `php8.0` and `composer8.0` when I'm running PHP 8.0 things.

My laravel-zero app is setup using PHP 8.0 but, when I run `php8.0 application app:install log`, it uses the default `composer` binary (which is tied to PHP 7.4) and fails on the composer dependencies installing the log stuff.

The issue i

[2022-03-04 10:58] vanaf1979 opened #398 "Logo addon wont install under php 8.0.12"
I tried to add the logo addon using the command: php appname app:install logo

But all i get is the following composser error:

----------------
- laminas/laminas-text[2.9.0, ..., 2.10.x-dev] require laminas/laminas-servicemanager ^3.4 -> satisfiable by laminas/laminas-servicemanager[3.4.0, ..., 3.11.x-dev].
    - laminas/laminas-servicemanager[3.4.0, ..., 3.5.2] require php ^5.6 || ^7.0 -> your p

[2022-03-04 11:06] owenvoke commented on #398
I think this is similar to https://github.com/laravel-zero/laravel-zero/issues/384#issuecomment-1037919706

[2022-03-04 11:26] vanaf1979 commented on #398
Thank you but unfortunately no luck.

I removed the vendor dir and the composer.lock file and ran a fresh composer install, but that didn't help.
(I have no additional packages installed.)

I also tried to install laminas/laminas-text manually using: composer require laminas/laminas-text -W
But that didn't work either

--------------------
  Problem 1
    - Conclusion: don't install laminas/lamina

[2022-03-04 11:56] owenvoke commented on #398
I don't think this is an issue with Laravel Zero (I've just run the following and it works fine):

[code]

Could you try running `composer why-not container-interop/container-interop 1.2` to see why it won't install, or do you happen to have a public repository so that I could test? 🤔

[2022-03-04 12:18] vanaf1979 commented on #398
- Could you try running composer why-not container-interop/container-interop 1.2 to see why it won't install!?

Sure1
----------
  [InvalidArgumentException]
  Could not find package "container-interop/container-interop" in your project
----------

I tried requiring it manually and gut this:

----------
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - R

[2022-03-04 12:26] vanaf1979 commented on #398
Just to be sure i didnt mess anything up i just ran a complete fresh install of zero and i get the same thing.

[2022-03-04 13:22] vanaf1979 commented on #398
Yes that did the trick. Thank you. :)

Is this something that needs fixing in zero or other package? Or is it some issue on my side that i should be aware of?

[2022-03-04 13:38] owenvoke commented on #398
I think technically `laminas-servicemanager` would need to be updated to work with `2.x` of `psr/container` (however I don't think that's possible at the moment, and I know they are wanting to migrate). Overall, I think maybe it should be a fix to Laravel Zero so that it allows upgrading, however I think it's more Composer that results in the issue.

[2022-03-04 13:59] vanaf1979 commented on #398
Sounds fair. At least we (Meaning you) found a solution for the meanwhile. :)

Can i just say that i watched the Laravel origin documentary the other day, and in it people seem to agree that the Laravel community is very open and welcoming! Well... You sure showed that today! Thanks you very much for your help! :)

[2022-03-07 10:25] owenvoke commented on #398
I'm going to close this for now, and maybe add debugging details to the documentation.

[2022-03-07 10:25] #398 closed

[2022-03-23 02:50] Healyhatman opened #399 "Generated _ide_helper for Facades doesn't show FQN for @throws"
When a facade method has @throws docblocks they are included in the _ide_helper.php reference as-is. So if you replace the qualifiers with an import to for example have @throws MyException instead of @throws \App\Exceptions\MyException the 'use' statement isn't imported anywhere and the IDE doesn't understand that it's supposed to watch out for that exception.

[2022-03-23 08:13] owenvoke commented on #399
Is this an issue with the IDE Helper or with Laravel Zero? 🤔 Does the same apply for a standard Laravel app?

[2022-03-23 21:14] Healyhatman commented on #399
Sorry I don't know how I ended up here this was supposed to be posted on the ide helper repo

[2022-03-23 21:14] #399 closed

[2022-03-29 22:47] dib258 opened #400 "Phar binary cannot find Application when building app for standalone"
Hello,

Following [the documentation regarding the build of a standalone app](https://laravel-zero.com/docs/build-a-standalone-application#distribute-via-packagist), I found myself having a bug already described here https://github.com/laravel-zero/laravel-zero/issues/307 on this repository.

The phar was working fine until I moved the `laravel-zero/framework` to `require-dev`

Here's my `box.json

[2022-03-30 08:59] owenvoke commented on #400
You'll need to add `"exclude-dev-files": false,` to your Box configuration as well as `exclude-composer-files`. 👍🏻

[2022-03-30 09:07] dib258 commented on #400
Wow didn't see no difference, I read this file at least 10 times! Thank you for you quick answer @owenvoke
The fix still works!

[2022-03-30 09:07] #400 closed

[2022-03-31 12:24] jwhulette opened #401 "Hidden commands showing in production build"
When compiling the phar the commands listed in the hidden section still show in the list.
I created a new cli application, built the phar and the following commands are shown:
➜  movie-cli cd builds/
➜  builds php application

  Application  unreleased

  USAGE: application <command> [options] [arguments]

  inspire       Display an inspiring quote
  test          Run the application tests

  sche

[2022-04-02 19:04] owenvoke commented on #401
I was trying to work this out the other day, you can add the following into your `AppServiceProvider` as a temporary workaround.
https://github.com/owenvoke/rugby-schedule/blob/main/app/Providers/AppServiceProvider.php#L18-L22

However, it seems that this command doesn't show up when receiving the list of all Artisan commands in this code:
https://github.com/laravel-zero/framework/blob/master/src/

[2022-04-04 12:26] jwhulette commented on #401
@owenvoke This does work, thank you. But unfortunately it also hides the self-update command. Not sure why.

[2022-04-04 13:41] chrisvasey opened #402 "php [application] app:install logo - composer dependency issue with PHP8"
Hello!

Just ran into the following on a fresh Zero app running PHP 8.0,17.
When running `php [application] app:install logo`, the CLI attempts to install `laminas/laminas-text "^2.9"` and gets the following error:
[code]

I had a look on the [laminas-text repo](https://github.com/laminas/laminas-text) and found the recently updated to support PHP 8.12 [here](https://github.com/laminas/laminas-tex

[2022-04-04 20:06] owenvoke commented on #402
`I think this is the same sort of issue as https://github.com/laravel-zero/laravel-zero/issues/398#issuecomment-1059133615, do you mind trying those steps (i.e. removing the lock file, and then requiring `laminas/laminas-text` manually)?`

[2022-04-05 09:30] hugovntr opened #403 "[Info] Accessing Internal and External filesystem with Storage facade"
Hi everyone 👋

I started using Laravel Zero recently and I faced an issue that I could not, for the life of me, seem to fix. And that is accessing "internal" files with the Storage facade. It was working well when the app was not bundled into a **Phar**. I saw this issue #177 where people were experimenting with the `Phar::runing()` function and after a lot of debugging I think I found a viable so

[2022-04-06 12:14] MarkAusten opened #404 "PostgreSQL Cannot Find Driver problem."
I have a peculiar problem with LZ that I cannot figure out. I develop on a MacBook Air and have php 8.1 installed with both pgsql and pdf_pgsql drivers installed. I have verified that these work by connecting to a PostgreSQL database using a standard Laravel application. So all the appropriate configuration files are set up correctly, the drivers located and installed.

However, trying to connect

[2022-04-07 05:56] mathewp-maxamation opened #405 "LaravelZero build using Bitbucket Pipelines"
I am trying to setup auto build using bitbucket pipelines for my Laravel Zero application.

My pipeline definition goes like this:

[code]

However it fails at `app:build` command:

[code]

Has anyone been able to successfully build Laravel Zero app using BB Pipelines?

This works absolutely fine on my laptop. Do you think I am missing something in my pipeline definition?

[2022-04-08 04:36] mathewp-maxamation commented on #405
Figured it out. I had to install php7.3-intl as well. All is good now.

[2022-04-08 04:36] #405 closed

[2022-04-10 11:40] caendesilva commented on #383
Want to chime in here with what I ended up doing. Was having unreliable results with the Git based versioning when installing through Composer so I ended up binding the Composer release in my service provider.

[code]

![image](https://user-images.githubusercontent.com/95144705/162616305-14c10493-136e-432c-a460-1534abb8a92e.png)

[2022-04-12 19:27] surgiie opened #406 "Scheduler Not Registering Commands"
I cannot seem to get scheduler to register any commands, it also seems like it happens on a fresh install

### Reproducing Steps

Following the install instructions on the docs:

` composer create-project --prefer-dist laravel-zero/laravel-zero movie-cli`

Make command:

`cd movie-cli && php application make:command ExampleCommand`

Add schedule on the command:
[code]
Listing schedule shows it has

[2022-04-12 19:59] caendesilva commented on #401
What I ended up doing, as did not know about the `AppServiceProvider` trick, was putting `$this->setHidden(true);` in my command constructors. This may not work for you @jwhulette as you want to hide vendor commands, but may be helpful for others who want more granular control.

[code]

[2022-04-13 04:41] hsmfawaz commented on #406
I have the same issue

[2022-04-14 08:48] manuth opened #407 "Test Command is Showing in Build Output"
The `test` command is showing in the build command despite the fact of the `TestCommand` being listed as a `$developmentOnlyCommands`:
https://github.com/laravel-zero/framework/blob/e9bdb5e1338c4c874be9cb6c902c5fbc5a58e02e/src/Kernel.php#L50-L52

Thus, I don't think this is intended.

Probably related to #401

[2022-04-14 08:58] manuth commented on #407
Inspired by the workaround presented in #401, I found myself able to work around this issue by adding the following snippet to my `AppServiceProvider`'s `boot`-method:

[code]

[2022-04-14 21:53] caendesilva commented on #407
Looks like a good workaround! Thanks for sharing.

[2022-04-17 00:10] sebastiaanluca commented on #406
Just set up a Laravel Zero project and was wondering why this wasn't working.

It seems to register only package commands, nothing in `app/Commands`:

[code]

[2022-04-17 15:10] manuth opened #408 "Commands Are Manipulated Incorrectly"
This is a follow-up of #401 and #407 as these both are symptoms of the very same issue.

### Description
Commands which aren not intended to be visible (such as the `TestCommand` and commands in the `commands.hidden` setting) are visible in the `production` environment.

### Steps to reproduce
1. Create a `laravel-zero/laravel-zero` with `laravel/framework` `v9.1.1` in it.
2. Make sure that the `h

[2022-04-17 15:10] manuth commented on #407
Closed in favor of #408
Sorry for the confusion

[2022-04-17 15:10] #407 closed

[2022-04-17 15:17] manuth commented on #407
@caendesilva you might want to look at my new suggested workaround in #408.
Though, it's a little more verbose, but it stays the most true to the way `laravel-zero` works.

Calling `Artisan::all()` in the `boot()`-method causes all other `ServiceProviders` to inject their commands incorrectly.
This isn't the case in my new workaround.

Hope this helps 😄

[2022-04-17 22:26] manuth commented on #406
@surgiie This is related to issue #408 I have opened a few hours ago.
Basically, `laravel-zero` tries to preprocess all commands in a point in time where lazy loaded commands aren't accessible.

I'll update the workaround in #408 immediately to include scheduling.
Hope I could help 😄

[2022-04-17 22:56] manuth commented on #355
This might be related to issue #408
You might want to try the workaround I posted there.

[2022-04-27 15:20] ghost opened #410 "Undefined property $unexpectedOutputSubstrings"
Hi

laravel-zero/framework: v9.1.1
php: v8.1
using docker image: php:8.1-cli

My tests are failing when running my tests through pest on laravel zero.

I believe this breaks any test using the expectsOutputToContain function.

I think the solution is just that InteractsWithConsole trait is missing:

/**
   * All of the text that is not expected to be present in the output.
   *
   * @var array

[2022-04-27 15:25] owenvoke commented on #410
Can you check what version of the Foundation you are using with the following command?

[code]

It should show the installed version at the top under `versions`. The `InteractsWithConsole` trait was added in Laravel Zero Foundation 9.2.0 🙂

[2022-04-27 15:29] oreillysean commented on #410
Hi

name     : laravel-zero/foundation
descrip. : This is a mirror from illuminate/foundation.
keywords : framework, laravel
versions : * v9.9.0
type     : library
license  : MIT License (MIT) (OSI approved) https://spdx.org/licenses/MIT.html#licenseText
homepage :
source   : [git] https://github.com/laravel-zero/foundation.git 0294c6885b8a6e4073a374e928a35dbf0f0f0ab8
dist     : [zip] https://api.

[2022-04-27 15:33] owenvoke commented on #410
Damn, I hadn't seen there was another release (9.10.0). I only just released 9.9.0 earlier. 😬  Will get that released in a sec!

[2022-04-27 15:35] oreillysean commented on #410
Yes it is just mismatched with illuminate testing

name     : illuminate/testing
descrip. : The Illuminate Testing package.
keywords :
versions : * v9.10.0
type     : library
license  : MIT License (MIT) (OSI approved) https://spdx.org/licenses/MIT.html#licenseText
homepage : https://laravel.com
source   : [git] https://github.com/illuminate/testing.git 0fec8cb1f13383fb29b6e85171cbbc7c00119c7c
dis

[2022-04-27 15:36] oreillysean commented on #410
@owenvoke major thanks. Sorry for not making a PR to fix.

[2022-04-27 15:43] #410 closed, assigned to nobody

[2022-05-18 14:21] EsoCoding opened #412 "logo addon is not ready for php8.*"
![image](https://user-images.githubusercontent.com/2956337/169057363-402baf60-72b1-404e-89ee-b0695cfd9952.png)

It seems logo addon fails when using ^php8.0. It only works if laravel-zero is installed with php7.4.

[2022-05-18 14:30] owenvoke commented on #412
I think this is the same sort of issue as https://github.com/laravel-zero/laravel-zero/issues/398#issuecomment-1059133615, do you mind trying those steps (i.e. removing the lock file, and then requiring `laminas/laminas-text` manually)?

[2022-05-19 08:21] EsoCoding commented on #412
Weird, yesterday i did try the same without having success. Even did a fresh install with php7.4 and 8.0, even tweaked the composer file, but whatever i did, it failed. But now doing the same thing again, it suddenly installed with success. Still had a error from laravel-zero on installing, but think that was because there already was a logo configuration file... After deleting it and reinstalling

[2022-05-19 08:36] owenvoke commented on #412
Yeah, it's an issue with the Laminas Text component only supporting `psr/container:^1.x`, I can't see any way to really resolve this. But I guess it'd probably be worth me adding it to the docs as a note / troubleshooting step. 👍🏻

[2022-05-19 10:52] EsoCoding commented on #412
Been playing around. After adding "psr/container": "^1.1.1" to the root composer.json and after updating composer. I could install logo module without problem.

I think the problem can be found here:

![image](https://user-images.githubusercontent.com/2956337/169275776-df84f23e-6383-4bff-9782-c0b66cddba84.png)

When trying to remove psr/container i get this error:

![image](https://user-images.git

[2022-05-19 11:13] EsoCoding commented on #412
When cloned from github and `psr/container` added to composer.json, that same command gives me this:

![image](https://user-images.githubusercontent.com/2956337/169280638-57c57c05-7be4-4eef-a95b-2b0217570e34.png)

[2022-05-29 23:22] EsoCoding opened #414 "Building standalone phar file fails"
Hey, i was trying to build the standalone phar file and when using -v, it says:
![image](https://user-images.githubusercontent.com/2956337/170895233-c473b551-32d8-4c59-bfc4-7601a10d9489.png)
and:
![image](https://user-images.githubusercontent.com/2956337/170895302-0b3d1bef-5774-48a4-881e-5200135b3dd8.png)

Also created a new project, but returns same error. Probably something to do with permission

[2022-05-30 11:29] EsoCoding commented on #414
Never mind, solved it by giving execute permission on the box file: `chmod +x ./vendor/laravel-zero/framework/bin/box compile`

[2022-05-30 12:17] owenvoke commented on #414
Glad you resolved it, that should be executable by default when it's installed though. 🤔

[2022-05-30 12:17] #414 closed

[2022-06-08 00:01] robertmarney opened #416 "[Support] Cannot Hide db:wipe command"
Apologies if this has been asked before, I am trying to build a phar for dsitribution that will ship with a migrated db.

I am trying to hide db:wipe from the command list when the application is called, I have added `Illuminate\Database\Console\WipeCommand::class` to either and then both of the `hidden` and `remove` arrays in `commands.php` with no luck

[2022-06-15 17:07] nickpoulos opened #417 "Fatal error: Uncaught Error: Failed opening required 'bootstrap/app.php'"
I am stuck on a weird error within my production Laravel Zero app, I am hoping somebody can help.

In development the command works as expected.  Everything also builds successfully after running `app:build`.  I am able to install successfully via Composer, the binary is linked correctly, etc.

However when I run the production command I get the following:

[code]

Here is all of the source with c

[2022-06-16 09:58] owenvoke commented on #417
I have tried your repository locally and it appears to be working correctly. 🤔 As well as when installed via Composer, or using the Phar directly. ☹️

[2022-06-16 12:22] nickpoulos commented on #417
Thank you @owenvoke I appreciate you taking the time to pull it down.

I ended up getting things to work very last night.  I believe my box.json was not up to date or corrupted somehow, because after rebuilding the phar, removing my global Composer `/vendor/` folder, and re-running `composer install`, things now seem to be working for me as well.

[2022-06-20 12:31] joaquimds opened #418 "Syntax error in laravel-zero/foundation"
There is an error in  `laravel-zero/foundation/src/Illuminate/Foundation/Console/RouteListCommand.php`.

The error is at line 269:

    ($this->option('except-vendor') && $route['vendor'])) ||

It should have one less bracket:

    ($this->option('except-vendor') && $route['vendor']) ||

I would make a PR but I don't have access to the foundation repo. Thanks!

[2022-06-20 13:15] #418 closed

[2022-06-20 13:17] owenvoke commented on #418
Hi @joaquimds, thank you for pointing this out. 😬 My mistake, I really need to automate the mirroring with patch files or something... And add some testing over on the Foundation repository.

[2022-06-21 06:26] owenvoke commented on #173
@zayedadel, the menu component is not compatible with Windows. There's not much we can do about this as it relies on POSIX functionality.

[2022-06-27 11:00] #417 closed

[2022-06-29 21:00] chrisbradleydev commented on #416
I ran into the same issue today.

[2022-07-02 14:41] bilogic commented on #386
I'm still stuck on this, appreciate some help. Thank you!

[2022-07-04 22:58] owenvoke commented on #386
Hi, sorry for the (very) delayed reply, looks like I never received a notification. What is the contents of your `box.json`? And, if possible, do you have a minimal example of your repository so I can investigate (no worries if not)? 🤔

[2022-07-05 13:52] bilogic commented on #386
@owenvoke thanks, I managed to identify the issue shortly after the 2nd message. I was using symlinks for my `vendor` packages.

[2022-07-05 13:52] #386 closed

[2022-07-05 14:28] owenvoke commented on #386
Glad you managed to sort it. 👍🏻

[2022-07-05 20:09] mattstauffer opened #420 "How to check if I'm in a testing environment"
In Laravel, I would normally use one of these methods to check if I'm in a testing environment:

- `\App\environment() === 'testing'`
- `config('app.env') === 'testing'`
- `\App::runningUnitTests()`

But in Laravel Zero, the first two come back as `development` and the third is `false`.

What's the Laravel Zero idiomatic way to fix this?

Thanks!

[2022-07-05 20:19] mattstauffer commented on #420
What I've done that *worked*, but I didn't know if it was *preferred*:

1. Add this block to the bottom of `phpunit.xml.dist`, right before `</phpunit>`:

[code]

2. Update the `env` key in `config/app.php` to this:

[code]

[2022-07-05 20:46] nunomaduro commented on #420
@owenvoke Do know why this is not working on Laravel Zero? Couldn't find the reason.

[2022-07-05 21:35] owenvoke commented on #420
I think this is defaulted to `development` because it is replaced with `production` in-place during the build process. I'd say that @mattstauffer's solution is probably the easiest way to resolve this. 🤔

[2022-07-07 18:57] etyson17 commented on #416
I am running into the same issue.

[2022-07-07 19:24] nunomaduro commented on #416
@robertmarney @chrisbradleydev @etyson17 Can one of you work on pull request please?

[2022-07-08 15:10] chrisbradleydev commented on #416
@nunomaduro would you please point us in the right direction?

Is this functionality in the framework repository?

[2022-07-11 19:52] etyson17 commented on #416
@nunomaduro I have been able to hide the db:wipe command by removing the `protected static $defaultName = 'db:wipe';` and `#[AsCommand(name: 'db:wipe')]`.

Is there a test I can run to ensure this is not going to break anything?

https://github.com/illuminate/database/blob/9.x/Console/WipeCommand.php#L10-L31

[2022-07-13 13:57] etyson17 commented on #416
It appears that lines 7 & 10 were added back in April but I am unsure why. Any clarification would be extremely helpful.

Here is where they were added:
https://github.com/laravel/framework/pull/41982

[2022-07-16 14:50] mugennsou commented on #416
Hello @nunomaduro , I just fix this issue and make a [pull request](https://github.com/laravel-zero/framework/pull/465), could you have a look? Thank you.

[2022-07-19 02:46] necrogami opened #421 "vendor:publish --provider not found"
[code]

When following the manual for updating the updater strategy it tells us to vendor publish the updater so we can update the config. However trying to execute the command comes up that it doesn't exist.

[2022-07-19 14:45] ryangjchandler opened #422 "Access level to LaravelZero\Framework\Commands\InstallCommand::$components must be protected (as in class Illuminate\Console\Command) or weaker"
Had this on a brand new project. Seems like the visibility is conflicting with the `$components` property defined in the `InteractsWithIO` trait.

[2022-07-19 15:14] avfigueredo commented on #422
I'm getting the same error.

[2022-07-19 15:26] #422 closed

[2022-07-19 15:35] owenvoke commented on #422
Can you try updating to [v9.1.2](https://github.com/laravel-zero/framework/commit/bfb3b8adc23fbb92d4c7fddde79ce4da6989ad54), if you have any issues, feel free to let me know. 👍🏻

[2022-07-19 15:50] ryangjchandler commented on #422
Thanks @owenvoke :)

[2022-08-01 14:05] theVosCache commented on #421
+1

It looks like the whole "vendor:publish" command is not loaded

[2022-08-17 02:28] bilogic opened #423 "Show version when building"
I use `-n` to script my builds. Possible to show the version when building?
This will serve as gentle check back that I did remember to tag my commit.

Thank you.

[2022-08-19 10:59] owenvoke commented on #421
Hi, it looks like this was removed accidentally (or intentionally, @nunomaduro?) in this commit [`3b351ca`](https://github.com/laravel-zero/laravel-zero/commit/3b351caf6a78983b92dbd8be939a3b89db55510d#diff-c777e2a3a26868d9f361dcadefdb881c193eac8510b243f39d008b0bfb9878e6L62). I've re-added this in https://github.com/laravel-zero/laravel-zero/commit/f5454bda728c69f078590422b49e244bc3447119. 👍🏻

Howe

[2022-08-22 10:44] owenvoke commented on #421
Closed as part of v9.1.3 👍🏻

[2022-08-22 10:44] #421 closed

[2022-08-24 08:36] amikron opened #424 "Command schedule:run not working after build"
### Description

After building application with app:build running command `php application schedule:run` on PHAR runs commands, but they are not executed correctly,

### Steps to reproduce

1. Create new application with `composer create-project --prefer-dist laravel-zero/laravel-zero application`.
2. Install logging support with `php application app:install log`.
3. Set default logging channel i

[2022-08-26 09:36] owenvoke commented on #416
Hi @robertmarney, this should now be resolved in the latest version of the framework. 👍🏻 (At least, using `hidden`). Let me know if you have any further issues.

[2022-08-26 09:36] #416 closed

[2022-08-29 09:51] #361 closed

[2022-08-29 09:51] nunomaduro commented on #361
No plans for this.

[2022-10-26 20:05] Dibbyo456 opened #429 ""php app-name schedule:work" does not work"
Is it not included?

[2022-11-05 23:15] mortenscheel opened #430 "[Feature request] Make it easier to style command help-text with Termwind"
If Symfony commands have a `protected $help` attribute defined, it will render this text in an extra "Help:" section at the bottom when invoking the command with `--help`. This text can be multi-line, and it doesn't have to follow any specific format.

I was able to get Termwind to render the contents of `$help` like this:
[code]
It would be awesome if this could be made easier, both in Zero and i

[2022-11-10 12:16] underdpt commented on #193
I'm being bitten by this.

I've tracked down the issue to the chromedriver being installed on `vendor/laravel/dusk/bin/`, and while this is being included on the phar file, it cannot be launched.

I've been looking a way to make this work, and I think there are two possible ways:

1. Being able to modify the installation path for the chromedriver. This would involve patching upstream `laravel/dusk

[2022-11-15 16:35] fabd opened #431 "Invalid parsing of an argument (not an option) that start with a dash ?"
Hey there

I'm not sure if this is on my end or an actual issue ... this is the first time I'm using laravel zero.

It's really awesome and I quickly started making a simple CLI app that uses Youtube API.

So one of my commands has this at the beginning of the class:

[code]

So if I do the following it works

    ./cliapp get-video MXDF0wVcWfA

However the following fails with a big red error mes

[2022-11-16 11:44] anggerari opened #432 "Hashing class not found"
![image](https://user-images.githubusercontent.com/21980273/202171731-a19c0479-5318-49a8-a521-89390a7d13d1.png)
I want to run the seeder with Hash::make() function but it is not found.

I have already imported this:
`use Illuminate\Support\Facades\Hash;`

but it still does not work. any ideas?

[2022-11-16 15:58] insperedia opened #433 "Default environment should be proudction"
The default environment should be "production" as it is in the original Laravel code.
The reason for this is that ConfirmableTrait protects the database in production.
If we accidentally run tests on with production .env RefreshDatabase trait will drop the database.

[2022-11-16 16:15] owenvoke commented on #433
The default is development so that you can easily use all commands when developing your application, when running `app:build` to create a production Phar, this process sets `app.env` to `production`. 🤷🏻 As far as I know, Laravel Zero is intended to be used with Phars in production.

[2022-11-21 14:55] fabd commented on #431
Hmm after Google'in around I see it can work like this :

    ./cliapp get-video -- -wPg1tNEWmo

Fair enough although I'm not sure why quoting the `'argument'` shouldn't work to escape the parsing of the dash but then again I am not a bash/shell script expert so there may be good reasons for it.

[2022-11-30 07:41] sszymkowicz opened #434 "App does not work after build"
Basically nothing happens after my application is build by `app:build` command.

My steps to reproduce:

Input:
[code]

Output:
[code]

Input:
[code]

Output is empty

Input:
[code]

Output:
[code]

***Expected result:***
My command (or any other command) possible to use after app:build

***Actual result:***
No command possible to use after app:build